{{template "base/head" .}}
<div class="repository wiki pages">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="ui header">
			{{.i18n.Tr "repo.wiki.pages"}}
			<div class="ui right">
				<a class="ui green small button" href="{{.RepoLink}}/wiki/_new">{{.i18n.Tr "repo.wiki.new_page_button"}}</a>
			</div>
		</div>
		<table class="ui table">
			<tbody>
				{{range .Pages}}
					<tr>
						<td>
							<i class="octicon octicon-file-text"></i>
							<a href="{{$.RepoLink}}/wiki/{{.URL}}">{{.Name}}</a>
						</td>
						{{$timeSince := TimeSince .Updated $.Lang}}
						<td class="text right grey">{{$.i18n.Tr "repo.wiki.last_updated" $timeSince | Safe}}</td>
					</tr>
				{{end}}
			</tbody>
		</table>
	</div>
</div>
{{template "base/footer" .}}
