{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="body" class="container">
	<p>An error is occurred : {{.ErrorMsg}}</p>
	<p>Application Version: {{AppVer}}</p>
</div>
{{template "base/footer" .}}