{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="gogs-body" class="container">
    <h4>This page is not found !</h4>
    <p>Application Version: {{AppVer}}</p>
</div>
{{template "base/footer" .}}