{{template "base/head" .}}
<div class="ui container center" style="padding-top: 30px">
	<h1 style="font-size: 7em; margin-bottom: 0.5em; color: #cc0000;">500</h1>
	<h2 style="font-size: 2em; color: #666">Oops! Something went wrong on our end.</h2>

	<hr>

	{{if .ErrorMsg}}<p>An error has occurred : {{.ErrorMsg}}</p>{{end}}
	{{if .IsAdmin}}<p>Application Version: {{AppVer}}</p>{{end}}
</div>
{{template "base/footer" .}}
