{{template "base/head" .}}
<div class="ui container center">
	<p style="margin-top: 100px"><img src="{{AppSubURL}}/img/500.png" alt="500"/></p>
	<div class="ui divider"></div>
	<br>
	{{if .ErrorMsg}}<p>An error has occurred : {{.ErrorMsg}}</p>{{end}}
	{{if .ShowFooterVersion}}<p>Application Version: {{AppVer}}</p>{{end}}
</div>
{{template "base/footer" .}}
