{{template "base/head" .}}
<div class="admin new user">
	<div class="ui container">
		<div class="ui grid">
			{{template "admin/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "admin.users.new_account"}}
				</h4>
				<div class="ui attached segment">
					<form class="ui form" action="{{.Link}}" method="post">
						{{.CSRFTokenHTML}}
						<!-- Types and name -->
						<div class="inline required field {{if .Err_LoginType}}error{{end}}">
							<label>{{.i18n.Tr "admin.users.auth_source"}}</label>
							<div class="ui selection type dropdown">
								<input type="hidden" id="login_type" name="login_type" value="{{.login_type}}" data-password="required" required>
								<div class="text">{{.i18n.Tr "admin.users.local"}}</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									<div class="item" data-value="0-0">{{.i18n.Tr "admin.users.local"}}</div>
									{{range .Sources}}
										<div class="item" data-value="{{.Type}}-{{.ID}}">{{.Name}}</div>
									{{end}}
								</div>
							</div>
						</div>
						<div class="required non-local field {{if .Err_LoginName}}error{{end}} {{if eq .login_type "0-0"}}hide{{end}}">
							<label for="login_name">{{.i18n.Tr "admin.users.auth_login_name"}}</label>
							<input id="login_name" name="login_name" value="{{.login_name}}">
						</div>
						<div class="required field {{if .Err_UserName}}error{{end}}">
							<label for="user_name">{{.i18n.Tr "username"}}</label>
							<input id="user_name" name="user_name" value="{{.user_name}}" autofocus required>
						</div>
						<div class="required field {{if .Err_Email}}error{{end}}">
							<label for="email">{{.i18n.Tr "email"}}</label>
							<input id="email" name="email" type="email" value="{{.email}}" required>
						</div>
						<input class="fake" type="password">
						<div class="required local field {{if .Err_Password}}error{{end}} {{if not (eq .login_type "0-0")}}hide{{end}}">
							<label for="password">{{.i18n.Tr "password"}}</label>
							<input id="password" name="password" type="password" value="{{.password}}" {{if eq .login_type "0-0"}}required{{end}}>
						</div>

						<!-- Send register notify e-mail -->
						{{if .CanSendEmail}}
							<div class="inline field">
								<div class="ui checkbox">
									<label><strong>{{.i18n.Tr "admin.users.send_register_notify"}}</strong></label>
									<input name="send_notify" type="checkbox" {{if .send_notify}}checked{{end}}>
								</div>
							</div>
						{{end}}

						<div class="field">
							<button class="ui green button">{{.i18n.Tr "admin.users.new_account"}}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
