{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="admin-wrapper">
    <div id="setting-wrapper" class="main-wrapper">
        <div id="admin-setting" class="container clear">
            {{template "admin/nav" .}}
            <div class="grid-4-5 left">
                <div class="setting-content">
                    {{template "ng/base/alert" .}}
                    <div id="setting-content">
                        <div class="panel panel-radius">
                            <div class="panel-header">
                                <strong>{{.i18n.Tr "admin.users.new_account"}}</strong>
                            </div>
                            <form class="form form-align panel-body" id="repo-setting-form" action="{{AppSubUrl}}/admin/users/new" method="post">
					            {{.CsrfTokenHtml}}
                                <div class="field">
                                    <label class="req">{{.i18n.Tr "admin.users.auth_source"}}</label>
                                    <select id="login-type" name="logintype">
                                        <option value="0-0">{{.i18n.Tr "admin.users.local"}}</option>
                                        {{range $key, $val := .LoginSources}}
                                        <option value="{{$val.Type}}-{{$val.Id}}">{{$val.Name}}</option>
                                        {{end}}
                                    </select>
                                </div>
                                <div class="field auth-name hidden">
                                    <label class="req" for="loginname">{{.i18n.Tr "admin.users.auth_login_name"}}</label>
                                    <input class="ipt ipt-large ipt-radius {{if .Err_LoginName}}ipt-error{{end}}" id="loginname" name="loginname" value="{{.loginname}}" />
                                </div>
                                <div class="field">
                                    <label class="req" for="username">{{.i18n.Tr "username"}}</label>
                                    <input class="ipt ipt-large ipt-radius {{if .Err_UserName}}ipt-error{{end}}" id="username" name="uname" type="text" value="{{.uname}}" required />
                                </div>
                                <div class="field">
                                    <label class="req" for="email">{{.i18n.Tr "email"}}</label>
                                    <input class="ipt ipt-large ipt-radius {{if .Err_Email}}ipt-error{{end}}" id="email" name="email" type="email" value="{{.email}}" required/>
                                </div>
                                <div class="field pwd">
                                    <label class="req" for="password">{{.i18n.Tr "password"}}</label>
                                    <input class="ipt ipt-large ipt-radius {{if .Err_Password}}ipt-error{{end}}" id="password" name="password" type="password" value="{{.password}}" required/>
                                </div>
                                <div class="field">
                                    <label class="req" for="re-type">{{.i18n.Tr "re_type"}}</label>
                                    <input class="ipt ipt-large ipt-radius {{if .Err_Password}}ipt-error{{end}}" id="re-type" name="retype" type="password" required/>
                                </div>
                                <div class="field">
                                    <label></label>
                                    <button class="btn btn-blue btn-large btn-radius">{{.i18n.Tr "admin.users.new_account"}}</button>
                                </div>
				            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "ng/base/footer" .}}