{{template "base/head" .}}
{{template "base/navbar" .}}
{{template "repo/nav" .}}
{{template "repo/toolbar" .}}
<div id="body" class="container">
    {{template "repo/setting_nav" .}}
    <div id="repo-setting-container" class="col-md-10">
        {{template "base/alert" .}}
        <div class="panel panel-default">
            <div class="panel-heading">
                Collaborators
            </div>
            
            <div class="panel-body">
                <ul id="repo-collab-list" class="list-unstyled">
                    {{range .Collaborators}}
                    <li class="collab">
                        {{if not (eq .LowerName $.Owner.LowerName)}}<a href="{{$.RepoLink}}/settings/collaboration?remove={{.Name}}" class="remove-collab pull-right"><i class="fa fa-times"></i></a>{{end}}
                        <a class="member" href="/user/{{.Name}}">
                            <img alt="{{.Name}}" class="pull-left avatar" src="{{.AvatarLink}}">
                            <strong class="access-member-fullname">{{.FullName}}</strong><br/>
                            {{.Name}}
                        </a>
                    </li>
                    {{end}}
                </ul>
            </div>

            <div class="panel-footer">
                <form action="{{.RepoLink}}/settings/collaboration" method="post" class="form-horizontal" id="repo-collab-form">
                    {{.CsrfTokenHtml}}
                    <div class="form-group" style="margin-bottom: 0">
                        <div class="col-md-4">
                            <input type="text" name="collaborator" class="form-control dropdown-toggle" id="repo-collaborator" autocomplete="off" required="required" data-toggle="dropdown"/>
                            <div class="dropdown-menu">
                                <ul class="list-unstyled"></ul>
                            </div>
                        </div>
                        <button class="col-md-2 btn btn-primary">Add collaborator</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{{template "base/footer" .}}