{{template "base/head" .}}
{{template "base/navbar" .}}
{{template "repo/nav" .}}
{{template "repo/toolbar" .}}
<div id="body" class="container">
  {{template "repo/commits_table" .}}
</div>
{{template "base/footer" .}}
