<div id="commits-list">
    <div class="panel panel-radius">
        <div class="panel-header">
            {{if not .IsDiffCompare}}
            <form class="search pull-right" action="{{.RepoLink}}/commits/{{.BranchName}}/search" method="get" id="commits-search-form">
                <input class="ipt ipt-radius" type="search" name="q" placeholder="{{.i18n.Tr "repo.commits.search"}}" value="{{.Keyword}}" />
                <button class="btn btn-black btn-small btn-radius">{{.i18n.Tr "repo.commits.find"}}</button>
            </form>
            {{end}}
            <h4>{{.CommitCount}} {{.i18n.Tr "repo.commits.commits"}}</h4>
        </div>
        <table class="panel-body table commit-list table-striped">
            <thead>
                <tr>
                    <th class="author">{{.i18n.Tr "repo.commits.author"}}</th>
                    <th class="sha">SHA1</th>
                    <th class="message">{{.i18n.Tr "repo.commits.message"}}</th>
                    <th class="date">{{.i18n.Tr "repo.commits.date"}}</th>
                </tr>
            </thead>
            <tbody>
            {{ $username := .Username}}
            {{ $reponame := .Reponame}}
            {{$r := List .Commits}}
            {{range $r}}
            <tr>
                <td class="author">
                    {{if .User}}
                    <img class="avatar-20" src="{{.User.AvatarLink}}" alt=""/>&nbsp;&nbsp;&nbsp;<a href="{{AppSubUrl}}/{{.User.Name}}">{{.Author.Name}}</a>
                    {{else}}
                    <img class="avatar-20" src="{{AvatarLink .Author.Email}}" alt=""/>&nbsp;&nbsp;&nbsp;{{.Author.Name}}
                    {{end}}
                </td>
                <td class="sha"><a rel="nofollow" class="label label-green" href="{{AppSubUrl}}/{{$username}}/{{$reponame}}/commit/{{.Id}} ">{{SubStr .Id.String 0 10}} </a></td>
                <td class="message"><span class="text-truncate">{{RenderCommitMessage .Summary $.RepoLink}}</span></td>
                <td class="date">{{TimeSince .Author.When $.Lang}}</td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
    {{if and (not .IsSearchPage) (not .IsDiffCompare)}}
    <ul class="pagination">
        {{if .LastPageNum}}<li><a class="btn btn-medium btn-gray btn-radius" href="{{.RepoLink}}/commits/{{.BranchName}}{{if .FileName}}/{{.FileName}}{{end}}?p={{.LastPageNum}}" rel="nofollow">&laquo; {{.i18n.Tr "repo.commits.newer"}}</a></li>{{end}}
        {{if .NextPageNum}}<li><a class="btn btn-medium btn-gray btn-radius" href="{{.RepoLink}}/commits/{{.BranchName}}{{if .FileName}}/{{.FileName}}{{end}}?p={{.NextPageNum}}" rel="nofollow">&raquo; {{.i18n.Tr "repo.commits.older"}}</a></li>{{end}}
    </ul>
    {{end}}
</div>
