{{template "base/head" .}}
{{template "base/navbar" .}}
<div class="container" id="gogs-body">
    <form action="/repo/create" method="post" class="form-horizontal gogs-card" id="gogs-repo-create">
        <h3>Create New Repository</h3>
        <div class="form-group">
            <label class="col-md-2 control-label">Owner<strong class="text-danger">*</strong></label>
            <div class="col-md-8">
                <p class="form-control-static">{{.UserName}}</p>
                <input type="hidden" value="{{.UserId}}" name="userId"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Repository<strong class="text-danger">*</strong></label>
            <div class="col-md-8">
                <input name="repo" type="text" class="form-control" placeholder="Type your repository name">
                <span class="help-block">Great repository names are short and memorable. </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Visibility<strong class="text-danger">*</strong></label>
            <div class="col-md-8">
                <p class="form-control-static">Public</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Description</label>
            <div class="col-md-8">
                <textarea name="desc" class="form-control" placeholder="Type your repository name"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Language</label>
            <div class="col-md-8">
                <select class="form-control" name="language">
                    <option value="">Select a language</option>
                    <option value="ActionScript">ActionScript</option>
                    <option value="C#">C#</option>
                    <option value="Google Go">Google Go</option>
                    <option value="Java">Java</option>
                    <option value="PHP">PHP</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-8 col-md-offset-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="true" name="init-md">
                        <strong>Initialize this repository with a README</strong>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button type="submit" class="btn btn-lg btn-primary">Create repository</button>
                <a href="/" class="text-danger">Cancel</a>
            </div>
        </div>
    </form>
</div>
{{template "base/footer" .}}