{{template "base/head" .}}
{{template "base/navbar" .}}
<div class="container" id="body">
    <form action="/repo/create" method="post" class="form-horizontal card" id="repo-create">
        {{.CsrfTokenHtml}}
        <h3>Create New Repository</h3>
        {{template "base/alert" .}}
        <div class="form-group">
            <label class="col-md-2 control-label">Owner<strong class="text-danger">*</strong></label>
            <div class="col-md-8">
                <div class="btn-group" id="repo-owner-switch">
                    <button type="button" class="btn btn-default" id="repo-owner-current">
                        <img src="{{.ContextUser.AvatarLink}}?s=28" alt="user-avatar" title="username" id="repo-owner-avatar">
                        <span id="repo-owner-name">{{.ContextUser.Name}}</span>
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu clone-group-btn no-propagation">
                        <ul id="dashboard-switch-menu" class="list-unstyled">
                            {{range .AllUsers}}
                            <li data-uid="{{.Id}}"{{if eq .Id $.ContextUser.Id}}class="checked"{{end}}>
                                <a>
                                    <i class="fa fa-check"></i>
                                    <img src="{{.AvatarLink}}?s=28" alt="user-avatar" title="username">
                                    {{.Name}}
                                </a>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>
            <input type="hidden" value="{{.ContextUser.Id}}" name="uid" id="repo-owner-id"/>
        </div>

        <div class="form-group {{if .Err_RepoName}}has-error has-feedback{{end}}">
            <label class="col-md-2 control-label">Repository<strong class="text-danger">*</strong></label>
            <div class="col-md-8">
                <input name="repo" type="text" class="form-control" placeholder="Type your repository name" value="{{.repo}}" required="required">
                <span class="help-block">Great repository names are short and memorable. </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Visibility</label>
            <div class="col-md-8">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="private" {{if .private}}checked{{end}}>
                        <strong>This repository is private</strong>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group {{if .Err_Description}}has-error has-feedback{{end}}">
            <label class="col-md-2 control-label">Description</label>
            <div class="col-md-8">
                <textarea name="desc" class="form-control" placeholder="Type your repository description">{{.desc}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Language</label>
            <div class="col-md-8">
                <select class="form-control" name="language">
                    <option value="">Select a language</option>
                    {{range .LanguageIgns}}<option value="{{.}}">{{.}}</option>{{end}}
                </select>
                <br>
                <div>Need more .gitignore? Go <a href="http://www.gitignore.io/">gitignore.io</a>.</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">License</label>
            <div class="col-md-8">
                <select class="form-control" name="license">
                    <option value="">Select a license</option>
                    {{range .Licenses}}<option value="{{.}}">{{.}}</option>{{end}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-8 col-md-offset-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="initReadme" {{if .initReadme}}checked{{end}}>
                        <strong>Initialize this repository with a README</strong>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button type="submit" class="btn btn-lg btn-primary">Create repository</button>
                <a href="/" class="text-danger">Cancel</a>
            </div>
        </div>
    </form>
</div>
{{template "base/footer" .}}