{{template "base/head" .}}
{{template "base/navbar" .}}
<div class="container">
	<form action="/repo/create" method="post" class="form-horizontal">
		<div class="form-group">
<div class="col-md-offset-4 col-md-3">
				Owner: <input name="userId" type="hidden" value="1"/>lunny
			</div>
			<div class="col-md-offset-4 col-md-3">
		    	repo name: <input name="name" type="text"/>
		    </div>
		    <div class="col-md-offset-4 col-md-3">
		    	description(optional): <input name="desc" type="text"/>
		    	</div>
		    	<div class="col-md-offset-4 col-md-3">
			
			</div>
		    	<div class="col-md-offset-4 col-md-3">
		    	<button type="submit" class="btn btn-info">Create repository</button>
		    </div>
		</div>
	</form>
</div>
{{template "base/footer" .}}