<div id="file-content" class="ui attached table segment">
	<div class="file-view code-view has-emoji">
		<table>
			<tbody>
				<tr>
					<td class="lines-num"></td>
					<td class="lines-code"><pre><code><ol class="linenums">{{.FileContent}}</ol></code></pre></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
