{{template "base/head" .}}
{{template "base/navbar" .}}
{{template "repo/nav" .}}
<div id="body" class="container" data-page="repo">
    <div id="source">
        <div class="panel panel-info diff-box diff-head-box">
            <div class="panel-heading">
                <a class="pull-right btn btn-primary btn-sm" rel="nofollow" href="{{.SourcePath}}">Browse Source</a>
                <h4>{{.Commit.Message}}</h4>
            </div>
            <div class="panel-body">
                <span class="pull-right">
                    commit <span class="label label-default sha">{{ShortSha .CommitId}}</span>
                </span>
                <p class="author">
                    <img class="avatar" src="{{AvatarLink .Commit.Author.Email}}" alt=""/>
                    <a class="name" href="/user/email2user?email={{.Commit.Author.Email}}"><strong>{{.Commit.Author.Name}}</strong></a>
                    <span class="time">{{TimeSince .Commit.Author.When}}</span>
                </p>
            </div>
        </div>

        {{if .DiffNotAvailable}}
        <h4>Diff Data Not Available.</h4>
        {{else}}
        <div class="diff-detail-box diff-box">
            <a class="pull-right btn btn-default" data-toggle="collapse" data-target="#diff-files">Show Diff Stats</a>
            <p class="showing">
                <i class="fa fa-retweet"></i>
                <strong> {{.Diff.NumFiles}} changed files</strong> with <strong>{{.Diff.TotalAddition}} additions</strong> and <strong>{{.Diff.TotalDeletion}} deletions</strong>.
            </p>
            <ol class="detail-files collapse" id="diff-files">
                {{range .Diff.Files}}
                <li>
                    <div class="diff-counter count pull-right">
                        {{if not .IsBin}}
                        <span class="add" data-line="{{.Addition}}">{{.Addition}}</span>
                        <span class="bar">
                            <span class="pull-left add"></span>
                            <span class="pull-left del"></span>
                        </span>
                        <span class="del" data-line="{{.Deletion}}">{{.Deletion}}</span>
                        {{else}}
                        <span>BIN</span>
                        {{end}}
                    </div>
                    <!-- todo finish all file status, now modify, add, delete and rename -->
                    <span class="status {{DiffTypeToStr .Type}}" data-toggle="tooltip" data-placement="right" title="{{DiffTypeToStr .Type}}">&nbsp;</span>
                    <a class="file" href="#diff-1">{{.Name}}</a>
                </li>
                {{end}}
            </ol>
        </div>

        {{range .Diff.Files}}
        <div class="panel panel-default diff-file-box diff-box file-content" id="diff-2">
            <div class="panel-heading">
                <div class="diff-counter count pull-left">
                    {{if not .IsBin}}
                    <span class="add" data-line="{{.Addition}}">+ {{.Addition}}</span>
                    <span class="bar">
                        <span class="pull-left add"></span>
                        <span class="pull-left del"></span>
                    </span>
                    <span class="del" data-line="{{.Deletion}}">- {{.Deletion}}</span>
                    {{else}}
                    BIN
                    {{end}}
                </div>
                <a class="btn btn-default btn-sm pull-right" rel="nofollow" href="{{$.SourcePath}}/{{.Name}}">View File</a>
                <span class="file">{{.Name}}</span>
            </div>
            {{$isImage := (call $.IsImageFile .Name)}}
            <div class="panel-body file-body file-code code-view code-diff">
                {{if $isImage}}
                    <div class="text-center">
                        <img src="{{$.RawPath}}/{{.Name}}">
                    </div>
                {{else}}
                <table>
                    <tbody>
                        {{range .Sections}}
                        {{range .Lines}}
                        <tr class="{{DiffLineTypeToStr .Type}}-code nl-1 ol-1">
                            <td class="lines-num lines-num-old">
                                <span rel="L1">{{if .LeftIdx}}{{.LeftIdx}}{{end}}</span>
                            </td>
                            <td class="lines-num lines-num-new">
                                <span rel="L1">{{if .RightIdx}}{{.RightIdx}}{{end}}</span>
                            </td>
                            <td class="lines-code">
                                <pre>{{.Content}}</pre>
                            </td>
                        </tr>
                        {{end}}
                        {{end}}
                    </tbody>
                </table>
                {{end}}
            </div>
        </div>
        {{end}}
        {{end}}
    </div>
</div>
{{template "base/footer" .}}
