{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="repo-wrapper">
    {{template "repo/header_old" .}}
    <div id="repo-content" class="clear container">
        <div id="repo-main" class="left grid-5-6">
            <div id="forks">
                <h4>
                    <strong>{{.i18n.Tr "repos.forks"}}</strong>
                </h4>

                <ol>
                {{range .Forks}}
                    <p>
                    <img class="avatar-small" src="{{.Owner.AvatarLink}}">
                    <a href="{{AppSubUrl}}/{{.Owner.Name}}">{{.Owner.Name}}</a>
                    /
                    <a href="{{AppSubUrl}}/{{.Owner.Name}}/{{.Name}}">{{.Name}}</a>
                    </p>
                {{end}}
            </div>
        </div>

        {{template "repo/sidebar" .}}
    </div>
</div>
{{template "ng/base/footer" .}}
