{{with .Repository}}
<div class="ui head container">
	<div class="ui huge breadcrumb">
	<i class="mega-octicon octicon-{{if .IsPrivate}}lock{{else if .IsMirror}}repo-clone{{else if .IsFork}}repo-forked{{else}}repo{{end}}"></i>
  <a href="{{AppSubUrl}}/{{.Owner.Name}}">{{.Owner.Name}}</a>
  <div class="divider"> / </div>
  <a href="{{$.RepoLink}}">{{.Name}}</a>
  {{if .IsMirror}}<div class="ui label">{{$.i18n.Tr "mirror"}}</div>{{end}}
  {{if .IsFork}}<div class="fork-flag">{{$.i18n.Tr "repo.forked_from"}} <a href="{{.BaseRepo.RepoLink}}">{{SubStr .BaseRepo.RepoLink 1 -1}}</a></div>{{end}}
	</div>
	<div class="ui right">
		<a class="ui black basic button" href="{{$.RepoLink}}/action/{{if $.IsWatchingRepo}}un{{end}}watch?redirect_to={{$.Link}}">
		  <i class="fa fa-eye{{if not $.IsWatchingRepo}}-slash{{end}}"></i>
		  {{if $.IsWatchingRepo}}{{$.i18n.Tr "repo.unwatch"}}{{else}}{{$.i18n.Tr "repo.watch"}}{{end}} <span class="num">{{.NumWatches}}</span>
		</a>
		<a class="ui black basic button" href="{{$.RepoLink}}/action/{{if $.IsStaringRepo}}un{{end}}star?redirect_to={{$.Link}}">
		  <i class="fa fa-star{{if not $.IsStaringRepo}}-o{{end}}"></i>
		  {{if $.IsStaringRepo}}{{$.i18n.Tr "repo.unstar"}}{{else}}{{$.i18n.Tr "repo.star"}}{{end}} <span class="num">{{.NumStars}}</span>
		</a>
		<a class="ui black basic button {{if $.IsRepositoryOwner}}poping up{{end}}" {{if not $.IsRepositoryOwner}}href="{{AppSubUrl}}/repo/fork/{{.Id}}"{{end}} {{if $.IsRepositoryOwner}}data-content="{{$.i18n.Tr "repo.fork_from_self"}}" data-position="top right"{{end}}>
		  <i class="octicon octicon-repo-forked"></i>
		  {{$.i18n.Tr "repo.fork"}} <span class="num">{{.NumForks}}</span>
		</a>
	</div>
</div>
<div class="ui divider"></div>
{{end}}