{{template "base/head" .}}
{{template "base/navbar" .}}
{{template "repo/nav" .}}
{{template "repo/toolbar" .}}
<div id="body" class="container">
    {{template "repo/setting_nav" .}}
    <div id="repo-setting-container" class="col-md-10">
        {{template "base/alert" .}}
        <form id="repo-hooks-add-form" action="{{.RepoLink}}/settings/hooks/add" method="post">
            {{.CsrfTokenHtml}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Add Webhook
                </div>

                <div class="panel-body">
                    <div class="col-md-7">
                        <p>We’ll send a POST request to the URL below with details of any subscribed events.</p>
                        <hr/>
                        <div class="form-group">
                            <label for="payload-url">Payload URL</label>
                            <input id="payload-url" name="url" class="form-control" type="url" required="required"/>
                        </div>

                        <div class="form-group">
                            <label for="content-type">Content type</label>
                            <select id="content-type" name="content_type" class="form-control">
                                <option value="1">application/json</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="payload-secret">Secret</label>
                            <input id="payload-secret" name="secret" class="form-control" type="text"/>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <label>Which events would you like to trigger this webhook?</label>
                            <div class="radio">
                                <label>
                                    <input class="form-control" name="push_only" type="radio" checked name="trigger"/> Just the <i>push</i> event.
                                </label>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="active" checked/>&nbsp;&nbsp;Active
                            </label>
                            <p class="help-block">We will deliver event details when this hook is triggered.</p>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <button class="btn btn-success">Add Webhook</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{template "base/footer" .}}