{{template "base/head" .}}
{{template "base/navbar" .}}
<div class="container" id="body">
	<ul>
	{{range .Repos}}
		<li>{{.Name}} stars: {{.NumStars}} forks: {{.NumForks}} watches:{{.NumWatchs}}</li>
	{{end}}
	</ul>
</div>
{{template "base/footer" .}}