{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="repo-wrapper">
    <form id="repo-migrate-form" class="form form-align panel panel-radius" action="{{AppSubUrl}}/repo/migrate" method="post">
        {{.CsrfTokenHtml}}
        <div class="panel-header"><h2>{{.i18n.Tr "new_migrate"}}</h2></div>
        <div class="panel-content">
            {{template "ng/base/alert" .}}
            <div class="field">
                <label class="req" for="clone_addr">{{.i18n.Tr "repo.migrate.clone_address"}}</label>
                <input class="ipt ipt-large ipt-radius {{if .Err_CloneAddr}}ipt-error{{end}}" id="clone_addr" name="clone_addr" type="text" value="{{.clone_addr}}" required />
            </div>
            <div class="field">
                <span class="form-label"></span>
                <button class="btn btn-large btn-gray btn-radius" id="auth-button" data-toggle="collapse" data-target="#repo-import-auth">{{.i18n.Tr "repo.need_auth"}}</button>
                <div id="repo-migrate-auth" {{if not .Err_Auth}}class="hide"{{end}}>
                    <div class="field">
                        <label for="auth_username">{{.i18n.Tr "username"}}</label>
                        <input class="ipt ipt-large ipt-radius {{if .Err_Auth}}ipt-error{{end}}" id="auth_username" name="auth_username" type="text" value="{{.auth_username}}"  />
                    </div>
                    <div class="field">
                        <label for="auth_password">{{.i18n.Tr "password"}}</label>
                        <input class="ipt ipt-large ipt-radius {{if .Err_Auth}}ipt-error{{end}}" id="auth_password" name="auth_password" type="password" value="{{.auth_password}}"  />
                    </div>
                </div>
            </div>
            <hr/>
            <div class="field">
                <label for="owner" class="req">{{.i18n.Tr "repo.owner"}}</label>
                <input id="repo-owner-id" type="hidden" name="uid" value="{{.ContextUser.Id}}" />
                <div class="inline-block drop">
                    <a href="#" class="drop-bottom">
                        <img class="avatar" src="{{.ContextUser.AvatarLink}}" id="repo-owner-avatar" alt="user-avatar">
                        <strong id="repo-owner-name">{{.ContextUser.Name}}</strong>
                    </a>
                    <ul class="drop-down menu menu-vertical menu-radius switching-list" id="repo-create-owner-list">
                        <li {{if eq $.ContextUser.Id .SignedUser.Id}}class="checked"{{end}} data-uid="{{.SignedUser.Id}}">
                            <a>
                                <i class="octicon octicon-check"></i>
                                <img class="avatar" src="{{.SignedUser.AvatarLink}}" alt="user-avatar">
                                <strong>{{.SignedUser.Name}}</strong>
                            </a>
                        </li>
                        {{range .Orgs}}
                        <li {{if eq $.ContextUser.Id .Id}}class="checked"{{end}} data-uid="{{.Id}}">
                            <a>
                                <i class="octicon octicon-check"></i>
                                <img class="avatar" src="{{.AvatarLink}}" alt="user-avatar">
                                <strong>{{.Name}}</strong>
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
            <div class="field">
                <label class="req" for="repo-name">{{.i18n.Tr "repo.repo_name"}}</label>
                <input class="ipt ipt-large ipt-radius {{if .Err_RepoName}}ipt-error{{end}}" id="repo-name" name="repo_name" type="text" value="{{.repo_name}}" required />
            </div>
            <div class="field">
                <label for="visibility">{{.i18n.Tr "repo.visibility"}}</label>
                <input class="ipt-chk" id="visibility" name="private" type="checkbox" {{if .private}}checked{{end}} />
                <span>{{.i18n.Tr "repo.visiblity_helper" | Str2html}}</span>
            </div>
            <div class="field">
                <label for="migrate_type">{{.i18n.Tr "repo.migrate_type"}}</label>
                <input class="ipt-chk" id="migrate_type" name="mirror" type="checkbox" {{if .mirror}}checked{{end}} />
                <span>{{.i18n.Tr "repo.migrate_type_helper" | Str2html}}</span>
            </div>
            <div class="field clear">
                <label class="left" for="description">{{.i18n.Tr "repo.repo_desc"}}</label>
                <textarea class="ipt ipt-large ipt-radius {{if .Err_Description}}ipt-error{{end}}" id="description" name="description">{{.description}}</textarea>
            </div>
            <div class="field">
                <label for="repo-create-submit"></label>
                <button class="btn btn-large btn-blue btn-radius" id="repo-create-submit">{{.i18n.Tr "repo.migrate_repo"}}</button>
                <a class="btn btn-small btn-gray btn-radius" id="repo-create-cancel" href="{{AppSubUrl}}/"><strong>{{.i18n.Tr "cancel"}}</strong></a>
            </div>
        </div>
    </form>
</div>
{{template "ng/base/footer" .}}