<div id="body-nav" class="repo-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3 class="name"><i class="fa fa-book fa-lg"></i><a href="{{.Owner.HomeLink}}">{{.Owner.Name}}</a> / <a href="{{AppSubUrl}}/{{.Owner.Name}}/{{.Repository.Name}}">{{.Repository.Name}}</a> {{if .Repository.IsPrivate}}<span class="label label-default">Private</span>{{else if .Repository.IsMirror}}<span class="label label-default">Mirror</span>{{end}}</h3>
                <p class="desc">{{.Repository.DescriptionHtml}}{{if .Repository.Website}} <a href="{{.Repository.Website}}">{{.Repository.Website}}</a>{{end}}</p>
            </div>
            <div class="col-md-5 actions text-right clone-group-btn">
                {{if not .IsBareRepo}}
                <div class="btn-group" id="repo-clone">
                    <a class="btn btn-default" href="{{.RepoLink}}/archive/{{.BranchName}}/{{.Repository.Name}}.zip"><i class="fa fa-download fa-lg fa-m"></i></a>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu clone-group-btn dropdown-menu-right no-propagation">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-link="{{.CloneLink.SSH}}" type="button">SSH</button>
                                <button class="btn btn-default" data-link="{{.CloneLink.HTTPS}}" type="button">HTTPS</button>
                            </span>
                            <input type="text" class="form-control clone-group-url" value="" readonly id="repo-clone-ipt"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" data-toggle="tooltip" title="copy to clipboard" data-placement="top" data-init="copy" data-copy-val="val" data-copy-from="#repo-clone-ipt"><i class="fa fa-copy"></i></button>
                            </span>
                        </div>
                        <p class="help-block text-center">Need help cloning? Visit <a target="_blank" href="https://help.github.com/articles/fork-a-repo">Help</a>!</p>
                        <hr/>
                        <div class="clone-zip text-center">
                            <a class="btn btn-success btn-lg" href="{{.RepoLink}}/archive/{{.BranchName}}/{{.Repository.Name}}.zip" rel="nofollow"><i class="fa fa-suitcase"></i>Download ZIP</a>
                            <a class="btn btn-success btn-lg" href="{{.RepoLink}}/archive/{{.BranchName}}/{{.Repository.Name}}.tar.gz" rel="nofollow"><i class="fa fa-suitcase"></i>Download TAR.GZ</a>
                        </div>
                    </div>
                </div>
                {{if .IsSigned}}
                <div class="btn-group {{if .IsRepositoryWatching}}watching{{else}}no-watching{{end}}" id="repo-watching" data-watch="{{AppSubUrl}}/{{.Owner.Name}}/{{.Repository.Name}}/action/watch" data-unwatch="{{AppSubUrl}}/{{.Owner.Name}}/{{.Repository.Name}}/action/unwatch">
                    {{if .IsRepositoryWatching}}
                    <button type="button" class="btn btn-default"><i class="fa fa-eye fa-lg fa-m"></i></button>
                    {{else}}
                    <button type="button" class="btn btn-default"><i class="fa fa-eye-slash fa-lg fa-m"></i></button>
                    {{end}}
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-item text-left to-unwatch">
                            <h4 role="presentation" class="dropdown-header {{if not .IsRepositoryWatching}}text-primary{{end}}">Not Watching</h4>
                            <p class="description">You only receive notifications for conversations in which you participate or are @mentioned.</p>
                            <p class="divider"></p>
                        </div>
                        <div class="dropdown-item text-left to-watch">
                            <h4 role="presentation" class="dropdown-header {{if .IsRepositoryWatching}}text-primary{{end}}">Watching</h4>
                            <p class="description">You receive notifications for all conversations in this repository.</p>
                        </div>
                    </div>
                </div>
                {{end}}
                <!-- <div class="btn-group">
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Star"><i class="fa fa-star"></i>&nbsp;{{.Repository.NumStars}}</button>
                </div> -->
                {{end}}
                <!-- <div class="btn-group">
                    <a type="button" {{if not .IsRepositoryOwner}}href="{{AppSubUrl}}/{{.Username}}/{{.Reponame}}/fork"{{end}} class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Fork"><i class="fa fa-code-fork fa-lg"></i>&nbsp;{{.Repository.NumForks}}</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
