{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="repo-wrapper">
    {{template "repo/header_old" .}}
    <div class="clear container repo-wide-wrapper repo-pr">
        <div class="pr-main">
            <div class="pr-title clear">
                <h2 class="pr-title grid-5-6 left">Fix: Repo Name can not be converted to lower in some cases <span class="pr-num">#256</span></h2>
                <div class="pr-title-btn grid-1-6 right text-right">
                    <button class="btn btn-gray btn-radius">Edit</button>&nbsp;&nbsp;
                    <a href="#"><button class="btn btn-green btn-radius">New Issue</button></a>
                </div>
            </div>
            <div class="pr-meta">
                <button class="btn btn-small btn-green btn-radius">
                    <i class="octicon octicon-git-pull-request"></i> Open
                </button>
            <span class="msg">
                <a href="#" class="text-bold pr-author">eryx</a> <span class="label radius label-blue">2</span> commits
                <span class="pr-branch label label-gray radius">gogits:master</span>
                <i class="octicon octicon-arrow-right"></i>
                <span class="pr-branch label label-gray radius">unknown repository</span>
            </span>
            </div>
            <div class="pr-nav clear">
                <ul class="menu menu-line left" id="pr-nav">
                    <li class="current js-tab-nav js-tab-nav-show" data-tab-target="#pr-conversation"><a href="#"><i class="octicon octicon-comment"></i>conversations
                        <span class="label label-gray label-radius">5</span>
                    </a></li>
                    <li class="js-tab-nav" data-tab-target="#pr-commit"><a href="#"><i class="octicon octicon-git-commit"></i>commits
                        <span class="label label-gray label-radius">2</span>
                    </a></li>
                    <li class="js-tab-nav" data-tab-target="#pr-file-diff"><a href="#"><i class="octicon octicon-file-code"></i>files
                        <span class="label label-gray label-radius">3</span>
                    </a></li>
                </ul>
                <div class="diff-bar right">
                    <span class="diff-add">+12</span>
                <span class="inline-block diff-status">
                    <span class="block diff-status-inner"></span>
                </span>
                    <span class="diff-delete">-7</span>
                </div>
            </div>
            <div id="pr-conversation" class="js-tab-show clear">
                <div id="pr-conversation-list" class="left grid-5-6">
                    <div class="issue-comment clear">
                        <a class="author-avatar" href="#"><img class="avatar-40 radius" src="https://avatars2.githubusercontent.com/u/275347?v=1&s=96" alt=""/></a>
                        <div class="panel panel-radius">
                            <p class="panel-header clear"><a class="author-name" href="#">eryx</a>
                                <span class="date">7 days ago</span>
                            <span class="action right">
                                <span class="label label-black label-radius">owner</span>
                                <a href="#"><i class="octicon octicon-pencil"></i></a>
                                <a href="#"><i class="octicon octicon-x"></i></a>
                            </span>
                            </p>
                            <div class="panel-content content markdown">just like github.com, the RepoName can not be converted to lower in the case of backend data storage, or frontend clone link display.</div>
                        </div>
                    </div>
                    <div class="issue-commit clear">
                        <i class="mega-octicon octicon-git-commit left"></i>
                        <a class="author-avatar left" href="#"><img class="avatar-24 radius" src="https://avatars2.githubusercontent.com/u/275347?v=1&s=96" alt=""/></a>
                        <a class="sha right" href="#">8e259ba</a>
                        <span class="message">Fix: Repo Name can not be converted to lower in the case of backend data storage, or frontend clone link display. or frontend clone link display or frontend clone link display.</span>
                    </div>
                    <div class="issue-line"></div>
                    <div class="issue-merge issue-merge-ok clear">
                        <span class="inline-block radius ico"><i class="mega-octicon octicon-git-pull-request"></i></span>
                        <div class="panel panel-radius">
                            <p class="panel-header clear">
                                <i class="octicon octicon-check"></i><strong>All is well !</strong>
                            </p>
                            <div class="panel-content content clear">
                                <div class="message left"><strong>This pull request can be automatically merged.</strong><br/>
                                    You can also merge branches on the <a href="#">command line</a>.</div>
                                <button class="btn btn-green right btn-radius">
                                    <i class="octicon octicon-git-merge"></i>
                                    Merge Pull Request
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="issue-add-comment clear">
                        <a class="author-avatar" href="#"><img class="avatar-40 radius" src="https://avatars2.githubusercontent.com/u/275347?v=1&s=96" alt=""/></a>
                        <div class="panel panel-radius">
                            <div class="panel-header">
                                <ul class="menu menu-line add-nav">
                                    <li class="js-tab-nav js-tab-nav-show" data-tab-target="#issue-add-comment-form"><a href="#">Write</a></li>
                                    <li class="js-tab-nav" data-tab-target="#issue-add-comment-preview"><a href="#" id="pull-issue-preview">Preview</a></li>
                                </ul>
                            </div>
                            <div class="panel-content content">
                                <form id="issue-add-comment-form" action="#" method="post">
                                    <textarea class="ipt ipt-radius js-preview-input" name="content" id="issue-add-content"></textarea>
                                    <p class="submit text-right">
                                        <button class="btn btn-gray btn-radius text-bold" name="submit" value="close">Close pull request</button>&nbsp;&nbsp;
                                        <button class="btn btn-green btn-radius text-bold" name="submit" value="comment">Comment</button>
                                    </p>
                                </form>
                                <div id="issue-add-comment-preview" class="js-preview-container">
                                    preview
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pr-conversation-sidebar" class="left grid-1-6">
                    1-4
                </div>
            </div>
            <div id="pr-commit">commit</div>
            <div id="pr-file-diff">file diff</div>
        </div>
        <div class="pr-sidebar">
            {{template "repo/sidebar_mini" .}}
        </div>
    </div>
</div>
</div>
{{template "ng/base/footer" .}}