<div id="user-setting-nav" class="col-md-2 repo-setting-nav">
    <ul class="list-group">
        <li class="list-group-item{{if .IsRepoToolbarSetting}} active{{end}}"><a href="{{AppSubUrl}}/{{.Owner.Name}}/{{.Repository.Name}}/settings">Options</a></li>
        <li class="list-group-item{{if .IsRepoToolbarCollaboration}} active{{end}}"><a href="{{AppSubUrl}}/{{.Owner.Name}}/{{.Repository.Name}}/settings/collaboration">Collaborators</a></li>
        <li class="list-group-item{{if .IsRepoToolbarWebHooks}} active{{end}}"><a href="{{AppSubUrl}}/{{.Owner.Name}}/{{.Repository.Name}}/settings/hooks">Webhooks</a></li>
    </ul>
</div>