{{if not .IsBareRepo}}
<div class="ui secondary pointing menu navbar">
  <a class="{{if .PageIsViewCode}}active{{end}} item" href="{{.RepoLink}}">
    <i class="icon octicon octicon-code"></i> {{.i18n.Tr "repo.code"}}
  </a>
  <a class="{{if .PageIsIssueList}}active{{end}} item" href="{{.RepoLink}}/issues">
    <i class="icon octicon octicon-issue-opened"></i> {{.i18n.Tr "repo.issues"}} <span class="ui blue small label">{{.Repository.NumOpenIssues}}</span>
  </a>
  <a class="{{if .PageIsPullList}}active{{end}} item" href="{{.RepoLink}}/pulls">
    <i class="icon octicon octicon-git-pull-request"></i> {{.i18n.Tr "repo.pulls"}} <span class="ui blue small label">{{.Repository.NumOpenPulls}}</span>
  </a>
  <a class="{{if .PageIsCommits}}active{{end}} item" href="{{.RepoLink}}/commits/{{EscapePound .BranchName}}">
    <i class="icon octicon octicon-history"></i> {{.i18n.Tr "repo.commits"}} <span class="ui blue small label">{{.CommitsCount}}</span>
  </a>
  <a class="{{if .PageIsReleaseList}}active{{end}} item" href="{{.RepoLink}}/releases">
    <i class="icon octicon octicon-tag"></i> {{.i18n.Tr "repo.releases"}} <span class="ui blue small label">{{.Repository.NumTags}}</span>
  </a>
  <a class="{{if .PageIsWiki}}active{{end}} item" href="{{.RepoLink}}/wiki">
    <i class="icon octicon octicon-book"></i> {{.i18n.Tr "repo.wiki"}}
  </a>
  {{if .IsRepositoryAdmin}}
  <a class="{{if .PageIsSettings}}active{{end}} item" href="{{.RepoLink}}/settings">
    <i class="icon octicon octicon-tools"></i> {{.i18n.Tr "repo.settings"}}
  </a>
  {{end}}
</div>
{{end}}