{{template "base/head" .}}
{{template "base/navbar" .}}
{{template "repo/nav" .}}
{{template "repo/toolbar" .}}
<div id="body" class="container">
    <div id="source">
        <div class="panel panel-default guide-box clone-group-btn">
            <div class="panel-heading guide-head">
                <h4>Quick Guide</h4>
            </div>
            <div class="panel-body guide-content text-center">
                <h3>Clone this repository</h3>
                <div class="input-group col-md-8 col-md-offset-2 guide-buttons">
                    <span class="input-group-btn">
                        <button class="btn btn-default" data-link="{{.CloneLink.SSH}}" type="button">SSH</button>
                        <button class="btn btn-default" data-link="{{.CloneLink.HTTPS}}" type="button">HTTPS</button>
                    </span>
                    <input type="text" class="form-control clone-group-url" id="guide-clone-url" value="" readonly/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-toggle="tooltip" title="copy to clipboard" data-placement="top" data-init="copy" data-copy-val="val" data-copy-from="#guide-clone-url"><i class="fa fa-copy"></i></button>
                    </span>
                </div>
                <p>We recommend every repository include a <strong>README</strong>, <strong>LICENSE</strong>, and <strong>.gitignore</strong>.</p>
                <hr/>
                <h3>Create a new repository on the command line</h3>
                    <pre class="text-left"><code>touch README.md
git init
git add README.md
git commit -m "first commit"
git remote add origin <span class="clone-url"></span>
git push -u origin master</code></pre>
                <hr/>
                <h3>Push an existing repository from the command line</h3>
                <pre class="text-left"><code>git remote add origin <span class="clone-url"></span>
git push -u origin master</code></pre>
            </div>
        </div>
    </div>
</div>
{{template "base/footer" .}}
