<div class="panel panel-default file-content">
    <div class="panel-heading file-head">
        {{if .ReadmeExist}}
            <i class="icon fa fa-book"></i>
        {{else}}
            <i class="icon fa fa-file-text-o"></i>
        {{end}}{{.FileName}}
    </div>
    {{if .FileIsLarge}}
        <div class="panel-footer">
            Large file size 1000kb
        </div>
    {{else}}
        {{if .ReadmeExist}}
            <div class="panel-body file-body markdown">
                {{.FileContent|str2html}}
            </div>
        {{else}}
            <div class="panel-body file-body file-code code-view">
                <table>
                    <tbody>
                        <tr>
                            <td class="lines-num"></td>
                            <td class="lines-code markdown"><pre class="prettyprint linenums lang-{{.FileExt}}">{{.FileContent}}</pre></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {{end}}
    {{end}}
</div>