<div class="panel panel-default info-box">
    <div class="panel-heading info-head">
        <a href="/{{.Username}}/{{.Reponame}}/commit/{{.LastCommit.Id}}">{{.LastCommit.Message}}</a>
    </div>
    <div class="panel-body info-content">
        <a href="/user/{{.LastCommit.Author.Name}}">{{.LastCommit.Author.Name}}</a> <span class="text-muted">{{TimeSince .LastCommit.Author.When}}</span>
    </div>
    <table class="panel-footer table file-list">
        <thead class="hidden">
        <tr>
            <th class="icon"></th>
            <th class="name">Filename</th>
            <th class="text">Message</th>
            <th class="date">Date modified</th>
        </tr>
        </thead>
        <tbody>
            {{if .HasParentPath}}
                <tr class="has-parent">
                    <td class="icon"><a href="{{.BranchLink}}{{.ParentPath}}"><i class="fa fa-reply"></i></a></td>
                    <td class="name"><a href="{{.BranchLink}}{{.ParentPath}}">..</a></td>
                    <td class="text"></td>
                    <td class="date"></td>
                </tr>
            {{end}}
            {{range $item := .Files}}
                {{$entry := index $item 0}}
                {{$commit := index $item 1}}
                <tr {{if $entry.IsDir}}class="is-dir"{{end}}>
                    <td class="icon">
                        <i class="fa {{if $entry.IsDir}}fa-folder{{else}}fa-file-text-o{{end}}"></i>
                    </td>
                    <td class="name">
                        <span class="wrap">
                            <a href="{{$.BranchLink}}/{{$.TreePath}}{{$entry.Name}}">{{$entry.Name}}</a>
                        </span>
                    </td>
                    <td class="text">
                        <span class="wrap"><a rel="nofollow" href="/{{$.Username}}/{{$.Reponame}}/commit/{{$commit.Id}}">{{$commit.Message}}</a></span>
                    </td>
                    <td class="date">
                        <span class="wrap">{{TimeSince $commit.Committer.When}}</span>
                    </td>
                </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{if .ReadmeExist}}
    {{template "repo/single_file" .}}
{{end}}
