* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 13px;
  font-family: Helvetica, "Microsoft Yahei", Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 24px;
  color: #444444;
  background-color: #fafafa;
}
input,
textarea,
select,
option,
button {
  font-family: Helvetica, "Microsoft Yahei", Arial, sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary,
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.dis-table {
  display: table;
}
.dis-table-cell {
  display: table-cell;
}
.dis-flex {
  display: flex;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template,
.hidden {
  display: none;
}
.opacity {
  opacity: 0;
}
.opacity-half {
  opacity: .5;
}
a,
.text-link {
  color: #428bca;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
.text-link:hover {
  color: #399ade;
  text-decoration: none;
}
a:focus,
.text-link:focus {
  outline: none;
}
b,
strong,
.text-bold {
  font-weight: bold;
}
dfn,
.text-italic {
  font-style: italic;
}
h1,
.text-h1 {
  font-size: 2em;
  margin-bottom: 0.67em;
}
h2,
.text-h2 {
  font-size: 1.6em;
  margin-bottom: 0.625em;
}
h3,
.text-h3 {
  font: 1.2em;
  margin-bottom: 0.5em;
}
h4,
h5,
h6,
.text-h4,
.text-h5,
.text-h6 {
  font-size: 1em;
  margin-bottom: .3em;
}
small,
.text-small {
  font-size: .8em;
}
sub,
sup,
.text-sup,
.text-sub {
  font-size: .7em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup,
.text-sup {
  top: -0.5em;
}
sub,
.text-sub {
  bottom: -0.25em;
}
.figure,
.blockquote {
  margin: 1em 1.5em;
}
pre {
  overflow: auto;
  margin: 0;
  padding: .4em 1em;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.list-no-style {
  list-style: none;
}
img {
  border: none;
}
svg:not(:root) {
  overflow: hidden;
}
label {
  font-weight: bold;
}
textarea,
input,
.ipt {
  padding: .6em;
  line-height: normal;
  border: 1px solid #bbbbbb;
}
textarea:focus,
input:focus,
.ipt:focus {
  background-color: #f2fffc;
  outline: none;
}
button,
.btn {
  overflow: visible;
  padding: .6em 1.2em;
}
button,
select {
  text-transform: none;
}
button:focus,
select:focus {
  outline: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  cursor: pointer;
  background-color: #888888;
  color: #fafafa;
  border: none;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #444444;
  color: #ffffff;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
fieldset {
  border: 1px solid #bbbbbb;
  margin: 0 2px;
  padding: 0.4em 0.8em 0.8em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  border: 1px solid #bbbbbb;
  padding: .6em;
}
textarea:focus {
  background-color: #f2fffc;
  outline: none;
}
optgroup {
  font-weight: bold;
}
table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: none;
  border-bottom: 1px solid #dddddd;
  margin-bottom: .75em;
}
.radius {
  border-radius: .25em;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
}
pre {
  line-height: 1.6;
  overflow: auto;
  padding: 0;
}
dt {
  font-weight: bold;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear::after {
  clear: both;
  content: " ";
  width: 0;
  height: 0;
  display: block;
}
.hide {
  display: none;
}
.grid-1-12 {
  width: 8.33%;
}
.grid-2-12,
.grid-1-6 {
  width: 16.67%;
}
.grid-3-12,
.grid-1-4 {
  width: 25%;
}
.grid-4-12,
.grid-1-3 {
  width: 33%;
}
.grid-5-12 {
  width: 41.67%;
}
.grid-6-12,
.grid-1-2 {
  width: 50%;
}
.grid-7-12 {
  width: 58.33%;
}
.grid-8-12,
.grid-2-3 {
  width: 66.67%;
}
.grid-9-12,
.grid-3-4 {
  width: 75%;
}
.grid-10-12,
.grid-5-6 {
  width: 83.33%;
}
.grid-11-12 {
  width: 91.67%;
}
*[class*="grid-"] {
  box-sizing: content-box;
}
.grid-1-5 {
  width: 20%;
}
.grid-2-5 {
  width: 40%;
}
.grid-3-5 {
  width: 60%;
}
.grid-4-5 {
  width: 80%;
}
.btn {
  white-space: nowrap;
}
.btn-small {
  font-size: 10.8px;
  padding: .4em .9em;
}
.btn-medium {
  font-size: 12px;
  padding: .4em .9em;
}
.btn-large {
  font-size: 14.4px;
  padding: .4em .9em;
}
.btn-green {
  background-color: #65ad4e;
  border: 1px solid #65ad4e;
}
.btn-green:hover {
  background-color: #71bf57;
  color: #FFF;
}
.btn-blue {
  background-color: #428bca;
  border: 1px solid #428bca;
}
.btn-blue:hover {
  background-color: #539cdb;
  color: #FFF;
}
.btn-red {
  color: #FFF;
  background-color: #d9453d;
  border: 1px solid #d9453d;
}
.btn-red:hover {
  background-color: #ff635a;
  color: #FFF;
}
.btn-orange {
  background-color: #df7514;
  border: 1px solid #df7514;
}
.btn-orange:hover {
  background-color: #df8229;
  color: #FFF;
}
.btn-black {
  background-color: #444444;
  border: 1px solid #444444;
}
.btn-black:hover {
  background-color: #383838;
  color: #FFF;
}
.btn-gray {
  background-color: #f0f0f0;
  color: #444444;
  border: 1px solid #d0d0d0;
}
.btn-gray:hover {
  background-color: #fafafa;
  color: #444444;
}
.btn-white {
  background-color: #ffffff;
  color: #444444;
  border: 1px solid #c6c6c6;
}
.btn-white:hover {
  background-color: #e8e8e8;
  color: #444444;
}
.btn-white.active {
  background-color: #e8e8e8;
  color: #444444;
}
.btn-active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 0 4px rgba(0, 0, 0, 0.15) inset;
}
.btn-header {
  margin-top: -1px;
  color: white;
  padding: 0 10px;
}
.btn-link {
  overflow: visible;
  color: white;
  padding: .6em 1.2em;
}
.btn-radius {
  border-radius: .25em;
}
.btn-left-radius {
  border-top-left-radius: .25em;
  border-bottom-left-radius: .25em;
}
.btn-right-radius {
  border-top-right-radius: .25em;
  border-bottom-right-radius: .25em;
}
.btn-block {
  display: block;
  width: 100%;
  box-sizing: content-box;
  text-align: center;
}
.btn-comb {
  margin-left: -1px;
}
.btn-disabled {
  opacity: .6;
  cursor: not-allowed;
  box-shadow: none;
  background-image: none !important;
  border: none;
}
.btn-disabled:hover {
  background-image: none !important;
  color: #ffffff;
}
.btn-group {
  display: inline-block;
}
.btn-group > .btn {
  position: relative;
  float: left;
  margin-right: -1px;
}
.btn-group > .btn:first-child {
  border-bottom-left-radius: .25em;
  border-top-left-radius: .25em;
}
.btn-group > .btn:last-child {
  border-bottom-right-radius: .25em;
  border-top-right-radius: .25em;
}
.ipt:focus {
  border-color: #428bca;
}
.ipt-radius {
  border-radius: .25em;
}
.ipt-small {
  font-size: 9.6px;
}
.ipt-large {
  font-size: 14.4px;
}
.ipt-textarea {
  height: auto !important;
  width: auto;
}
.ipt-disabled,
input[disabled] {
  background-color: #f2f2f2 !important;
  color: #888;
  cursor: not-allowed;
}
.ipt-disabled:focus,
input[disabled]:focus {
  background-color: #f2f2f2 !important;
}
.ipt-readonly:focus,
input[readonly]:focus {
  background-color: #f2f2f2 !important;
}
.ipt-error {
  border-color: #b63b2c !important;
  background-color: #fff0f0 !important;
}
.form label {
  margin-right: 1em;
}
.form .help {
  color: #999999;
  padding-top: .6em;
  display: inline-block;
}
.form-stack label {
  display: block;
}
.form-stack .field {
  margin-bottom: 1em;
}
.form-align label,
.form-align .form-label {
  display: inline-block;
  width: 120px;
  text-align: right;
  margin-right: 1em;
}
.form-align .field {
  margin-bottom: 1em;
}
label.text-left {
  text-align: left;
}
label.req:after {
  content: "*";
  color: #d9453d;
}
ul.menu > li {
  list-style: none;
}
ul.menu > li > a {
  padding: .8em 1.2em;
}
ul.menu > li > a:hover {
  background-color: #eaeaea;
  color: #444444;
}
ul.menu > li > a.active {
  background-color: #4183c4;
  color: #FFF;
}
ul.menu > li.current > a,
ul.menu > li.hover > a {
  color: #444444;
}
ul.menu > li.head {
  font-weight: bold;
  padding: .8em 1.2em;
}
ul.menu > li.down:hover > ul.menu-down {
  display: block;
}
ul.menu > li.border-bottom {
  border-bottom: 1px solid #bbbbbb;
  height: 0;
  margin: .5em 0;
}
ul.menu-line > li,
ul.menu-line > li > a {
  display: inline-block;
}
ul.menu-line > li.down {
  position: relative;
}
ul.menu-line > li.down > a:after {
  content: "\25BE";
  margin-left: .4em;
}
ul.menu-line > li.down > ul.menu-down {
  top: 2.1em;
  width: 150%;
}
ul.menu-line > li.hover {
  position: relative;
}
ul.menu-line > li.hover > a:after {
  position: absolute;
  content: "\25B4";
  left: 50%;
  bottom: -1.1em;
  margin-left: -4px;
}
ul.menu-vertical > li > a,
ul.menu-down > li > a,
ul.menu-vertical > li.head,
ul.menu-down > li.head {
  display: block;
  padding: .4em 1.2em;
}
ul.menu-vertical > li.down,
ul.menu-down > li.down {
  position: relative;
}
ul.menu-vertical > li.down > a:after,
ul.menu-down > li.down > a:after {
  content: "\25B8";
  position: absolute;
  right: .6em;
}
ul.menu-vertical > li.hover,
ul.menu-down > li.hover {
  position: relative;
}
ul.menu-vertical > li.hover > a:after,
ul.menu-down > li.hover > a:after {
  content: "\25B8";
  position: absolute;
  left: .5em;
}
ul.menu-border,
ul.menu-down {
  border: 1px solid #bbbbbb;
}
ul.menu-border > li.head,
ul.menu-down > li.head {
  border-bottom: 1px solid #bbbbbb;
}
ul.menu-down {
  position: absolute;
  display: none;
  z-index: 99;
  box-shadow: 0 0 2px #666666;
  background-color: #ffffff;
}
ul.menu-down-show {
  position: absolute;
  z-index: 99;
  box-shadow: 0 0 2px #666666;
  background-color: #ffffff;
}
ul.menu-radius {
  border-radius: .3em;
}
ul.menu-radius > li:first-child {
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
}
ul.menu-radius > li:first-child > a {
  border-top-left-radius: .2em;
  border-top-right-radius: .2em;
}
ul.menu-radius > li:last-child {
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
}
ul.menu-radius > li:last-child > a {
  border-bottom-left-radius: .2em;
  border-bottom-right-radius: .2em;
}
.drop {
  position: relative;
}
.drop:hover > .drop-down {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  display: block;
}
.drop > .drop-down {
  display: none;
  border: 1px solid #bbbbbb;
  box-shadow: 0 0 3px #666666;
  background-color: #ffffff;
}
.drop-bottom:after {
  content: "\25BE";
  margin-left: .4em;
}
.drop-top:after {
  content: "\25B4";
  margin-left: .4em;
}
.panel {
  border: 1px solid #cccccc;
}
.panel .panel-header {
  font-size: 16px;
  padding: .6em 1.2em;
  background-color: #eeeeee;
  border-bottom: 1px solid #cccccc;
}
.panel .panel-body {
  background-color: white;
}
.panel .panel-body .panel-desc {
  padding: 0 40px 20px 40px;
}
.panel .panel-content {
  padding: 1em 1.2em;
}
.panel .panel-footer {
  padding: .6em 1.2em;
  background-color: #eeeeee;
  border-top: 1px solid #cccccc;
}
.panel.panel-radius {
  border-radius: .3em;
}
.panel.panel-radius .panel-header {
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
}
.panel.panel-radius .panel-footer {
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
}
.panel.panel-radius .panel-content {
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
}
.panel.panel-info {
  border-color: #85c5e5;
}
.panel.panel-info > .panel-header {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #85c5e5;
}
.panel.panel-warning {
  border-color: #F0C36D;
}
.panel.panel-warning > .panel-header {
  background-color: #F9EDBE;
  border-color: #F0C36D;
}
.label {
  padding: .3em .6em .2em .6em;
  color: #ffffff;
}
.label-red {
  background-color: #d9453d;
}
.label-blue {
  background-color: #428bca;
}
.label-gray {
  background-color: #999999;
}
.label-green {
  background-color: #65ad4e;
}
.label-green:hover {
  background-color: #71bf57;
  color: #FFF;
}
.label-orange {
  background-color: #df7514;
}
.label-black {
  background-color: #444444;
}
.label-radius {
  border-radius: .2em;
}
.label-link {
  color: #ffffff;
}
.label-link:hover {
  color: #ffffff;
}
.breads .bread:after {
  content: "/";
  font-weight: bold;
  margin: 0 4px 0 7px;
  color: #444444;
}
.breads .bread:last-child:after {
  content: "";
  margin: 0;
}
.alert {
  padding: .6em 1.5em;
  margin-bottom: 10px;
}
.alert i {
  margin-right: 8px;
}
.alert-radius {
  border-radius: .25em;
}
.alert-red {
  color: #d9453d;
  border: 1px solid #be2d25;
  background-color: #fae9e8;
}
.alert-blue {
  color: #428bca;
  border: 1px solid #3071a9;
  background-color: #f5f9fc;
}
.alert-green {
  color: #65ad4e;
  border: 1px solid #508a3e;
  background-color: #edf6eb;
}
.alert-gray {
  color: #999999;
  border: 1px solid #808080;
  background-color: #f2f2f2;
}
.alert-orange {
  color: #df7514;
  border: 1px solid #b05c10;
  background-color: #fcecdd;
}
.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
}
.white-popup-block p {
  font-size: 14px;
}
table th,
table td {
  padding: .3em .6em;
  line-height: 30px;
}
.table-border {
  border: 1px solid #d6d6d6;
}
.table-border tr {
  border-top: 1px solid #eaeaea;
}
.table-border tr th,
.table-border tr td {
  border-top: 1px solid #eaeaea;
}
.table-border tr:first-child {
  border-top: none;
}
.table-border thead {
  border-bottom: 1px solid #d6d6d6;
}
.table-block {
  width: 100%;
  box-sizing: border-box;
}
.table-radius {
  border-collapse: separate !important;
  border-radius: .3em;
}
.table-radius thead:first-child {
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
}
.table-radius thead:first-child tr:first-child {
  border-top-left-radius: .3em;
}
.table-radius thead:first-child tr:first-child > th:first-child {
  border-top-left-radius: .3em;
}
.table-radius thead:first-child tr:first-child > th:last-child {
  border-top-right-radius: .3em;
}
.table-radius tbody {
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
}
.table-radius tbody tr:last-child {
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
}
.table-radius tbody tr:last-child > td:first-child {
  border-bottom-left-radius: .3em;
}
.table-radius tbody tr:last-child > td:last-child {
  border-bottom-right-radius: .3em;
}
.pager .page {
  padding: .3em .5em .2em .5em;
  margin: 0 .3em;
  background-color: #cccccc;
  color: #444444;
}
.pager .page:hover,
.pager .page.hover {
  background-color: #428bca;
  color: #ffffff;
}
.pager .prev,
.pager .next {
  padding: .4em .6em;
  margin: 0 .3em;
  background-color: #505050;
  color: #fafafa;
}
.pager .prev.invalid,
.pager .next.invalid {
  background-color: #eeeeee;
  color: #aaaaaa;
  cursor: not-allowed;
}
.pager .page-radius {
  border-radius: .2em;
}
