{{template "base/head" .}}
<div class="repository new milestone">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="navbar">
			{{template "repo/issue/navbar" .}}
			{{if and .IsRepositoryWriter .PageIsEditMilestone}}
				<div class="ui right floated secondary menu">
					<a class="ui green button" href="{{$.RepoLink}}/milestones/new">{{.i18n.Tr "repo.milestones.new"}}</a>
				</div>
			{{end}}
		</div>
		<div class="ui divider"></div>
		<h2 class="ui dividing header">
			{{if .PageIsEditMilestone}}
				{{.i18n.Tr "repo.milestones.edit"}}
				<div class="sub header">{{.i18n.Tr "repo.milestones.edit_subheader"}}</div>
			{{else}}
				{{.i18n.Tr "repo.milestones.new"}}
				<div class="sub header">{{.i18n.Tr "repo.milestones.new_subheader"}}</div>
			{{end}}
		</h2>
		{{template "base/alert" .}}
		<form class="ui form grid" action="{{.Link}}" method="post">
			{{.CSRFTokenHTML}}
			<div class="eleven wide column">
				<div class="field {{if .Err_Title}}error{{end}}">
					<label>{{.i18n.Tr "repo.milestones.title"}}</label>
					<input name="title" placeholder="{{.i18n.Tr "repo.milestones.title"}}" value="{{.title}}" autofocus required>
				</div>
				<div class="field">
					<label>{{.i18n.Tr "repo.milestones.desc"}}</label>
					<textarea name="content">{{.content}}</textarea>
				</div>
			</div>
			<div class="four wide column">
				<div class="field {{if .Err_Deadline}}error{{end}}">
					<label>
						{{.i18n.Tr "repo.milestones.due_date"}}
						<a id="clear-date" href="#">{{.i18n.Tr "repo.milestones.clear"}}</a>
					</label>
					<input id="deadline" name="deadline" value="{{.deadline}}">
				</div>
				<div class="field">
					<input class="milestone datepicker" data-lang="{{.DateLang}}" data-start-date="{{.deadline}}">
				</div>
			</div>
			<div class="ui container">
				<div class="ui divider"></div>
				<div class="ui right">
					{{if .PageIsEditMilestone}}
						<a class="ui blue basic button" href="{{.RepoLink}}/milestones">
							{{.i18n.Tr "repo.milestones.cancel"}}
						</a>
						<button class="ui green button">
							{{.i18n.Tr "repo.milestones.modify"}}
						</button>
					{{else}}
						<button class="ui green button">
							{{.i18n.Tr "repo.milestones.create"}}
						</button>
					{{end}}
				</div>
			</div>
		</form>
	</div>
</div>
{{template "base/footer" .}}
