{{template "base/head" .}}
{{template "base/navbar" .}}
{{template "repo/nav" .}}
{{template "repo/toolbar" .}}
<div id="body" class="container">
    <div id="issue">
        <div class="col-md-3 filters">
            <div class="filter-list">
                <ul class="list-unstyled">
                    <li><a href="{{.RepoLink}}/issues?state={{.State}}"{{if eq .ViewType "all"}} class="active"{{end}}>All Issues <strong class="pull-right">{{..IssueStats.AllCount}}</strong></a></li>
                    <li><a href="{{.RepoLink}}/issues?type=assigned&state={{.State}}"{{if eq .ViewType "assigned"}} class="active"{{end}}>Assigned to you <strong class="pull-right">{{.IssueStats.AssignCount}}</strong></a></li>
                    <li><a href="{{.RepoLink}}/issues?type=created_by&state={{.State}}"{{if eq .ViewType "created_by"}} class="active"{{end}}>Created by you <strong class="pull-right">{{.IssueStats.CreateCount}}</strong></a></li>
                    <li><a href="{{.RepoLink}}/issues?type=mentioned&state={{.State}}"{{if eq .ViewType "mentioned"}} class="active"{{end}}>Mentioning you <strong class="pull-right">{{.IssueStats.MentionCount}}</strong></a></li>
                </ul>
            </div>
            <div class="label-filter">
                <h4>Label</h4>
                <ul class="list-unstyled">
                    <li><a href="#"><span class="pull-right count">1</span><span class="color" style="background-color: red"></span>bug</a></li>
                    <li><a href=""><span class="pull-right count">1</span><span class="color" style="background-color: #AAA"></span>duplicate</a></li>
                    <li><a href=""><span class="pull-right count">1</span><span class="color" style="background-color: #0072E3"></span>enhancement</a></li>
                </ul>
                <button class="btn btn-default btn-block label-button">Manage Labels</button>
                <hr/>
                <form id="label-add-form" action="#" method="post">
                    <h5><strong>New Label</strong></h5>
                    <div class="input-group label-color-picker form-group">
                        <input type="text" value="" class="form-control" name="name" required="required" id="label-name-ipt"/>
                        <input type="hidden" value="" name="color" id="label-color-ipt"/>
                        <span class="input-group-addon"><i></i></span>
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-default btn-sm">Create</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <div class="filter-option">
                <div class="btn-group">
                    <a class="btn btn-default issue-open{{if not .IsShowClosed}} active{{end}}" href="{{.RepoLink}}/issues?type={{.ViewType}}">{{..IssueStats.OpenCount}} Open</a>
                    <a class="btn btn-default issue-close{{if .IsShowClosed}} active{{end}}" href="{{.RepoLink}}/issues?type={{.ViewType}}&state=closed">{{.IssueStats.ClosedCount}} Closed</a>
                </div>
            </div>
            <div class="issues list-group">
                {{range .Issues}}{{if .Poster}}
                <div class="list-group-item issue-item{{if not .IsRead}} unread{{end}}" id="issue-{{.Id}}">
                    <span class="number pull-right">#{{.Index}}</span>
                    <h5 class="title"><a href="{{$.RepoLink}}/issues/{{.Index}}">{{.Name}}</a></h5>
                    <p class="info">
                        <span class="author"><img class="avatar" src="{{.Poster.AvatarLink}}" alt="" width="20"/>
                        <a href="/user/{{.Poster.Name}}">{{.Poster.Name}}</a></span>
                        <span class="time">{{TimeSince .Created}}</span>
                        <span class="comment"><i class="fa fa-comments"></i> {{.NumComments}}</span>
                    </p>
                </div>
                {{end}}{{end}}
            </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/bootstrap-colorpicker.min.js"></script>
<script>
    $(function(){
        $('.label-color-picker').colorpicker({
            input:$('#label-color-ipt')
        });
    });
</script>
{{template "base/footer" .}}
