{{template "base/head" .}}
{{template "base/navbar" .}}
{{template "repo/nav" .}}
{{template "repo/toolbar" .}}
<div id="body" class="container">
    <div id="issue">
        <div class="col-md-3 filter-list">
            <ul class="list-unstyled">
                <li><a href="#" class="active">All Issues <strong class="pull-right">10</strong></a></li>
                <li><a href="#">My Issues</a></li>
                <li><a href="#">Mentioned</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="filter-option">
                <div class="btn-group">
                    <a class="btn btn-default active issue-open" href="#">27 Open</a>
                    <a class="btn btn-default issue-close" href="#">Close 128</a>
                </div>
            </div>
            <div class="issues list-group">
                {{range .Issues}}
                <div class="list-group-item issue-item" id="{{.Id}}"></div>
                {{end}}
            </div>
            <div class="issues list-group">
                <div class="list-group-item unread issue-item" id="issue-id">
                    <span class="number pull-right">#123</span>
                    <h5 class="title"><a href="#">Bug: When running tests after generating a beego app, templates do not load.</a></h5>
                    <p class="info">
                        <span class="author"><img class="avatar" src="http://tp2.sinaimg.cn/5068084885/50/40050297589/1" alt="" width="20"/>
                        <a href="#">Obama</a></span>
                        <span class="time">3 days ago</span>
                        <span class="comment"><i class="fa fa-comments"></i> 3</span>
                    </p>
                </div>
                <div class="list-group-item issue-item" id="issue-id2">
                    <span class="number pull-right">#123</span>
                    <h5 class="title"><a href="#">Bug: When running tests after generating a beego app, templates do not load.</a></h5>
                    <p class="info">
                        <span class="author"><img class="avatar" src="http://tp2.sinaimg.cn/5068084885/50/40050297589/1" alt="" width="20"/>
                        <a href="#">Obama</a></span>
                        <span class="time">3 days ago</span>
                        <span class="comment"><i class="fa fa-comments"></i> 3</span>
                    </p>
                </div>
                <div class="list-group-item issue-item" id="issue-id3">
                    <span class="number pull-right">#123</span>
                    <h5 class="title"><a href="#">Bug: When running tests after generating a beego app, templates do not load.</a></h5>
                    <p class="info">
                        <span class="author"><img class="avatar" src="http://tp2.sinaimg.cn/5068084885/50/40050297589/1" alt="" width="20"/>
                        <a href="#">Obama</a></span>
                        <span class="time">3 days ago</span>
                        <span class="comment"><i class="fa fa-comments"></i> 3</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "base/footer" .}}