{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="body-nav">
    <div class="container">
        <ul class="nav nav-pills pull-right">
            <li><a href="/">Feed</a></li>
            <li class="active"><a href="/issues">Issues</a></li>
            <!-- <li><a href="/pulls">Pull Requests</a></li>
            <li><a href="/stars">Stars</a></li> -->
        </ul>
        <h3>Your Issues</h3>
    </div>
</div>
<div id="body" class="container" data-page="user">
    {{if .HasInfo}}<div class="alert alert-info">{{.InfoMsg}}</div>{{end}}
    <div id="issue">
        <div class="col-md-3 filter-list">
            <ul class="list-unstyled">
                <li><a href="#" class="active">In your repositories <strong class="pull-right">10</strong></a></li>
                <li><a href="#">Created by you</a></li>
                <li><a href="#">Assigned to you</a></li>
                <li><hr/></li>
                <li><a href="" class="sm">gogits/gogs <strong class="pull-right">12</strong></a></li>
                <li><a href="" class="sm">gogits/session <strong class="pull-right">8</strong></a></li>
                <li><a href="" class="sm">gogits/git <strong class="pull-right">2</strong></a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="filter-option">
                <div class="btn-group">
                    <a class="btn btn-default active issue-open" href="#">27 Open</a>
                    <a class="btn btn-default issue-close" href="#">Close 128</a>
                </div>
            </div>
            <div class="issues list-group">
                <div class="list-group-item unread issue-item" id="issue-id">
                    <span class="number pull-right">#123</span>
                    <h5 class="title"><a href="#">Bug: When running tests after generating a beego app, templates do not load.</a></h5>
                    <p class="info">
                        <span class="author"><img class="avatar" src="http://tp2.sinaimg.cn/5068084885/50/40050297589/1" alt="" width="20"/>
                        <a href="#">Obama</a></span>
                        <span class="time">3 days ago</span>
                        <span class="comment"><i class="fa fa-comments"></i> 3</span>
                    </p>
                </div>
                <div class="list-group-item issue-item" id="issue-id2">
                    <span class="number pull-right">#123</span>
                    <h5 class="title"><a href="#">Bug: When running tests after generating a beego app, templates do not load.</a></h5>
                    <p class="info">
                        <span class="author"><img class="avatar" src="http://tp2.sinaimg.cn/5068084885/50/40050297589/1" alt="" width="20"/>
                        <a href="#">Obama</a></span>
                        <span class="time">3 days ago</span>
                        <span class="comment"><i class="fa fa-comments"></i> 3</span>
                    </p>
                </div>
                <div class="list-group-item issue-item" id="issue-id3">
                    <span class="number pull-right">#123</span>
                    <h5 class="title"><a href="#">Bug: When running tests after generating a beego app, templates do not load.</a></h5>
                    <p class="info">
                        <span class="author"><img class="avatar" src="http://tp2.sinaimg.cn/5068084885/50/40050297589/1" alt="" width="20"/>
                        <a href="#">Obama</a></span>
                        <span class="time">3 days ago</span>
                        <span class="comment"><i class="fa fa-comments"></i> 3</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "base/footer" .}}