{{template "base/head" .}}
{{template "base/navbar" .}}
{{template "repo/nav" .}}
{{template "repo/toolbar" .}}
<div id="body" class="container">
    <div id="issue">
        <div id="issue-{{.Issue.Id}}" class="issue-whole issue-is-opening">
            <div class="issue-head clearfix">
                <div class="number pull-right">#{{.Issue.Index}}</div>
                <a class="author pull-left" href="/user/{{.Issue.Poster.Name}}"><img class="avatar" src="{{.Issue.Poster.AvatarLink}}" alt="" width="30"/></a>
                <h1 class="title pull-left">{{.Issue.Name}}</h1>
                <input id="issue-edit-title" class="form-control input-lg pull-left hidden" type="text" value="{{.Issue.Name}}" data-ajax-rel="issue-edit-save" data-ajax-val="val" data-ajax-field="title"/>
                <input type="hidden" value="{{.Issue.Id}}" data-ajax-rel="issue-edit-save" data-ajax-val="val" data-ajax-field="issue_id"/>
                <p class="info pull-left">
                    {{if .IsIssueOwner}}<a class="btn btn-default pull-right issue-edit" href="#" id="issue-edit-btn">Edit</a>
                    <a class="btn btn-danger pull-right issue-edit-cancel hidden" href="#">Cancel</a>
                    <a class="btn btn-primary pull-right issue-edit-save hidden" href="#" data-ajax="{{.RepoLink}}/issues/{{.Issue.Index}}" data-ajax-name="issue-edit-save" data-ajax-method="post">Save</a>{{end}}
                    <span class="status label label-{{if .Issue.IsClosed}}danger{{else}}success{{end}}">{{if .Issue.IsClosed}}Closed{{else}}Open{{end}}</span>
                    <a href="/user/{{.Issue.Poster.Name}}" class="author"><strong>{{.Issue.Poster.Name}}</strong></a> opened this issue
                    <span class="time">{{TimeSince .Issue.Created}}</span> · {{.Issue.NumComments}} comments
                </p>
            </div>
            <div class="issue-main">
               <div class="panel panel-default issue-content">
                   <div class="panel-body markdown">
                       <div class="content">
                           {{str2html .Issue.RenderedContent}}
                       </div>
                       <textarea class="form-control hidden" name="content" id="issue-edit-content" rows="10" data-ajax-rel="issue-edit-save" data-ajax-val="val" data-ajax-field="content">{{.Issue.Content}}</textarea>
                   </div>
               </div>
               {{range .Comments}}
                {{if eq .Type 0}}
                 <div class="issue-child" id="issue-comment-{{.Id}}">
                     <a class="user pull-left" href="/user/{{.Poster.Name}}"><img class="avatar" src="{{.Poster.AvatarLink}}" alt=""/></a>
                     <div class="issue-content panel panel-default">
                         <div class="panel-heading">
                             <a href="/user/{{.Poster.Name}}" class="user">{{.Poster.Name}}</a> commented <span class="time">{{TimeSince .Created}}</span>
                             <!-- <a class="issue-comment-del pull-right issue-action" href="#" title="Edit Comment"><i class="fa fa-times-circle"></i></a>
                             <a class="issue-comment-edit pull-right issue-action" href="#" title="Remove Comment" data-url="{remove-link}"><i class="fa fa-edit"></i></a> -->
                             <span class="role label label-default pull-right">Owner</span>
                         </div>
                         <div class="panel-body markdown">
                            {{str2html .Content}}
                         </div>
                     </div>
                  </div>
                  {{else if eq .Type 1}}
                  <div class="issue-child issue-opened">
                      <a class="user pull-left" href="/user/{{.Poster.Name}}"><img class="avatar" src="{{.Poster.AvatarLink}}" alt="" /></a>
                      <div class="issue-content">
                          <a class="user pull-left" href="/user/{{.Poster.Name}}">{{.Poster.Name}}</a> <span class="label label-success">Reopened</span> this issue <span class="time">{{TimeSince .Created}}</span>
                      </div>
                  </div>
                  {{else if eq .Type 2}}
                  <div class="issue-child issue-closed">
                    <a class="user pull-left" href="/user/{{.Poster.Name}}"><img class="avatar" src="{{.Poster.AvatarLink}}" alt=""/></a>
                    <div class="issue-content">
                        <a class="user pull-left" href="/user/{{.Poster.Name}}">{{.Poster.Name}}</a> <span class="label label-danger">Closed</span> this issue <span class="time">{{TimeSince .Created}}</span>
                    </div>
                  </div>
                  {{end}}
                {{end}}
                <hr class="issue-line"/>
                {{if .SignedUser}}<div class="issue-child issue-reply">
                    <a class="user pull-left" href="/user/{{.SignedUser.Name}}"><img class="avatar" src="{{.SignedUser.AvatarLink}}" alt=""/></a>
                    <form class="panel panel-default issue-content" action="{{.RepoLink}}/comment/new" method="post">
                        {{.CsrfTokenHtml}}
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="md-help pull-right">Content with <a href="https://help.github.com/articles/markdown-basics">Markdown</a>
                                </div>
                                <ul class="nav nav-tabs" data-init="tabs">
                                    <li class="active issue-write"><a href="#issue-textarea" data-toggle="tab">Write</a></li>
                                    <li class="issue-preview"><a href="#issue-preview" data-toggle="tab" data-ajax="/api/v1/markdown?repoLink={{.RepoLink}}" data-ajax-name="issue-preview" data-ajax-method="post" data-preview="#issue-preview">Preview</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" id="issue-textarea">
                                        <div class="form-group">
                                            <input type="hidden" value="{{.Issue.Index}}" name="issueIndex"/>
                                            <textarea class="form-control" name="content" id="issue-reply-content" rows="10" placeholder="Write some content" data-ajax-rel="issue-preview" data-ajax-val="val" data-ajax-field="content">{{.content}}</textarea>
                                        </div>
                                    </div>
                                    <div class="tab-pane issue-preview-content" id="issue-preview">Loading...</div>
                                </div>
                            </div>
                            <div class="text-right">
                                <div class="form-group">
                                    {{if .Issue.IsClosed}}
                                    <input type="submit" class="btn-default btn issue-open" id="issue-open-btn" data-origin="Reopen" data-text="Reopen & Comment" name="change_status" value="Reopen"/>{{else}}
                                    <input type="submit" class="btn-default btn issue-close" id="issue-close-btn" data-origin="Close" data-text="Close & Comment" name="change_status" value="Close"/>{{end}}&nbsp;&nbsp;
                                    <button class="btn-success btn" id="issue-reply-btn">Comment</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>{{else}}<div class="alert alert-warning"><a class="btn btn-success btn-lg" href="/user/sign_up">Sign up for free</a> to join this conversation. Already have an account? <a href="/user/login">Sign in to comment</a></div>{{end}}
            </div><!--
            <div class="col-md-3">
                label assignment milestone dashboard
            </div>-->
        </div>
    </div>
</div>
{{template "base/footer" .}}
