[Unit]
Description=Gogs (Go Git Service)
After=syslog.target
After=network.target
After=mysqld.service
#After=postgresql.service
#After=memcached.service
#After=redis.service

[Service]
# Modify these two values and uncomment them if you have
# repos with lots of files and get an HTTP error 500 because
# of that
###
LimitMEMLOCK=infinity
LimitNOFILE=65535
Type=simple
User=root
Group=root
WorkingDirectory=/usr/local/gogs
ExecStart=/usr/local/gogs/gogs web
#Restart=always
Environment=USER=gogs HOME=/home/gogs

[Install]
WantedBy=multi-user.target
