# http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
indent_style = tab
indent_size = 4

[*.tmpl]
indent_style = tab
indent_size = 2

[*.{less,yml}]
indent_style = space
indent_size = 2

[*.js]
indent_style = tab
indent_size = 4
