# Build artifacts
.bin/
dist/

# Runtime data
log/
custom/
data/
public/img/avatar/
*.exe
*.exe~
/gogs
profile/
*.pem
output*
/release
.task
.envrc

# Configuration and application files
.idea/
.task/
.envrc

# Irrelevant editor configuration for macOS Nova editor
.nova

# System junk
.DS_Store
