version: "{build}"
skip_tags: true
clone_folder: c:\gogs.io\gogs
clone_depth: 1

environment:
  GO111MODULE: on
  GOPROXY: https://proxy.golang.org

build: false
deploy: false

install:
  - set PATH=C:\msys64\mingw64\bin;%PATH% # Fix "gcc" not found: https://github.com/appveyor/ci/issues/2613
  - go version
  - go env
  - go build -tags "minwinsvc" -v

test_script:
  - go test -v -race -cover ./...
