<div class="four wide column">
	<div class="ui vertical menu">
		<div class="header item">{{.i18n.Tr "org.settings"}}</div>
		<a class="{{if .PageIsSettingsOptions}}active{{end}} item" href="{{.OrgLink}}/settings">
			{{.i18n.Tr "org.settings.options"}}
		</a>
		<a class="{{if .PageIsSettingsHooks}}active{{end}} item" href="{{.OrgLink}}/settings/hooks">
			{{.i18n.Tr "repo.settings.hooks"}}
		</a>
		<a class="{{if .PageIsSettingsDelete}}active{{end}} item" href="{{.OrgLink}}/settings/delete">
			{{.i18n.Tr "org.settings.delete"}}
		</a>
	</div>
</div>
