{{if eq .HookType "dingtalk"}}
	<p>{{.i18n.Tr "repo.settings.add_dingtalk_hook_desc" "https://open-doc.dingtalk.com/" | Str2html}}</p>
	<form class="ui form" action="{{.BaseLink}}/settings/hooks/dingtalk/{{if .PageIsSettingsHooksNew}}new{{else}}{{.Webhook.ID}}{{end}}" method="post">
		{{.CSRFTokenHTML}}
		<div class="required field {{if .Err_PayloadURL}}error{{end}}">
			<label for="payload_url">{{.i18n.Tr "repo.settings.payload_url"}}</label>
			<input id="payload_url" name="payload_url" type="url" value="{{.Webhook.URL}}" placeholder="https://oapi.dingtalk.com/robot/send?access_token=xxxxxxxx" autofocus required>
		</div>
		{{template "repo/settings/webhook/settings" .}}
	</form>
{{end}}
