{{if .PageIsSettingsHooksEdit}}
	<h4 class="ui top attached header">
		{{.i18n.Tr "repo.settings.recent_deliveries"}}
		{{if .PageIsRepositoryContext}}
			<div class="ui right">
				<button class="ui teal tiny delivery button poping up" data-content=
				"{{.i18n.Tr "repo.settings.webhook.test_delivery_desc"}}" data-variation="inverted tiny" data-link="{{.Link}}/test" data-redirect="{{.Link}}">{{.i18n.Tr "repo.settings.webhook.test_delivery"}}</button>
			</div>
		{{end}}
	</h4>
	<div class="ui attached table segment">
		<div class="ui hook history list">
			{{range .History}}
				<div class="item">
					<div class="meta">
						{{if .IsSucceed}}
							<span class="text green"><i class="octicon octicon-check"></i></span>
						{{else}}
							<span class="text red"><i class="octicon octicon-alert"></i></span>
						{{end}}
						<a class="ui blue sha label toggle button" data-target="#info-{{.ID}}">{{.UUID}}</a>
						<div class="ui right">
							<span class="text grey time">
								{{.DeliveredString}}
							</span>
						</div>
					</div>
					<div class="info hide" id="info-{{.ID}}">
						<div class="ui top attached tabular menu">
							<a class="item active" data-tab="request-{{.ID}}">{{$.i18n.Tr "repo.settings.webhook.request"}}</a>
							<a class="item" data-tab="response-{{.ID}}">
								{{$.i18n.Tr "repo.settings.webhook.response"}}
								{{if .ResponseInfo}}
									{{if .IsSucceed}}
										<span class="ui green label">{{.ResponseInfo.Status}}</span>
									{{else}}
										<span class="ui red label">{{.ResponseInfo.Status}}</span>
									{{end}}
								{{else}}
									<span class="ui label">N/A</span>
								{{end}}
							</a>
							{{if $.PageIsRepositoryContext}}
								<div class="right menu">
									<div class="ui basic redelivery button" data-link="{{$.Link}}/redelivery?uuid={{.UUID}}" data-redirect="{{$.Link}}"><i class="octicon octicon-sync"></i> <span>{{$.i18n.Tr "repo.settings.webhook.redelivery"}}</span></div>
								</div>
							{{end}}
						</div>
						<div class="ui bottom attached tab segment active" data-tab="request-{{.ID}}">
							{{if .RequestInfo}}
								<h5>{{$.i18n.Tr "repo.settings.webhook.headers"}}</h5>
								<pre class="raw"><strong>Request URL:</strong> {{.URL}}
<strong>Request method:</strong> POST
{{ range $key, $val := .RequestInfo.Headers }}<strong>{{$key}}:</strong> {{$val}}
{{end}}</pre>
								<h5>{{$.i18n.Tr "repo.settings.webhook.payload"}}</h5>
								<pre class="raw"><code class="json">{{.PayloadContent}}</code></pre>
							{{else}}
								N/A
							{{end}}
						</div>
						<div class="ui bottom attached tab segment" data-tab="response-{{.ID}}">
							{{if .ResponseInfo}}
								<h5>{{$.i18n.Tr "repo.settings.webhook.headers"}}</h5>
								<pre class="raw">{{ range $key, $val := .ResponseInfo.Headers }}<strong>{{$key}}:</strong> {{$val}}
{{end}}</pre>
								<h5>{{$.i18n.Tr "repo.settings.webhook.body"}}</h5>
								<pre class="raw"><code class="nohighlight">{{.ResponseInfo.Body}}</code></pre>
							{{else}}
								N/A
							{{end}}
						</div>
					</div>
				</div>
			{{end}}
		</div>
	</div>
{{end}}
