<div class="field">
	<h4>{{.i18n.Tr "repo.settings.event_desc"}}</h4>
	<div class="grouped event type fields">
		<div class="field">
			<div class="ui radio non-events checkbox">
				<input class="hidden" name="events" type="radio" value="push_only" {{if or .PageIsSettingsHooksNew .Webhook.PushOnly}}checked{{end}}>
				<label>{{.i18n.Tr "repo.settings.event_push_only" | Str2html}}</label>
			</div>
		</div>
		<div class="field">
			<div class="ui radio non-events checkbox">
				<input class="hidden" name="events" type="radio" value="send_everything" {{if .Webhook.SendEverything}}checked{{end}}>
				<label>{{.i18n.Tr "repo.settings.event_send_everything" | Str2html}}</label>
			</div>
		</div>
		<div class="field">
			<div class="ui radio events checkbox">
				<input class="hidden" name="events" type="radio" value="choose_events" {{if .Webhook.ChooseEvents}}checked{{end}}>
				<label>{{.i18n.Tr "repo.settings.event_choose" | Str2html}}</label>
			</div>
		</div>
	</div>

	<div class="events fields ui grid" {{if not .Webhook.ChooseEvents}}style="display:none"{{end}}>
		<!-- Create -->
		<div class="seven wide column">
			<div class="field">
				<div class="ui checkbox">
					<input class="hidden" name="create" type="checkbox" tabindex="0" {{if .Webhook.Create}}checked{{end}}>
					<label>{{.i18n.Tr "repo.settings.event_create"}}</label>
					<span class="help">{{.i18n.Tr "repo.settings.event_create_desc"}}</span>
				</div>
			</div>
		</div>
		<!-- Delete -->
		<div class="seven wide column">
			<div class="field">
				<div class="ui checkbox">
					<input class="hidden" name="delete" type="checkbox" tabindex="0" {{if .Webhook.Delete}}checked{{end}}>
					<label>{{.i18n.Tr "repo.settings.event_delete"}}</label>
					<span class="help">{{.i18n.Tr "repo.settings.event_delete_desc"}}</span>
				</div>
			</div>
		</div>
		<!-- Fork -->
		<div class="seven wide column">
			<div class="field">
				<div class="ui checkbox">
					<input class="hidden" name="fork" type="checkbox" tabindex="0" {{if .Webhook.Fork}}checked{{end}}>
					<label>{{.i18n.Tr "repo.settings.event_fork"}}</label>
					<span class="help">{{.i18n.Tr "repo.settings.event_fork_desc"}}</span>
				</div>
			</div>
		</div>
		<!-- Push -->
		<div class="seven wide column">
			<div class="field">
				<div class="ui checkbox">
					<input class="hidden" name="push" type="checkbox" tabindex="0" {{if .Webhook.Push}}checked{{end}}>
					<label>{{.i18n.Tr "repo.settings.event_push"}}</label>
					<span class="help">{{.i18n.Tr "repo.settings.event_push_desc"}}</span>
				</div>
			</div>
		</div>
		<!-- Issues -->
		<div class="seven wide column">
			<div class="field">
				<div class="ui checkbox">
					<input class="hidden" name="issues" type="checkbox" tabindex="0" {{if .Webhook.Issues}}checked{{end}}>
					<label>{{.i18n.Tr "repo.settings.event_issues"}}</label>
					<span class="help">{{.i18n.Tr "repo.settings.event_issues_desc"}}</span>
				</div>
			</div>
		</div>
		<!-- Pull Request -->
		<div class="seven wide column">
			<div class="field">
				<div class="ui checkbox">
					<input class="hidden" name="pull_request" type="checkbox" tabindex="0" {{if .Webhook.PullRequest}}checked{{end}}>
					<label>{{.i18n.Tr "repo.settings.event_pull_request"}}</label>
					<span class="help">{{.i18n.Tr "repo.settings.event_pull_request_desc"}}</span>
				</div>
			</div>
		</div>
		<!-- Issue Comment -->
		<div class="seven wide column">
			<div class="field">
				<div class="ui checkbox">
					<input class="hidden" name="issue_comment" type="checkbox" tabindex="0" {{if .Webhook.IssueComment}}checked{{end}}>
					<label>{{.i18n.Tr "repo.settings.event_issue_comment"}}</label>
					<span class="help">{{.i18n.Tr "repo.settings.event_issue_comment_desc"}}</span>
				</div>
			</div>
		</div>
		<!-- Release -->
		<div class="seven wide column">
			<div class="field">
				<div class="ui checkbox">
					<input class="hidden" name="release" type="checkbox" tabindex="0" {{if .Webhook.Release}}checked{{end}}>
					<label>{{.i18n.Tr "repo.settings.event_release"}}</label>
					<span class="help">{{.i18n.Tr "repo.settings.event_release_desc"}}</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui divider"></div>

<div class="inline field">
	<div class="ui checkbox">
		<input class="hidden" name="active" type="checkbox" tabindex="0" {{if or .PageIsSettingsHooksNew .Webhook.IsActive}}checked{{end}}>
		<label>{{.i18n.Tr "repo.settings.active"}}</label>
		<span class="help">{{.i18n.Tr "repo.settings.active_helper"}}</span>
	</div>
</div>
<div class="field">
	{{if .PageIsSettingsHooksNew}}
		<button class="ui green button">{{.i18n.Tr "repo.settings.add_webhook"}}</button>
	{{else}}
		<button class="ui green button">{{.i18n.Tr "repo.settings.update_webhook"}}</button>
		<a class="ui red delete-button button" data-url="{{.BaseLink}}/settings/hooks/delete" data-id="{{.Webhook.ID}}">{{.i18n.Tr "repo.settings.delete_webhook"}}</a>
	{{end}}
</div>

{{template "repo/settings/webhook/delete_modal" .}}
