{{if eq .HookType "slack"}}
	<p>{{.i18n.Tr "repo.settings.add_slack_hook_desc" "https://slack.com" | Str2html}}</p>
	<form class="ui form" action="{{.BaseLink}}/settings/hooks/slack/{{if .PageIsSettingsHooksNew}}new{{else}}{{.Webhook.ID}}{{end}}" method="post">
		{{.CSRFTokenHTML}}
		<div class="required field {{if .Err_PayloadURL}}error{{end}}">
			<label for="payload_url">{{.i18n.Tr "repo.settings.payload_url"}}</label>
			<input id="payload_url" name="payload_url" type="url" value="{{.Webhook.URL}}" autofocus required>
		</div>
		<div class="required field {{if .Err_Channel}}error{{end}}">
			<label for="channel">{{.i18n.Tr "repo.settings.slack_channel"}}</label>
			<input id="channel" name="channel" value="{{.SlackHook.Channel}}" placeholder="e.g. #general" required>
		</div>

		<div class="field">
			<label for="username">{{.i18n.Tr "repo.settings.slack_username"}}</label>
			<input id="username" name="username" value="{{.SlackHook.Username}}" placeholder="e.g. Gogs">
		</div>
		<div class="field">
			<label for="icon_url">{{.i18n.Tr "repo.settings.slack_icon_url"}}</label>
			<input id="icon_url" name="icon_url" value="{{.SlackHook.IconURL}}" placeholder="e.g. https://example.com/img/favicon.png">
		</div>
		<div class="field">
			<label for="color">{{.i18n.Tr "repo.settings.slack_color"}}</label>
			<input id="color" name="color" value="{{.SlackHook.Color}}" placeholder="e.g. #dd4b39, good, warning, danger">
		</div>
		{{template "repo/settings/webhook/settings" .}}
	</form>
{{end}}
