{{if eq .HookType "wechat"}}
	<p>{{.i18n.Tr "repo.settings.add_wechat_hook_desc" "https://developer.work.weixin.qq.com/document" | Safe}}</p>
	<form class="ui form" action="{{if .PageIsSettingsHooksNew}}{{$.Link}}{{else}}{{.FormURL}}{{end}}" method="post">
		{{.CSRFTokenHTML}}
		<div class="required field {{if .Err_PayloadURL}}error{{end}}">
			<label for="payload_url">{{.i18n.Tr "repo.settings.wechat_api_desc"}}</label>
			<input id="payload_url" name="payload_url" type="url" value="{{.Webhook.URL}}" autofocus required>
		</div>
		{{template "repo/settings/webhook/settings" .}}
	</form>
{{end}}
