{{template "base/head" .}}
{{template "base/navbar" .}}
{{template "repo/nav" .}}
{{template "repo/toolbar" .}}
<div id="body" class="container">
    <div id="release">
        <h4 id="release-head">
            <span class="release"><strong>Releases</strong></span><!--  /
            <a class="tag" href="/{tag_link}">Tags</a> -->
            <!-- comment : if in tag page, show a.release and span.tag please -->
        </h4>
        <ul id="release-list" class="list-unstyled">
            {{range .Releases}}
            <li class="release-item clearfix" id="release-{{.Sha1}}">
                {{if .PublisherId}}
                <div class="col-md-2 text-right">
                    {{if .IsDraft}}
                    <span class="btn btn-primary status pre-release">Draft</span>
                    {{else if .IsPrerelease}}
                    <span class="btn btn-warning status pre-release">Pre-Release</span>
                    {{else}}
                    <span class="btn btn-success status stable">Stable</span>
                    {{end}}
                    <a class="tag" href="{{$.RepoLink}}/src/{{.TagName}}" rel="nofollow"><i class="fa fa-tag"></i>{{.TagName}}</a>
                    <a class="commit" href="{{$.RepoLink}}/src/{{.Sha1}}" rel="nofollow"><i class="fa fa-code"></i>{{ShortSha .Sha1}}</a>
                </div>
                <div class="col-md-10">
                    <h4 class="title"><a href="{{$.RepoLink}}/src/{{.TagName}}">{{.Title}}</a> <small>(<a href="{{$.RepoLink}}/releases/edit/{{.TagName}}" rel="nofollow">edit</a>)</small></h4>
                    <p class="info">
                        <span class="author"><img class="avatar" src="{{.Publisher.AvatarLink}}" alt="" width="20">&nbsp;&nbsp;
                        <a href="/user/{{.Publisher.Name}}">{{.Publisher.Name}}</a></span>
                        {{if .Created}}<span class="time">{{TimeSince .Created}}</span>{{end}}
                        <span class="ahead"><strong>{{.NumCommitsBehind}}</strong> commits to {{.Target}} since this release</span>
                    </p>
                    <div class="markdown desc">
                        {{str2html .Note}}
                    </div>
                    <p class="download">
                        <a class="btn btn-default" href="{{$.RepoLink}}/archive/{{.TagName}}/{{$.Repository.Name}}.zip" rel="nofollow"><i class="fa fa-download"></i>Source Code (ZIP)</a>
                        <a class="btn btn-default" href="{{$.RepoLink}}/archive/{{.TagName}}/{{$.Repository.Name}}.tar.gz"><i class="fa fa-download"></i>Source Code (TAR.GZ)</a>
                    </p>
                    <span class="dot">&nbsp;</span>
                </div>
                {{else}}
                <div class="col-md-2 text-right">
                    <a class="commit" href="{{$.RepoLink}}/src/{{.Sha1}}" rel="nofollow"><i class="fa fa-code"></i>{{ShortSha .Sha1}}</a>
                </div>
                <div class="col-md-10">
                    <h5 class="title"><a href="{{$.RepoLink}}/src/{{.TagName}}" rel="nofollow">{{.TagName}}</a><i class="fa fa-tag"></i></h5>
                    <p class="download">
                        <a class="download-link" href="{{$.RepoLink}}/archive/{{.TagName}}/{{$.Repository.Name}}.zip" rel="nofollow"><i class="fa fa-download"></i>zip</a>
                        <a class="download-link" href="{{$.RepoLink}}/archive/{{.TagName}}/{{$.Repository.Name}}.tar.gz"><i class="fa fa-download"></i>tar.gz</a>
                    </p>
                    <span class="dot">&nbsp;</span>
                </div>
                {{end}}
            </li>
            {{end}}
        </ul>
    </div>
</div>
{{template "base/footer" .}}