[Unit]
Description=Gogs (Go Git Service)
Documentation=https://gogs.io/docs
After=syslog.target
After=network.target
#After=mysqld.service
#After=postgresql.service
#After=memcached.service
#After=redis.service

[Service]
Restart=always

; User and group the process will run as.
User=git
Group=git
 
; Gogs directories.
Environment=USER=git HOME=/home/git
WorkingDirectory=/home/git/gogs
 
ExecStart=/home/git/gogs/gogs web

; Repos with lots of files and get an HTTP error 500 will need that
;LimitMEMLOCK=infinity
;LimitNOFILE=65535
 
; Use private /tmp and /var/tmp, which are discarded after gogs stops.
PrivateTmp=true
 
; Use a minimal /dev
PrivateDevices=true
 
; Mount /usr, /boot, /etc folders read-only.
ProtectSystem=full

; Drop all other capabilities. Important if you run gogs as privileged user (which you should not).
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
 
;  ^   and prevent gaining any new privileges.
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target

