{{if .Flash.ErrorMsg}}
	<div class="ui negative message">
		<p>{{.Flash.ErrorMsg | Safe}}</p>
	</div>
{{end}}
{{if .Flash.SuccessMsg}}
	<div class="ui positive message">
		<p>{{.Flash.SuccessMsg | Safe}}</p>
	</div>
{{end}}
{{if .Flash.InfoMsg}}
	<div class="ui info message">
		<p>{{.Flash.InfoMsg| Safe}}</p>
	</div>
{{end}}
