{{if .Flash.ErrorMsg}}
	<div class="ui negative message">
		<p>{{.Flash.ErrorMsg | Str2html}}</p>
	</div>
{{end}}
{{if .Flash.SuccessMsg}}
	<div class="ui positive message">
		<p>{{.Flash.SuccessMsg | Str2html}}</p>
	</div>
{{end}}
{{if .Flash.InfoMsg}}
	<div class="ui info message">
		<p>{{.Flash.InfoMsg | Str2html}}</p>
	</div>
{{end}}
