	</div>
	<footer class="ui page grid">
		<div class="sixteen wide column">
			<div class="ui left">
				© 2015 Gogs · {{.i18n.Tr "version"}}: {{AppVer}} · {{.i18n.Tr "page"}}: <strong>{{LoadTimes .PageStartTime}}</strong> · {{.i18n.Tr "template"}}: <strong>{{call .TmplLoadTimes}}</strong>
			</div>
			<div class="ui right links">
				{{if .ShowFooterBranding}}
				<a target="_blank" href="https://github.com/gogits/gogs"><i class="fa fa-github-square"></i><span class="sr-only">GitHub</span></a>
				<a target="_blank" href="https://twitter.com/gogitservice"><i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a>
				<a target="_blank" href="https://plus.google.com/communities/115599856376145964459"><i class="fa fa-google-plus"></i><span class="sr-only">Google Plus</span></a>
				<a target="_blank" href="http://weibo.com/gogschina"><i class="fa fa-weibo"></i><span class="sr-only">Sina Weibo</span></a>
				{{end}}
				<div class="ui language bottom pointing dropdown link item">
          <i class="world icon"></i>
          <div class="text">{{.LangName}}</div>
          	<div class="menu">
          		{{range .AllLangs}}
  						<a class="item {{if eq $.Lang .Lang}}active selected{{end}}" href="{{if eq $.Lang .Lang}}#{{else}}{{$.Link}}?lang={{.Lang}}{{end}}">{{.Name}}</a>
  						{{end}}
						</div>
        </div>
				<a target="_blank" href="http://gogs.io">{{.i18n.Tr "website"}}</a>
				<span class="version">{{GoVer}}</span>
			</div>
		</div>
	</footer>
</body>
</html>