<div class="wrapper-push"></div>
</div>
<footer id="footer">
    <div class="container footer-wrap">
        <p>© 2014 Gogs · ver {{AppVer}} ·
            All: {{LoadTimes .PageStartTime}} ·
            Tmpl: {{call .TmplLoadTimes}} ·
            <i class="fa fa-github"></i><a target="_blank" href="https://github.com/gogits/gogs">GitHub</a> ·
        </p>
        <p class="desc"></p>
    </div>
</footer>
</body>
</html>