{{/*
<html>
<body>
	<div>
*/}}
	</div>
	<footer>
		<div class="ui container">
			<div class="ui left">
				© 2018 Gogs {{if (or .ShowFooterVersion .PageIsAdmin)}}{{.i18n.Tr "version"}}: {{AppVer}}{{end}} {{if ShowFooterTemplateLoadTime}}{{.i18n.Tr "page"}}: <strong>{{LoadTimes .PageStartTime}}</strong> {{.i18n.Tr "template"}}: <strong>{{call .TmplLoadTimes}}</strong>{{end}}
			</div>
			<div class="ui right links">
				{{if .ShowFooterBranding}}
					<a target="_blank" href="https://github.com/gogits/gogs"><i class="fa fa-github-square"></i><span class="sr-only">GitHub</span></a>
					<a target="_blank" href="https://twitter.com/GogsHQ"><i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a>
					<a target="_blank" href="http://weibo.com/gogschina"><i class="fa fa-weibo"></i><span class="sr-only">Sina Weibo</span></a>
				{{end}}
				<div class="ui language bottom floating slide up dropdown link item">
					<i class="world icon"></i>
					<div class="text">{{.LangName}}</div>
					<div class="menu">
						{{range .AllLangs}}
							<a class="item {{if eq $.Lang .Lang}}active selected{{end}}" href="{{if eq $.Lang .Lang}}#{{else}}{{$.Link}}?lang={{.Lang}}{{end}}">{{.Name}}</a>
						{{end}}
					</div>
				</div>
				<a href="/assets/librejs/librejs.html" style="display:none" data-jslicense="1">Javascript Licenses</a>
				<a target="_blank" href="https://gogs.io">{{.i18n.Tr "website"}}</a>
				{{if (or .ShowFooterVersion .PageIsAdmin)}}<span class="version">{{GoVer}}</span>{{end}}
			</div>
		</div>
	</footer>
</body>

<!-- Third-party libraries -->
{{if .RequireHighlightJS}}
	<link rel="stylesheet" href="{{AppSubURL}}/plugins/highlight-9.6.0/github.css">
	<script src="{{AppSubURL}}/plugins/highlight-9.6.0/highlight.pack.js"></script>
{{end}}
{{if .RequireMinicolors}}
	<link rel="stylesheet" href="{{AppSubURL}}/plugins/jquery.minicolors-2.2.3/jquery.minicolors.css">
	<script src="{{AppSubURL}}/plugins/jquery.minicolors-2.2.3/jquery.minicolors.min.js"></script>
{{end}}
{{if .RequireDatetimepicker}}
	<link rel="stylesheet" href="{{AppSubURL}}/plugins/jquery.datetimepicker-2.4.5/jquery.datetimepicker.css">
	<script src="{{AppSubURL}}/plugins/jquery.datetimepicker-2.4.5/jquery.datetimepicker.js"></script>
{{end}}
{{if .RequireDropzone}}
	<link rel="stylesheet" href="{{AppSubURL}}/plugins/dropzone-4.2.0/dropzone.css">
	<script src="{{AppSubURL}}/plugins/dropzone-4.2.0/dropzone.js"></script>
{{end}}
<script src="{{AppSubURL}}/js/libs/emojify-1.1.0.min.js"></script>
<script src="{{AppSubURL}}/js/libs/clipboard-1.5.9.min.js"></script>

{{template "inject/footer" .}}
</html>
