<div class="wrapper-push"></div>
</div>
<footer id="footer">
    <div class="container footer-wrap">
    	<div class="row">
	    	<div class="col-md-6">
		        <p>© 2014 GoGits · Version: {{AppVer}} ·
		            Page: <b>{{LoadTimes .PageStartTime}}</b> ·
		            Template: <b>{{call .TmplLoadTimes}}</b>
		        </p>
	        </div>

	    	<div class="col-md-2" style="margin: -5px;">
		        <a target="_blank" href="https://github.com/gogits/gogs"><i class="fa fa-github fa-2x"></i></a>
	        </div>

	    	<div class="col-md-4">
	        	<p class="desc">
	        		<a href="http://gogs.io">Official Website</a>
	        	</p>
	        </div>
    	</div>

    	<div class="row">
	    	<div class="col-md-6">
    			Go Version: {{GoVer}}
    		</div>
    	</div>
    </div>
</footer>
</body>
</html>