<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="shortcut icon" href="/img/favicon.png" />
		<meta name="author" content="Gogs - Go Git Service" />
		<meta name="description" content="Gogs(Go Git Service) is a GitHub-like clone in the Go Programming Language" />
		<meta name="keywords" content="go, git">

		 <!-- Stylesheets -->
		<link href="/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/css/todc-bootstrap.min.css" rel="stylesheet" />
		<link href="/css/font-awesome.min.css" rel="stylesheet" />
		<link href="/css/gogs.css" rel="stylesheet" />

		<script src="/js/jquery-1.10.1.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
        <script src="/js/app.js"></script>
		<title>{{if .Title}}{{.Title}} - {{end}}{{AppName}}</title>
	</head>
	<body>
		<div id="wrapper">
		<noscript>Please enable JavaScript in your browser!</noscript>