<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gogs-navbar-collapse">
				<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand" href="/"><img src="img/favicon.png" alt="Gogs Logo"></a>
		</div>

		<div class="collapse navbar-collapse" id="gopmweb-navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a>{{.Title}}</a></li>
			</ul>
			
			<a href="/login" class="navbar-right btn btn-success navbar-btn">Log In</a>
		</div>
	</div>
</nav>
