<div class="gogs-masthead navbar navbar-fixed-top" id="masthead">
    <div class="container">
        <nav class="gogs-nav">
            <a class="gogs-nav-item active" href="/"><img src="/img/favicon.png" alt="Gogs Logo" id="gogs-logo"></a>
            <a class="gogs-nav-item" href="#">Dashboard</a>
            <a class="gogs-nav-item" href="#">Explore</a>
            <a class="gogs-nav-item" href="#">Help</a>

            <!--<a class="gogs-nav-item navbar-right navbar-btn btn btn-danger" href="/login/">Sign in</a>-->
            <a id="gogs-nav-out" class="gogs-nav-item navbar-right navbar-btn btn btn-danger" href="/user/login/"><i class="fa fa-power-off fa-lg"></i></a>
            <a id="gogs-nav-avatar" class="gogs-nav-item navbar-right" href="/user/profile" data-toggle="tooltip" data-placement="bottom" title="Username">
                <img src="http://1.gravatar.com/avatar/x?s=28" alt="user-avatar" title="username"/>
            </a>
            <a class="navbar-right gogs-nav-item" href="/repo/create" data-toggle="tooltip" data-placement="bottom" title="New Repository"><i class="fa fa-plus fa-lg"></i></a>
            <a class="navbar-right gogs-nav-item" href="#"  data-toggle="tooltip" data-placement="bottom" title="Setting"><i class="fa fa-cogs fa-lg"></i></a>
        </nav>
    </div>
</div>
<!--<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gogs-navbar-collapse">
				<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand" href="/"><img src="/img/favicon.png" alt="Gogs Logo"></a>
		</div>

		<div class="collapse navbar-collapse" id="gopmweb-navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a>{{.Title}}</a></li>
			</ul>
			
			<a href="/user/signin" class="navbar-right btn btn-success navbar-btn">Sign In</a>
		</div>
	</div>
</nav>-->
