{{template "base/head" .}}
<div class="repository wiki new">
	{{template "repo/header" .}}
  <div class="ui container">
    {{template "repo/sidebar" .}}
    <div class="ui header">
      {{.i18n.Tr "repo.wiki.new_page"}}
    </div>
    <form class="ui form" action="{{.Link}}" method="post">
      {{.CsrfTokenHtml}}
      <div class="field">
        <input name="title" value="{{.title}}" autofocus required>
      </div>
      <div class="field">
        <textarea id="edit-area" name="content" data-url="{{AppSubUrl}}/api/v1/markdown" data-context="{{.RepoLink}}">{{.i18n.Tr "repo.wiki.welcome"}}</textarea required>
      </div>
      <div class="field">
        <input name="message" placeholder="{{.i18n.Tr "repo.wiki.default_commit_message"}}">
      </div>
      <div class="text right">
        <button class="ui green button">
          {{.i18n.Tr "repo.wiki.save_page"}}
        </button>
      </div>
    </form>
	</div>
</div>
{{template "base/footer" .}}