{{template "base/head" .}}
<div class="repository wiki start">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="ui center segment">
			<span class="mega-octicon octicon-book"></span>
			<h2>{{.i18n.Tr "repo.wiki.welcome"}}</h2>
			<p>{{.i18n.Tr "repo.wiki.welcome_desc"}}</p>
			{{if and .IsRepositoryWriter (not .Repository.IsMirror)}}
				<a class="ui green button" href="{{.RepoLink}}/wiki/_new">{{.i18n.Tr "repo.wiki.create_first_page"}}</a>
			{{end}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
