		</div>
		<footer id="footer">
		    <div class="container clear">
		        <p class="left" id="footer-rights">© 2015 Gogs · {{.i18n.Tr "version"}}: {{AppVer}} · {{.i18n.Tr "page"}}: <strong>{{LoadTimes .PageStartTime}}</strong> ·
		            {{.i18n.Tr "template"}}: <strong>{{call .TmplLoadTimes}}</strong></p>

		        <div class="right" id="footer-links">
		        		{{if .ShowFooterBranding}}
		            <a target="_blank" href="https://github.com/gogits/gogs"><i class="fa fa-github-square"></i></a>
		            <a target="_blank" href="https://twitter.com/gogitservice"><i class="fa fa-twitter"></i></a>
		            <a target="_blank" href="https://plus.google.com/communities/115599856376145964459"><i class="fa fa-google-plus"></i></a>
		            <a target="_blank" href="http://weibo.com/gogschina"><i class="fa fa-weibo"></i></a>
		            {{end}}
		            <div id="footer-lang" class="inline drop drop-top">{{.i18n.Tr "language"}}
		                <div class="drop-down">
		                    <ul class="menu menu-vertical switching-list">
		                    	{{range .AllLangs}}
		                        <li><a href="{{if eq $.Lang .Lang}}#{{else}}{{$.Link}}?lang={{.Lang}}{{end}}">{{.Name}}</a></li>
		                        {{end}}
		                    </ul>
		                </div>
		            </div>
		            <a target="_blank" href="http://gogs.io">{{.i18n.Tr "website"}}</a>
		            <span class="version">{{GoVer}}</span>
		        </div>
		    </div>
		</footer>
	</body>
</html>