<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="author" content="Gogs - Go Git Service" />
		<meta name="description" content="Gogs(Go Git Service) a painless self-hosted Git Service written in Go" />
		<meta name="keywords" content="go, git, self-hosted, gogs">

		<link rel="shortcut icon" href="/img/favicon.png" />

		<!-- Stylesheet -->
		<link rel="stylesheet" href="/ng/css/ui.css">
		<link rel="stylesheet" href="/ng/css/gogs.css">
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/ng/fonts/octicons.css">
		<!-- <link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/8.1/styles/github.min.css"> -->
		<link rel="stylesheet" href="/css/github.min.css">

		<!-- JavaScript -->
		<script src="/ng/js/lib/jquery-1.11.1.min.js"></script>
		<script src="/ng/js/lib/tabs.js"></script>
    	<script src="/ng/js/lib/lib.js"></script>
		<script src="/ng/js/gogs.js"></script>

		<title>{{if .Title}}{{.Title}} - {{end}}{{AppName}}</title>
	</head>
	<body>
		<div id="wrapper">
		<noscript>Please enable JavaScript in your browser!</noscript>