<header id="header">
    <ul class="menu menu-line container" id="header-nav">
        {{if not .PageIsHome}}
        <li class="head" id="header-nav-logo">
            <img src="{{AppSubUrl}}/img/favicon.png" alt="avatar" class="avatar-30"/>
        </li>
        <li {{if .PageIsDashboard}}class="current"{{end}}>
            <a href="{{AppSubUrl}}/">{{if .IsSigned}}{{.i18n.Tr "dashboard"}}{{else}}{{.i18n.Tr "home"}}{{end}}</a>
        </li>
        <li><a href="{{AppSubUrl}}/explore">{{.i18n.Tr "explore"}}</a></li>
        <li><a target="_blank" href="http://gogs.io/docs">{{.i18n.Tr "help"}}</a></li>
        {{end}}

        {{if .IsSigned}}
        <li class="right" id="header-nav-sign-out">
            <a href="{{AppSubUrl}}/user/logout" title="{{.i18n.Tr "sign_out"}}"><i class="octicon octicon-sign-out"></i></a>
        </li>
        <li class="right {{if .PageIsUserSettings}}current{{end}}">
            <a href="{{AppSubUrl}}/user/settings" title="{{.i18n.Tr "account_settings"}}"><i class="octicon octicon-settings"></i></a>
        </li>
            {{if .IsAdmin}}
            <li class="right {{if .PageIsAdmin}}current{{end}}">
                <a href="{{AppSubUrl}}/admin" title="{{.i18n.Tr "admin_panel"}}"><i class="octicon octicon-circuit-board"></i></a>
            </li>
            {{end}}
        <li class="right down">
            <a href="#"><i class="octicon octicon-plus"></i></a>
            <ul class="menu menu-down" id="header-new-repo-menu">
                <li><a href="{{AppSubUrl}}/repo/create"><i class="octicon octicon-repo-create"></i>{{.i18n.Tr "new_repo"}}</a></li>
                <li><a href="{{AppSubUrl}}/repo/migrate"><i class="octicon octicon-repo-clone"></i>{{.i18n.Tr "new_migrate"}}</a></li>
                <li><a href="{{AppSubUrl}}/org/create"><i class="octicon octicon-organization"></i>{{.i18n.Tr "new_org"}}</a></li>
            </ul>
        </li>
        <li class="right" id="header-nav-user">
            <a href="{{AppSubUrl}}/{{.SignedUser.Name}}" class="text-bold">
                <img src="{{.SignedUser.AvatarLink}}" alt="user-avatar" class="avatar-30"/>
                {{.SignedUser.Name}}
            </a>
        </li>
        {{else}}
            {{if .PageIsHome}}
            <li class="right" id="header-nav-help">
                <a target="_blank" href="http://gogs.io/docs"><i class="octicon octicon-info"></i>&nbsp;&nbsp;{{.i18n.Tr "help"}}</a>
            </li>
            <li class="right" id="header-nav-explore">
                <a href="{{AppSubUrl}}/explore"><i class="octicon octicon-globe"></i>&nbsp;&nbsp;{{.i18n.Tr "explore"}}</a>
            </li>
            {{else}}
            <li class="right" id="header-nav-sign-in">
                <a href="{{AppSubUrl}}/user/login" title="Sign In"><i class="octicon octicon-sign-in"></i> {{.i18n.Tr "sign_in"}}</a>
            </li>
            {{if .ShowRegistrationButton}}
            <li class="right">
                <a href="{{AppSubUrl}}/user/sign_up" title="Account Settings"><i class="octicon octicon-person-add"></i> {{.i18n.Tr "register"}}</a>
            </li>
            {{end}}
            {{end}}
        {{end}}
    </ul>
</header>