<!DOCTYPE html>
<html{{if .BrowserSupportsCopy}} class="is-copy-enabled"{{end}}>
	<head data-suburl="{{AppSubUrl}}">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="author" content="Gogs - Go Git Service" />
		<meta name="description" content="Gogs(Go Git Service) a painless self-hosted Git Service written in Go" />
		<meta name="keywords" content="go, git, self-hosted, gogs">
		<meta name="referrer" content="no-referrer" />
		<meta name="_csrf" content="{{.CsrfToken}}" />
		{{if .GoGetImport}}<meta name="go-import" content="{{.GoGetImport}} git {{.CloneLink.HTTPS}}">{{end}}

		<link rel="shortcut icon" href="{{AppSubUrl}}/img/favicon.png" />


		<link rel="stylesheet" href="{{AppSubUrl}}/ng/css/font-awesome.min.css">
		
		<script src="{{AppSubUrl}}/ng/js/lib/jquery-1.11.1.min.js"></script>

		<!-- Stylesheet -->
		<link rel="stylesheet" href="{{AppSubUrl}}/ng/css/ui.css">
		<link rel="stylesheet" href="{{AppSubUrl}}/ng/css/gogs.css">
		<link rel="stylesheet" href="{{AppSubUrl}}/ng/css/tipsy.css">
		<link rel="stylesheet" href="{{AppSubUrl}}/ng/css/magnific-popup.css">
		<link rel="stylesheet" href="{{AppSubUrl}}/ng/fonts/octicons.css">
		<link rel="stylesheet" href="{{AppSubUrl}}/css/github.min.css">

		<!-- JavaScript -->
    	<script src="{{AppSubUrl}}/ng/js/lib/lib.js"></script>
    	<script src="{{AppSubUrl}}/ng/js/lib/jquery.tipsy.js"></script>
    	<script src="{{AppSubUrl}}/ng/js/lib/jquery.magnific-popup.min.js"></script>
        <script src="{{AppSubUrl}}/ng/js/utils/tabs.js"></script>
        <script src="{{AppSubUrl}}/ng/js/utils/preview.js"></script>
		<script src="{{AppSubUrl}}/ng/js/gogs/issue_label.js"></script>
		<script src="{{AppSubUrl}}/ng/js/gogs.js"></script>

		<title>{{if .Title}}{{.Title}} - {{end}}{{AppName}}</title>
	</head>
	<body>
		<div id="wrapper">
		<noscript>Please enable JavaScript in your browser!</noscript>
