<button class="btn github"><i class="fa fa-github"></i>GitHub</button>
<button class="btn google"><i class="fa fa-google"></i>Google +</button>
<button class="btn weibo"><i class="fa fa-weibo"></i>新浪微博</button>
<button class="btn qq"><i class="fa fa-qq"></i>腾讯 QQ&nbsp;</button>