.markdown {
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
  padding: 0 2em 2em !important;
}
.markdown > *:first-child {
  margin-top: 0 !important;
}
.markdown > *:last-child {
  margin-bottom: 0 !important;
}
.markdown a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.markdown .absent {
  color: #c00;
}
.markdown .anchor {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}
.markdown .anchor:focus {
  outline: none;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}
.markdown h1 .octicon-link,
.markdown h2 .octicon-link,
.markdown h3 .octicon-link,
.markdown h4 .octicon-link,
.markdown h5 .octicon-link,
.markdown h6 .octicon-link {
  display: none;
  color: #000;
  vertical-align: middle;
}
.markdown h1:hover .anchor,
.markdown h2:hover .anchor,
.markdown h3:hover .anchor,
.markdown h4:hover .anchor,
.markdown h5:hover .anchor,
.markdown h6:hover .anchor {
  padding-left: 8px;
  margin-left: -30px;
  text-decoration: none;
}
.markdown h1:hover .anchor .octicon-link,
.markdown h2:hover .anchor .octicon-link,
.markdown h3:hover .anchor .octicon-link,
.markdown h4:hover .anchor .octicon-link,
.markdown h5:hover .anchor .octicon-link,
.markdown h6:hover .anchor .octicon-link {
  display: inline-block;
}
.markdown h1 tt,
.markdown h1 code,
.markdown h2 tt,
.markdown h2 code,
.markdown h3 tt,
.markdown h3 code,
.markdown h4 tt,
.markdown h4 code,
.markdown h5 tt,
.markdown h5 code,
.markdown h6 tt,
.markdown h6 code {
  font-size: inherit;
}
.markdown h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}
.markdown h1 .anchor {
  line-height: 1;
}
.markdown h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}
.markdown h2 .anchor {
  line-height: 1;
}
.markdown h3 {
  font-size: 1.5em;
  line-height: 1.43;
}
.markdown h3 .anchor {
  line-height: 1.2;
}
.markdown h4 {
  font-size: 1.25em;
}
.markdown h4 .anchor {
  line-height: 1.2;
}
.markdown h5 {
  font-size: 1em;
}
.markdown h5 .anchor {
  line-height: 1.1;
}
.markdown h6 {
  font-size: 1em;
  color: #777;
}
.markdown h6 .anchor {
  line-height: 1.1;
}
.markdown p,
.markdown blockquote,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown table,
.markdown pre {
  margin-top: 0;
  margin-bottom: 16px;
}
.markdown hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}
.markdown ul,
.markdown ol {
  padding-left: 2em;
}
.markdown ul.no-list,
.markdown ol.no-list {
  padding: 0;
  list-style-type: none;
}
.markdown ul ul,
.markdown ul ol,
.markdown ol ol,
.markdown ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown ol ol,
.markdown ul ol {
  list-style-type: lower-roman;
}
.markdown li > p {
  margin-top: 16px;
}
.markdown dl {
  padding: 0;
}
.markdown dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
.markdown dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.markdown blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}
.markdown blockquote > :first-child {
  margin-top: 0;
}
.markdown blockquote > :last-child {
  margin-bottom: 0;
}
.markdown table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}
.markdown table th {
  font-weight: bold;
}
.markdown table th,
.markdown table td {
  padding: 6px 13px !important;
  border: 1px solid #ddd;
}
.markdown table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.markdown table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.markdown img {
  max-width: 100%;
  box-sizing: border-box;
}
.markdown .emoji {
  max-width: none;
}
.markdown span.frame {
  display: block;
  overflow: hidden;
}
.markdown span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #ddd;
}
.markdown span.frame span img {
  display: block;
  float: left;
}
.markdown span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #333;
}
.markdown span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}
.markdown span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}
.markdown span.align-center span img {
  margin: 0 auto;
  text-align: center;
}
.markdown span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}
.markdown span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}
.markdown span.align-right span img {
  margin: 0;
  text-align: right;
}
.markdown span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}
.markdown span.float-left span {
  margin: 13px 0 0;
}
.markdown span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}
.markdown span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}
.markdown code,
.markdown tt {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}
.markdown code:before,
.markdown code:after,
.markdown tt:before,
.markdown tt:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
.markdown code br,
.markdown tt br {
  display: none;
}
.markdown del code {
  text-decoration: inherit;
}
.markdown pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.markdown .highlight {
  margin-bottom: 16px;
}
.markdown .highlight pre,
.markdown pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}
.markdown .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.markdown pre {
  word-wrap: normal;
}
.markdown pre code,
.markdown pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.markdown pre code:before,
.markdown pre code:after,
.markdown pre tt:before,
.markdown pre tt:after {
  content: normal;
}
.markdown kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbbbbb;
}
.markdown .csv-data td,
.markdown .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}
.markdown .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #fff;
  border: 0;
}
.markdown .csv-data tr {
  border-top: 0;
}
.markdown .csv-data th {
  font-weight: bold;
  background: #f8f8f8;
  border-top: 0;
}
/* Author: jmblog */
/* Project: https://github.com/jmblog/color-themes-for-google-code-prettify */
/* GitHub Theme */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* plain text */
.pln {
  color: #333333;
}
@media screen {
  /* string content */
  .str {
    color: #dd1144;
  }
  /* a keyword */
  .kwd {
    color: #333333;
  }
  /* a comment */
  .com {
    color: #999988;
    font-style: italic;
  }
  /* a type name */
  .typ {
    color: #445588;
  }
  /* a literal value */
  .lit {
    color: #445588;
  }
  /* punctuation */
  .pun {
    color: #333333;
  }
  /* lisp open bracket */
  .opn {
    color: #333333;
  }
  /* lisp close bracket */
  .clo {
    color: #333333;
  }
  /* a markup tag name */
  .tag {
    color: navy;
  }
  /* a markup attribute name */
  .atn {
    color: teal;
  }
  /* a markup attribute value */
  .atv {
    color: #dd1144;
  }
  /* a declaration */
  .dec {
    color: #333333;
  }
  /* a variable name */
  .var {
    color: teal;
  }
  /* a function name */
  .fun {
    color: #990000;
  }
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #004444;
  }
  .pun,
  .opn,
  .clo {
    color: #444400;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #440044;
  }
  .atv {
    color: #006600;
  }
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
