{{with .Owner}}
<div class="ui container">
	<img class="ui avatar image" src="{{.RelAvatarLink}}">
	<span class="header name">
		<a href="{{.HomeLink}}">{{.Name}}</a>
		{{with .FullName}}({{.}}){{end}}
	</span>

	<div class="ui right">
		{{if or $.PageIsFollowers $.PageIsFollowing}}
			{{if and $.IsLogged (ne $.LoggedUserName .Name)}}
				<div class="follow">
					{{if $.LoggedUser.IsFollowing .ID}}
					<a class="ui small basic red button" href="{{.HomeLink}}/action/unfollow?redirect_to={{$.Link}}"><i class="octicon octicon-person"></i> {{$.i18n.Tr "user.unfollow"}}</a>
					{{else}}
					<a class="ui small basic green button" href="{{.HomeLink}}/action/follow?redirect_to={{$.Link}}"><i class="octicon octicon-person"></i> {{$.i18n.Tr "user.follow"}}</a>
					{{end}}
				</div>
			{{end}}
		{{end}}
	</div>
</div>
{{end}}
<div class="ui divider"></div>
