{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="repo-wrapper">
    {{template "repo/header_old" .}}
    <div id="repo-content" class="clear container">
        <div id="repo-main" class="left grid-5-6">
            {{template "ng/base/alert" .}}
            <div id="release">
                <h4 id="release-head">{{.i18n.Tr "repo.release.edit_release"}}</h4>
                <form class="form" id="release-new-form" action="{{.RepoLink}}/releases/edit/{{.Release.TagName}}" method="post">
                    {{.CsrfTokenHtml}}
                    <div class="field">
                        <b>{{.Release.TagName}}</b>
                        <span class="target-at">@</span>
                        <strong>{{.Repository.DefaultBranch}}</strong>
                    </div>
                    <div class="field">
                        <input class="ipt ipt-large ipt-radius grid-4-5" id="release-new-title" name="title" placeholder="{{.i18n.Tr "repo.release.release_title"}}" value="{{.Release.Title}}" required>
                    </div>
                    <br>
                    <div class="field grid-4-5">
                        <div class="md-help pull-right">
                            {{.i18n.Tr "repo.release.content_with_md" "https://help.github.com/articles/markdown-basics" | Str2html}}
                        </div>
                        <div class="clear">
                            <ul class="tab-nav list-unstyled">
                                <li class="js-tab-nav js-tab-nav-show left" data-tab-target="#release-textarea">
                                    <button class="btn btn-medium btn-gray btn-left-radius">{{.i18n.Tr "repo.release.write"}}</button>
                                </li>
                                <li class="js-tab-nav left markdown-preview" id="release-preview-btn" data-tab-target="#release-preview" data-ajax="/api/v1/markdown" data-ajax-name="release-preview" data-ajax-context="{{.RepoLink}}" data-ajax-method="post" data-preview="#release-preview">
                                    <button class="btn btn-medium btn-gray btn-right-radius">{{.i18n.Tr "repo.release.preview"}}</button>
                                </li>
                            </ul>
                        </div>
                        <div id="release-textarea">
                            <div class="form-group">
                                <textarea class="ipt ipt-large ipt-radius" name="content" id="release-new-content" rows="10" placeholder="{{.i18n.Tr "repo.release.content_placeholder"}}" data-ajax-rel="release-preview" data-ajax-val="val" data-ajax-field="text" required>{{.Release.Note}}</textarea>
                            </div>
                        </div>
                        <div class="markdown hide" id="release-preview">{{.i18n.Tr "repo.release.loading"}}</div>
                        <br>
                        <hr>
                        <div class="text-right">
                            <input class="ipt-chk" name="prerelease" type="checkbox" {{if .Release.IsPrerelease}}checked{{end}}/>
                            <span><strong>{{.i18n.Tr "repo.release.prerelease_desc"}}</strong></span>
                            <p>{{.i18n.Tr "repo.release.prerelease_helper"}}</p>
                            <button class="btn btn-large btn-green btn-radius">Publish release</button>
                            {{if .Release.IsDraft}}
                            <input class="btn btn-large btn-gary btn-radius" type="submit" name="draft" value="{{.i18n.Tr "repo.release.save_draft"}}"/>
                            {{end}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {{template "repo/sidebar" .}}
    </div>
</div>
{{template "ng/base/footer" .}}