{{template "base/head" .}}
<div class="user activate">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form" action="{{AppSubURL}}/user/activate" method="post">
				{{.CSRFTokenHTML}}
				<h2 class="ui top attached header">
					{{.i18n.Tr "auth.active_your_account"}}
				</h2>
				<div class="ui attached segment">
					{{template "base/alert" .}}
					{{if .IsActivatePage}}
						{{if .ServiceNotEnabled}}
							<p class="center">{{.i18n.Tr "auth.disable_register_mail"}}</p>
						{{else if .ResendLimited}}
							<p class="center">{{.i18n.Tr "auth.resent_limit_prompt"}}</p>
						{{else}}
							<p>{{.i18n.Tr "auth.confirmation_mail_sent_prompt" .LoggedUser.Email .Hours | Str2html}}</p>
						{{end}}
					{{else}}
						{{if .IsSendRegisterMail}}
							<p>{{.i18n.Tr "auth.confirmation_mail_sent_prompt" .Email .Hours | Str2html}}</p>
						{{else if .IsActivateFailed}}
							<p>{{.i18n.Tr "auth.invalid_code"}}</p>
						{{else}}
							<p>{{.i18n.Tr "auth.has_unconfirmed_mail" .LoggedUser.Name .LoggedUser.Email | Str2html}}</p>
							<div class="ui divider"></div>
							<div class="text right">
								<button class="ui blue button">{{.i18n.Tr "auth.resend_mail"}}</button>
							</div>
						{{end}}
					{{end}}
				</div>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
