{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="sign-wrapper">
    <form class="form-align form panel sign-panel sign-form container panel-radius" id="sign-up-form" action="{{AppSubUrl}}/user/forget_password" method="post">
        {{.CsrfTokenHtml}}
        <div class="panel-header">
            <h2>{{.i18n.Tr "auth.forgot_password"}}</h2>
        </div>
        <div class="panel-content">
            {{template "ng/base/alert" .}}
            {{if .IsResetSent}}
            <p>{{.i18n.Tr "auth.confirmation_mail_sent_prompt" .Email .Hours | Str2html}}</p>
            <hr/>
            <label></label>
            <a class="btn btn-green btn-large btn-link btn-radius" href="http://{{Mail2Domain .Email}}">{{.i18n.Tr "auth.sign_in_email"}}</a>
            {{else if .IsResetRequest}}
            <div class="field">
                <label class="req" for="email">{{.i18n.Tr "email"}}</label>
                <input class="ipt ipt-large ipt-radius {{if .Err_Email}}ipt-error{{end}}" id="email" name="email" type="email"  value="{{.email}}"required/>
            </div>
            <hr/>
            <label></label>
            <button class="btn btn-blue btn-large btn-radius">{{.i18n.Tr "auth.send_reset_mail"}}</button>
            {{else if .IsResetDisable}}
            <p>{{.i18n.Tr "auth.disable_register_mail"}}</p>
            {{else if .ResendLimited}}
            <p>{{.i18n.Tr "auth.resent_limit_prompt"}}</p>
            {{end}}
        </div>
    </form>
</div>
{{template "ng/base/footer" .}}
