{{template "base/head" .}}
<div class="user activate">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form">
				<h2 class="ui top attached header">
					{{.i18n.Tr "auth.prohibit_login"}}
				</h2>
				<div class="ui attached segment">
					<p>{{.i18n.Tr "auth.prohibit_login_desc"}}</p>
				</div>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
