{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="sign-wrapper">
    <form class="form-align form panel panel-radius sign-panel sign-form container" id="sign-up-form" action="{{AppSubUrl}}/user/sign_up" method="post">
        <div class="panel-header">
            <h2>{{if .IsSocialLogin}}{{.i18n.Tr "social_sign_in" | Str2html}}{{else}}{{.i18n.Tr "sign_up"}}{{end}}</h2>
        </div>
        <div class="panel-content">
            {{template "ng/base/alert" .}}
	        {{if .DisableRegistration}}
	        <p>{{.i18n.Tr "auth.disable_register_prompt"}}</p>
	        {{else}}
            <div class="field">
                <label class="req" for="username">{{.i18n.Tr "username"}}</label>
                <input class="ipt ipt-large ipt-radius {{if .Err_UserName}}ipt-error{{end}}" id="username" name="uname" type="text" value="{{.uname}}" required/>
            </div>
            <div class="field">
                <label class="req" for="email">{{.i18n.Tr "email"}}</label>
                <input class="ipt ipt-large ipt-radius {{if .Err_Email}}ipt-error{{end}}" id="email" name="email" type="email" value="{{.email}}" required />
            </div>
            <div class="field">
                <label class="req" for="password">{{.i18n.Tr "password"}}</label>
                <input class="ipt ipt-large ipt-radius {{if .Err_Password}}ipt-error{{end}}" id="password" name="password" type="password" value="{{.password}}" required/>
            </div>
            <div class="field">
                <label class="req" for="re-type">{{.i18n.Tr "re_type"}}</label>
                <input class="ipt ipt-large ipt-radius {{if .Err_Password}}ipt-error{{end}}" id="re-type" name="retype" type="password" required/>
            </div>
            <div class="field">
                <label></label>
                {{.Captcha.CreateHtml}}
            </div>
            <div class="field">
                <label class="req" for="captcha">{{.i18n.Tr "captcha"}}</label>
                <input class="ipt ipt-large ipt-radius {{if .Err_Captcha}}ipt-error{{end}}" id="captcha" name="captcha" type="text" required/>
            </div>
            <div class="field">
                <span class="form-label"></span>
                <button class="btn btn-blue btn-large btn-radius">{{.i18n.Tr "auth.create_new_account"}}</button>
            </div>
            <div class="field">
                <span class="form-label"></span>
                <a href="{{AppSubUrl}}/user/login">{{if .IsSocialLogin}}{{.i18n.Tr "auth.social_register_hepler_msg"}}{{else}}{{.i18n.Tr "auth.register_hepler_msg"}}{{end}}</a>
            </div>
        	{{end}}
        </div>
    </form>
</div>
{{template "ng/base/footer" .}}