{{$file := .}}
{{$highlightClass := $file.GetHighlightClass}}
{{range $j, $section := $file.Sections}}
	{{range $k, $line := $section.Lines}}
		<tr class="{{DiffLineTypeToStr .GetType}}-code nl-{{$k}} ol-{{$k}}">
			{{if eq .GetType 4}}
			<td colspan="2" class="lines-num">
				{{/* {{if gt $j 0}}<span class="fold octicon octicon-fold"></span>{{end}} */}}
			</td>
			{{else}}
			<td class="lines-num lines-num-old">
				<span rel="{{if $line.LeftIdx}}diff-{{Sha1 $file.Name}}L{{$line.LeftIdx}}{{end}}">{{if $line.LeftIdx}}{{$line.LeftIdx}}{{end}}</span>
			</td>
			<td class="lines-num lines-num-new">
				<span rel="{{if $line.RightIdx}}diff-{{Sha1 $file.Name}}R{{$line.RightIdx}}{{end}}">{{if $line.RightIdx}}{{$line.RightIdx}}{{end}}</span>
			</td>
			{{end}}
			<td class="lines-code">
				<pre><code class="{{if $highlightClass}}language-{{$highlightClass}}{{else}}nohighlight{{end}}">{{$section.GetComputedInlineDiffFor $line}}</code></pre>
			</td>
		</tr>
	{{end}}
{{end}}