{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="body" class="container" data-page="admin">
    {{template "admin/nav" .}}
    <div id="admin-container" class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                New Account
            </div>

            <div class="panel-body">
            	<br/>
				<form action="/admin/users/new" method="post" class="form-horizontal">
					{{.CsrfTokenHtml}}
				    {{template "base/alert" .}}
					<div class="form-group {{if .Err_UserName}}has-error has-feedback{{end}}">
						<label class="col-md-3 control-label">Username: </label>
						<div class="col-md-7">
							<input name="username" class="form-control" placeholder="Type account's username" value="{{.username}}" required="required">
						</div>
					</div>

					<div class="form-group {{if .Err_Email}}has-error has-feedback{{end}}">
						<label class="col-md-3 control-label">Email: </label>
						<div class="col-md-7">
							<input name="email" class="form-control" placeholder="Type account's e-mail address" value="{{.email}}" required="required" title="Email is not valid">
						</div>
					</div>

					<div class="form-group {{if .Err_Password}}has-error has-feedback{{end}}">
						<label class="col-md-3 control-label">Password: </label>
						<div class="col-md-7">
							<input name="passwd" type="password" class="form-control" placeholder="Type account's password" required="required" title="Password must contain at least 6 characters">
						</div>
					</div>

					<div class="form-group {{if .Err_RetypePasswd}}has-error has-feedback{{end}}">
						<label class="col-md-3 control-label">Re-type: </label>
						<div class="col-md-7">
							<input name="retypepasswd" type="password" class="form-control" placeholder="Re-type account's password" required="required" title="Re-type Password must be same to Password">
						</div>
					</div>
					<hr/>
					<div class="form-group">
					    <div class="col-md-offset-3 col-md-7">
					    	<button type="submit" class="btn btn-lg btn-primary">Create new account</button>
					    </div>
					</div>
				</form>
            </div>
        </div>

	</div>
</div>
{{template "base/footer" .}}