{{template "base/head" .}}
<div class="user settings avatar">
	<div class="ui container">
		<div class="ui grid">
			{{template "user/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "settings.avatar"}}
				</h4>
				<div class="ui attached segment">
					<form class="ui form" action="{{.Link}}" method="post" enctype="multipart/form-data">
						{{.CSRFTokenHTML}}
						{{if not DisableGravatar}}
						<div class="inline field">
							<div class="ui radio checkbox">
								<input name="source" value="lookup" type="radio" {{if not .LoggedUser.UseCustomAvatar}}checked{{end}}>
								<label>{{.i18n.Tr "settings.lookup_avatar_by_mail"}}</label>
							</div>
						</div>
						<div class="inline box field {{if .Err_Gravatar}}error{{end}}">
							<label for="gravatar">Avatar {{.i18n.Tr "email"}}</label>
							<input id="gravatar" name="gravatar" value="{{.LoggedUser.AvatarEmail}}" />
						</div>
						{{end}}

						<div class="inline field">
							<div class="ui radio checkbox">
								<input name="source" value="local" type="radio" {{if .LoggedUser.UseCustomAvatar}}checked{{end}}>
								<label>{{.i18n.Tr "settings.enable_custom_avatar"}}</label>
							</div>
						</div>

						<div class="inline box field">
							<label for="avatar">{{.i18n.Tr "settings.choose_new_avatar"}}</label>
							<input name="avatar" type="file" >
						</div>

						<div class="field">
							<button class="ui green button">{{$.i18n.Tr "settings.update_avatar"}}</button>
							<a class="ui red button delete-post" data-request-url="{{.Link}}/delete" data-done-url="{{.Link}}">{{$.i18n.Tr "settings.delete_current_avatar"}}</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
