{{template "base/head" .}}
<div class="user settings password">
	<div class="ui container">
		<div class="ui grid">
			{{template "user/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "settings.change_password"}}
				</h4>
				<div class="ui attached segment">
					{{if .LoggedUser.IsLocal}}
					<form class="ui form" action="{{.Link}}" method="post">
						{{.CSRFTokenHTML}}
						<div class="required field {{if .Err_OldPassword}}error{{end}}">
							<label for="old_password">{{.i18n.Tr "settings.old_password"}}</label>
							<input id="old_password" name="old_password" type="password" autofocus required>
						</div>
						<div class="required field {{if .Err_Password}}error{{end}}">
							<label for="password">{{.i18n.Tr "settings.new_password"}}</label>
							<input id="password" name="password" type="password" required>
						</div>
						<div class="required field {{if .Err_Password}}error{{end}}">
							<label for="retype">{{.i18n.Tr "settings.retype_new_password"}}</label>
							<input id="retype" name="retype" type="password" required>
						</div>

						<div class="field">
							<button class="ui green button">{{$.i18n.Tr "settings.change_password"}}</button>
						</div>
					</form>
					{{else}}
					<div class="ui info message">
						<p class="text left">{{$.i18n.Tr "settings.password_change_disabled"}}</p>
					</div>
					{{end}} 
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
