{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="setting-wrapper" class="main-wrapper">
    <div id="user-profile-setting" class="container clear">
        {{template "user/settings/nav" .}}
        <div class="grid-4-5 left">
            <div class="setting-content">
                {{template "ng/base/alert" .}}
                <div id="setting-content">
                    <div id="user-profile-setting-content" class="panel panel-radius">
                        <p class="panel-header"><strong>{{.i18n.Tr "settings.change_password"}}</strong></p>
                        <form class="form form-align panel-body" id="user-profile-form" action="{{AppSubUrl}}/user/settings/password" method="post">
                            {{.CsrfTokenHtml}}
                            <p class="field">
                                <label class="req" for="old-password">{{.i18n.Tr "settings.old_password"}}</label>
                                <input class="ipt ipt-large ipt-radius {{if .Err_OldPassword}}ipt-error{{end}}" id="old-password" name="old_password" type="password" required />
                            </p>
                            <p class="field">
                                <label class="req" for="password">{{.i18n.Tr "settings.new_password"}}</label>
                                <input class="ipt ipt-large ipt-radius {{if .Err_Password}}ipt-error{{end}}" id="password" name="password" type="password" required />
                            </p>
                            <p class="field">
                                <label class="req" for="retype">{{.i18n.Tr "re_type"}}</label>
                                <input class="ipt ipt-large ipt-radius {{if .Err_Retype}}ipt-error{{end}}" id="retype" name="retype" type="password" required />
                            </p>
                            <p class="field">
                                <span class="form-label"></span>
                                <button class="btn btn-green btn-large btn-radius">{{.i18n.Tr "settings.change_password"}}</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "ng/base/footer" .}}