{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="body" class="container" data-page="admin">
    {{template "admin/nav" .}}
    <div id="admin-container" class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                Authentication Management
            </div>

            <div class="panel-body">
                <a href="/admin/auths/new" class="btn btn-primary">New Auth Source</a>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Actived</th>
                            <th>Updated</th>
                            <th>Created</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Sources}}
                        <tr>
                            <td>{{.Id}}</td>
                            <td><a href="/admin/auths/{{.Id}}">{{.Name}}</a></td>
                            <td>{{.TypeString}}</td>
                            <td><i class="fa fa{{if .IsActived}}-check{{end}}-square-o"></i></td>
                            <td>{{DateFormat .Updated "M d, Y"}}</td>
                            <td>{{DateFormat .Created "M d, Y"}}</td>
                            <td><a href="/admin/auths/{{.Id}}"><i class="fa fa-pencil-square-o"></i></a></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{template "base/footer" .}}