{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="body" class="container" data-page="admin">
    {{template "admin/nav" .}}
    <div id="admin-container" class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Server Configuration
            </div>

            <div class="panel-body">
                <div><b>Application Name:</b> {{AppName}}</div>
                <div><b>Application Version:</b> {{AppVer}}</div>
                <div><b>Application URL:</b> {{.AppUrl}}</div>
                <div><b>Domain:</b> {{.Domain}}</div>
                <hr/>
                <div><b>Run User:</b> {{.RunUser}}</div>
                <div><b>Run Mode:</b> {{.RunMode}}</div>
                <hr/>
                <div><b>Enable HTTPS Clone</b> <i class="fa fa{{if .EnableHttpsClone}}-check{{end}}-square-o"></i></div>
                <div><b>Repository Root Path:</b> {{.RepoRootPath}}</div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Database Configuration
            </div>

            <div class="panel-body">
                <div><b>Type:</b> {{.DbCfg.Type}}</div>
                <div><b>Host:</b> {{.DbCfg.Host}}</div>
                <div><b>Name:</b> {{.DbCfg.Name}}</div>
                <div><b>User:</b> {{.DbCfg.User}}</div>
                <div><b>SslMode:</b> {{.DbCfg.SslMode}} (for "postgres" only)</div>
                <div><b>Path:</b> {{.DbCfg.Path}} (for "sqlite3" only)</div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Service Configuration
            </div>

            <div class="panel-body">
                <div><b>Register Email Confirmation:</b> <i class="fa fa{{if .Service.RegisterEmailConfirm}}-check{{end}}-square-o"></i></div>
                <div><b>Disenable Registeration:</b> <i class="fa fa{{if .Service.DisenableRegisteration}}-check{{end}}-square-o"></i></div>
                <div><b>Require Sign In View:</b> <i class="fa fa{{if .Service.RequireSignInView}}-check{{end}}-square-o"></i></div>
                <div><b>Mail Notification:</b> <i class="fa fa{{if .Service.NotifyMail}}-check{{end}}-square-o"></i></div>
                <div><b>Enable Cache Avatar:</b> <i class="fa fa{{if .Service.EnableCacheAvatar}}-check{{end}}-square-o"></i></div>
                <hr/>
                <div><b>Active Code Lives:</b> {{.Service.ActiveCodeLives}} minutes</div>
                <div><b>Reset Password Code Lives:</b> {{.Service.ResetPwdCodeLives}} minutes</div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Mailer Configuration
            </div>

            <div class="panel-body">
                <div><b>Enabled:</b> <i class="fa fa{{if .MailerEnabled}}-check{{end}}-square-o"></i></div>
                <div><b>Name:</b> {{.Mailer.Name}}</div>
                <div><b>Host:</b> {{.Mailer.Host}}</div>
                <div><b>User:</b> {{.Mailer.User}}</div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Cache Configuration
            </div>

            <div class="panel-body">
                <div><b>Cache Adapter:</b> {{.CacheAdapter}}</div>
                <div><b>Cache Config:</b></div>
                <div style="padding-top: 5px;"><pre>{{.CacheConfig}}</pre></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Session Configuration
            </div>

            <div class="panel-body">
                <div><b>Session Provider:</b> {{.SessionProvider}}</div>
                <div><b>Cookie Name:</b> {{.SessionConfig.CookieName}}</div>
                <div><b>Enable Set Cookie:</b> <i class="fa fa{{if .SessionConfig.EnableSetCookie}}-check{{end}}-square-o"></i></div>
                <div><b>GC Interval Time:</b> {{.SessionConfig.GcIntervalTime}} seconds</div>
                <div><b>Session Life Time:</b> {{.SessionConfig.SessionLifeTime}} seconds</div>
                <div><b>HTTPS Only:</b> <i class="fa fa{{if .SessionConfig.CookieSecure}}-check{{end}}-square-o"></i></div>
                <div><b>Cookie Life Time:</b> {{.SessionConfig.CookieLifeTime}} seconds</div>
                <div><b>Session ID Hash Function:</b> {{.SessionConfig.SessionIDHashFunc}}</div>
                <div><b>Session ID Hash Key:</b> {{.SessionConfig.SessionIDHashKey}}</div>
                <div><b>Provider Config:</b> {{.SessionConfig.ProviderConfig}}</div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Picture Configuration
            </div>

            <div class="panel-body">
                <div><b>Picture Service:</b> {{.PictureService}}</div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Log Configuration
            </div>

            <div class="panel-body">
                <div><b>Log Mode:</b> {{.LogMode}}</div>
                <div><b>Log Config:</b></div>
                <div style="padding-top: 5px;"><pre>{{.LogConfig}}</pre></div>
                
            </div>
        </div>
    </div>
</div>
{{template "base/footer" .}}