{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="body" class="container" data-page="admin">
    {{template "admin/nav" .}}
    <div id="admin-container" class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                Server Configuration
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal admin-dl-horizontal">
                    <dt>Application Name</dt>
                    <dd>{{AppName}}</dd>
                    <dt>Application Version</dt>
                    <dd>{{AppVer}}</dd>
                    <dt>Application URL</dt>
                    <dd>{{.AppUrl}}</dd>
                    <dt>Domain</dt>
                    <dd>{{.Domain}}</dd>
                    <dt>Offline Mode</dt>
                    <dd><i class="fa fa{{if .OfflineMode}}-check{{end}}-square-o"></i></dd>
                    <dt>Disable Router Log</dt>
                    <dd><i class="fa fa{{if .DisableRouterLog}}-check{{end}}-square-o"></i></dd>
                    <hr/>
                    <dt>Run User</dt>
                    <dd>{{.RunUser}}</dd>
                    <dt>Run Mode</dt>
                    <dd>{{.RunMode}}</dd>
                    <hr/>
                    <dt>Repository Root Path</dt>
                    <dd>{{.RepoRootPath}}</dd>
                    <dt>Static File Root Path</dt>
                    <dd>{{.StaticRootPath}}</dd>
                    <dt>Log File Root Path</dt>
                    <dd>{{.LogRootPath}}</dd>
                    <dt>Script Type</dt>
                    <dd>{{.ScriptType}}</dd>
                    <dt>Reverse Authentication User</dt>
                    <dd>{{.ReverseProxyAuthUser}}</dd>
                </dl>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Database Configuration
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal admin-dl-horizontal">
                    <dt>Type</dt>
                    <dd>{{.DbCfg.Type}}</dd>
                    <dt>Host</dt>
                    <dd>{{.DbCfg.Host}}</dd>
                    <dt>Name</dt>
                    <dd>{{.DbCfg.Name}}</dd>
                    <dt>User</dt>
                    <dd>{{.DbCfg.User}}</dd>
                    <dt>SslMode</dt>
                    <dd>{{.DbCfg.SslMode}} (for "postgres" only)</dd>
                    <dt>Path</dt>
                    <dd>{{.DbCfg.Path}} (for "sqlite3" only)</dd>
                </dl>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Service Configuration
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal admin-dl-horizontal">
                    <dt>Register Email Confirmation</dt>
                    <dd><i class="fa fa{{if .Service.RegisterEmailConfirm}}-check{{end}}-square-o"></i></dd>
                    <dt>Disable Registration</dt>
                    <dd><i class="fa fa{{if .Service.DisableRegistration}}-check{{end}}-square-o"></i></dd>
                    <dt>Require Sign In View</dt>
                    <dd><i class="fa fa{{if .Service.RequireSignInView}}-check{{end}}-square-o"></i></dd>
                    <dt>Mail Notification</dt>
                    <dd><i class="fa fa{{if .Service.EnableNotifyMail}}-check{{end}}-square-o"></i></dd>
                    <dt>Enable Cache Avatar</dt>
                    <dd><i class="fa fa{{if .Service.EnableCacheAvatar}}-check{{end}}-square-o"></i></dd>
                    <hr/>
                    <dt>Active Code Lives</dt>
                    <dd>{{.Service.ActiveCodeLives}} minutes</dd>
                    <dt>Reset Password Code Lives</dt>
                    <dd>{{.Service.ResetPwdCodeLives}} minutes</dd>
                </dl>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Webhook Configuration
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal admin-dl-horizontal">
                    <dt>Task Interval</dt>
                    <dd>{{.WebhookTaskInterval}} minutes</dd>
                    <dt>Deliver Timeout</dt>
                    <dd>{{.WebhookDeliverTimeout}} seconds</dd>
                </dl>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Mailer Configuration
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal admin-dl-horizontal">
                    <dt>Enabled</dt>
                    <dd><i class="fa fa{{if .MailerEnabled}}-check{{end}}-square-o"></i></dd>
                    {{if .MailerEnabled}}<dt>Name</dt>
                    <dd>{{.Mailer.Name}}</dd>
                    <dt>Host</dt>
                    <dd>{{.Mailer.Host}}</dd>
                    <dt>User</dt>
                    <dd>{{.Mailer.User}}</dd>{{end}}
                </dl>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                OAuth Configuration
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal admin-dl-horizontal">
                    <dt>Enabled</dt>
                    <dd><i class="fa fa{{if .OauthEnabled}}-check{{end}}-square-o"></i></dd>
                    {{if .OauthEnabled}}<dt>GitHub</dt>
                    <dd><i class="fa fa{{if .Oauther.GitHub}}-check{{end}}-square-o"></i></dd>
                    <dt>Google</dt>
                    <dd><i class="fa fa{{if .Oauther.Google}}-check{{end}}-square-o"></i></dd>
                    <dt>Tencent QQ</dt>
                    <dd><i class="fa fa{{if .Oauther.Tencent}}-check{{end}}-square-o"></i></dd>
                    <dt>Weibo</dt>
                    <dd><i class="fa fa{{if .Oauther.Weibo}}-check{{end}}-square-o"></i></dd>
                    {{end}}
                </dl>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Cache Configuration
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal admin-dl-horizontal">
                    <dt>Cache Adapter</dt>
                    <dd>{{.CacheAdapter}}</dd>
                    <dt>Cache Config</dt>
                    <dd><div style="padding-top: 5px;"><pre>{{.CacheConfig}}</pre></div></dd>
                </dl>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Session Configuration
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal admin-dl-horizontal">
                    <dt>Session Provider</dt>
                    <dd>{{.SessionProvider}}</dd>
                    <dt>Cookie Name</dt>
                    <dd>{{.SessionConfig.CookieName}}</dd>
                    <dt>Enable Set Cookie</dt>
                    <dd><i class="fa fa{{if .SessionConfig.EnableSetCookie}}-check{{end}}-square-o"></i></dd>
                    <dt>GC Interval Time</dt>
                    <dd>{{.SessionConfig.GcIntervalTime}} seconds</dd>
                    <dt>Session Life Time</dt>
                    <dd>{{.SessionConfig.SessionLifeTime}} seconds</dd>
                    <dt>HTTPS Only</dt>
                    <dd><i class="fa fa{{if .SessionConfig.CookieSecure}}-check{{end}}-square-o"></i></dd>
                    <dt>Cookie Life Time</dt>
                    <dd>{{.SessionConfig.CookieLifeTime}} seconds</dd>
                    <dt>Session ID Hash Function</dt>
                    <dd>{{.SessionConfig.SessionIDHashFunc}}</dd>
                    <dt>Session ID Hash Key</dt>
                    <dd>{{.SessionConfig.SessionIDHashKey}}</dd>
                    <dt>Provider Config</dt>
                    <dd>{{.SessionConfig.ProviderConfig}}</dd>
                </dl>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Picture Configuration
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal admin-dl-horizontal">
                    <dt>Picture Service</dt>
                    <dd>{{.PictureService}}</dd>
                    <dt>Disable Gravatar</dt>
                    <dd><i class="fa fa{{if .DisableGravatar}}-check{{end}}-square-o"></i></dd>
                </dl>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Log Configuration
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal admin-dl-horizontal">
                    {{range .Loggers}}
                    <dt>Log Mode</dt>
                    <dd>{{.Mode}}</dd>
                    <dt>Log Config</dt>
                    <dd>
                        <div style="padding-top: 5px;"><pre>{{.Config}}</pre></div>
                    </dd>
                    {{end}}
                </dl>
                
            </div>
        </div>
    </div>
</div>
{{template "base/footer" .}}