{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="gogs-body" class="container" data-page="admin">
    {{template "admin/nav" .}}
    <div id="gogs-admin-container" class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Statistic
            </div>

            <div class="panel-body">
                Gogs database has <b>{{.Stats.Counter.User}}</b> users, <b>{{.Stats.Counter.PublicKey}}</b> SSH keys, <b>{{.Stats.Counter.Repo}}</b> repositories, <b>{{.Stats.Counter.Watch}}</b> watches, <b>{{.Stats.Counter.Action}}</b> actions, and <b>{{.Stats.Counter.Access}}</b> accesses.
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                System Status
            </div>

            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
{{template "base/footer" .}}