{{template "base/head" .}}
<div class="admin monitor">
	<div class="ui container">
		<div class="ui grid">
			{{template "admin/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "admin.monitor.cron"}}
				</h4>
				<div class="ui unstackable attached table segment">
					<table class="ui unstackable very basic striped table">
						<thead>
							<tr>
								<th>{{.i18n.Tr "admin.monitor.name"}}</th>
								<th>{{.i18n.Tr "admin.monitor.schedule"}}</th>
								<th>{{.i18n.Tr "admin.monitor.next"}}</th>
								<th>{{.i18n.Tr "admin.monitor.previous"}}</th>
								<th>{{.i18n.Tr "admin.monitor.execute_times"}}</th>
							</tr>
						</thead>
						<tbody>
							{{range .Entries}}
								<tr>
									<td>{{.Description}}</td>
									<td>{{.Spec}}</td>
									<td>{{DateFmtLong .Next}}</td>
									<td>{{if gt .Prev.Year 1 }}{{DateFmtLong .Prev}}{{else}}N/A{{end}}</td>
									<td>{{.ExecTimes}}</td>
								</tr>
							{{end}}
						</tbody>
					</table>
				</div>

				<h4 class="ui top attached header">
					{{.i18n.Tr "admin.monitor.process"}}
				</h4>
				<div class="ui unstackable attached table segment">
					<table class="ui unstackable very basic striped table">
						<thead>
							<tr>
								<th>Pid</th>
								<th>{{.i18n.Tr "admin.monitor.desc"}}</th>
								<th>{{.i18n.Tr "admin.monitor.start"}}</th>
								<th>{{.i18n.Tr "admin.monitor.execute_time"}}</th>
							</tr>
						</thead>
						<tbody>
							{{range .Processes}}
								<tr>
									<td>{{.Pid}}</td>
									<td>{{.Description}}</td>
									<td>{{DateFmtLong .Start}}</td>
									<td>{{TimeSince .Start $.Lang}}</td>
								</tr>
							{{end}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
