<div id="setting-menu" class="grid-1-5 panel panel-radius left">
	<p class="panel-header"><strong>{{.i18n.Tr "admin_panel"}}</strong></p>
	<div class="panel-body">
		<ul class="menu menu-vertical switching-list grid-1-5 left">
			<li {{if .PageIsAdminDashboard}}class="current"{{end}}><a href="{{AppSubURL}}/admin">{{.i18n.Tr "admin.dashboard"}}</a></li>
			<li {{if .PageIsAdminUsers}}class="current"{{end}}><a href="{{AppSubURL}}/admin/users">{{.i18n.Tr "admin.users"}}</a></li>
			<li {{if .PageIsAdminOrganizations}}class="current"{{end}}><a href="{{AppSubURL}}/admin/orgs">{{.i18n.Tr "admin.organizations"}}</a></li>
			<li {{if .PageIsAdminRepositories}}class="current"{{end}}><a href="{{AppSubURL}}/admin/repos">{{.i18n.Tr "admin.repositories"}}</a></li>
			<li {{if .PageIsAdminAuthentications}}class="current"{{end}}><a href="{{AppSubURL}}/admin/auths">{{.i18n.Tr "admin.authentication"}}</a></li>
			<li {{if .PageIsAdminConfig}}class="current"{{end}}><a href="{{AppSubURL}}/admin/config">{{.i18n.Tr "admin.config"}}</a></li>
			<li {{if .PageIsAdminNotices}}class="current"{{end}}><a href="{{AppSubURL}}/admin/notices">{{.i18n.Tr "admin.notices"}}</a></li>
			<li {{if .PageIsAdminMonitor}}class="current"{{end}}><a href="{{AppSubURL}}/admin/monitor">{{.i18n.Tr "admin.monitor"}}</a></li>
		</ul>
	</div>
</div>
