{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="admin-wrapper">
    <div id="setting-wrapper" class="main-wrapper">
        <div id="admin-setting" class="container clear">
            {{template "admin/nav" .}}
            <div class="grid-4-5 left">
                <div class="setting-content">
                    {{template "ng/base/alert" .}}
                    <div id="setting-content">
                        <div class="panel panel-radius">
                            <div class="panel-header">
                                <strong>{{.i18n.Tr "admin.notices.system_notice_list"}}</strong>
                            </div>
                            <div class="panel-body admin-panel">
                                <div class="admin-table">
					                <table class="table table-striped">
					                    <thead>
					                        <tr>
					                            <th>Id</th>
					                            <th>{{.i18n.Tr "admin.notices.type"}}</th>
					                            <th>{{.i18n.Tr "admin.notices.desc"}}</th>
					                            <th>{{.i18n.Tr "admin.users.created"}}</th>
					                            <th>{{.i18n.Tr "admin.notices.op"}}</th>
					                        </tr>
					                    </thead>
					                    <tbody>
					                        {{range .Notices}}
					                        <tr>
					                            <td>{{.Id}}</td>
					                            <td>{{$.i18n.Tr .TrStr}}</td>
					                            <td class="grid-1-2"><span>{{.Description}}</span></td>
					                            <td>{{.Created}}</td>
					                            <td><a href="{{AppSubUrl}}/admin/notices/{{.Id}}/delete"><i class="fa fa-trash-o text-red"></i></a></td>
					                        </tr>
					                        {{end}}
					                    </tbody>
					                </table>
					                {{if or .LastPageNum .NextPageNum}}
					                <ul class="pagination">
					                    {{if .LastPageNum}}<li><a class="btn btn-medium btn-gray btn-radius" href="{{AppSubUrl}}/admin/notices?p={{.LastPageNum}}">&laquo; {{.i18n.Tr "admin.prev"}}</a></li>{{end}}
					                    {{if .NextPageNum}}<li><a class="btn btn-medium btn-gray btn-radius" href="{{AppSubUrl}}/admin/notices?p={{.NextPageNum}}">&raquo; {{.i18n.Tr "admin.next"}}</a></li>{{end}}
					                </ul>
					                {{end}}
				                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "ng/base/footer" .}}