{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="gogs-body" class="container" data-page="admin">
    <div id="gogs-user-setting-nav" class="col-md-3">
        <ul class="list-group" data-init="tabs">
            <li class="list-group-item"><a href="/admin"><i class="fa fa-tachometer fa-lg"></i> Dashboard</a></li>
            <li class="list-group-item"><a href="/admin/users"><i class="fa fa-users fa-lg"></i> Users</a></li>
            <li class="list-group-item active"><a href="/admin/repos"><i class="fa fa-book fa-lg"></i> Repositories</a></li>
        </ul>
    </div>

    <div id="gogs-admin-container" class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Repository Management
            </div>

            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Owner</th>
                            <th>Name</th>
                            <th>Private</th>
                            <th>Watches</th>
                            <th>Forks</th>
                            <th>Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Repos}}
                        <tr>
                            <td>{{.Id}}</td>
                            <th>{{.UserName}}</th>
                            <td><a href="/{{.UserName}}/{{.Name}}">{{.Name}}</a></td>
                            <td><i class="fa fa{{if .Private}}-check{{end}}-square-o"></i></td>
                            <td>{{.NumWatches}}</td>
                            <td>{{.NumForks}}</td>
                            <td>{{DateFormat .Created "M d, Y"}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{template "base/footer" .}}