<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Username}}, please verify your e-mail address</title>
</head>

<body>
	<p>Hi <b>{{.Username}}</b>,</p>
	<p>请点击以下链接验证您的电子邮件地址，有效期 <b>{{.ActiveCodeLives}} 小时</b>：</p>
	<p><a href="{{AppURL}}user/activate_email?code={{.Code}}&email={{.Email}}">{{AppURL}}user/activate_email?code={{.Code}}&email={{.Email}}</a></p>
	<p>不起作用？请尝试将其复制并粘贴到您的浏览器中。</p>
	<p>&copy; {{Year}} <a target="_blank" rel="noopener noreferrer" href="{{AppURL}}">{{AppName}}. All rights reserved.</a></p>
</body>
</html>
