<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Username}}, please activate your account</title>
</head>

<body>
	<p>Hi <b>{{.Username}}</b>, thanks for registering at {{AppName}}!</p>
	<p>Please click the following link to verify your e-mail address within <b>{{.ActiveCodeLives}} hours</b>:</p>
	<p><a href="{{AppURL}}user/activate?code={{.Code}}">{{AppURL}}user/activate?code={{.Code}}</a></p>
	<p>Not working? Try copying and pasting it to your browser.</p>
	<p>© 2018 <a target="_blank" href="{{AppURL}}">{{AppName}}</a></p>
</body>
</html>
