<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Username}}, welcome to {{AppName}}</title>
</head>

<body>
	<p>Hi <b>{{.Username}}</b>, this is your registration confirmation email for {{AppName}}!</p>
	<p>You can now login via username: {{.Username}}.</p>
	<p><a href="{{AppUrl}}user/login">{{AppUrl}}user/login</a></p>
	<p>© 2016 <a target="_blank" href="{{AppUrl}}">{{AppName}}</a></p>
</body>
</html>
