{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="body" class="container" data-page="admin">
    {{template "admin/nav" .}}
    <div id="admin-container" class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                New Authentication
            </div>

            <div class="panel-body">
            	<br/>
				<form action="/admin/auths/new" method="post" class="form-horizontal">
					{{.CsrfTokenHtml}}
				    {{template "base/alert" .}}
				    <div class="form-group">
					    <label class="col-md-3 control-label">Auth Type: </label>
					    <div class="col-md-7">
						    <select name="type" class="form-control" id="auth-type">
						    {{range $key, $val := .LoginTypes}}
		  					<option value="{{$key}}">{{$val}}</option>
		  					{{end}}
							</select>
						</div>
					</div>
                    <div class="form-group {{if .Err_AuthName}}has-error has-feedback{{end}}">
                            <label class="col-md-3 control-label">Name: </label>
                            <div class="col-md-7">
                                <input name="name" class="form-control" placeholder="Type authentication's name" value="{{.name}}">
                            </div>
                        </div>
                    <div class="ldap">
                        <div class="form-group {{if .Err_Domain}}has-error has-feedback{{end}}">
                            <label class="col-md-3 control-label">Domain: </label>
                            <div class="col-md-7">
                                <input name="domain" class="form-control" placeholder="Type domain name" value="{{.domain}}">
                            </div>
                        </div>

                        <div class="form-group {{if .Err_Host}}has-error has-feedback{{end}}">
                            <label class="col-md-3 control-label">Host: </label>
                            <div class="col-md-7">
                                <input name="host" class="form-control" placeholder="Type host address" value="{{.host}}">
                            </div>
                        </div>

                        <div class="form-group {{if .Err_Port}}has-error has-feedback{{end}}">
                            <label class="col-md-3 control-label">Port: </label>
                            <div class="col-md-7">
                                <input name="port" class="form-control" placeholder="Type port number" value="{{.port}}">
                            </div>
                        </div>

                        <div class="form-group {{if .Err_UseSSL}}has-error has-feedback{{end}}">
                             <label class="col-md-3 control-label">Use SSL: </label>
                             <div class="col-md-7">
                                  <input name="usessl" class="form-control" type="checkbox" {{if .usessl}}checked{{end}}>
                             </div>
                        </div>

                        <div class="form-group {{if .Err_BaseDN}}has-error has-feedback{{end}}">
                            <label class="col-md-3 control-label">Base DN: </label>
                            <div class="col-md-7">
                                <input name="base_dn" class="form-control" placeholder="Type base DN" value="{{.base_dn}}">
                            </div>
                        </div>

                        <div class="form-group {{if .Err_Attributes}}has-error has-feedback{{end}}">
                            <label class="col-md-3 control-label">Search Attributes: </label>
                            <div class="col-md-7">
                                <input name="attributes" class="form-control" placeholder="Type search attributes" value="{{.attributes}}">
                            </div>
                        </div>

                        <div class="form-group {{if .Err_Filter}}has-error has-feedback{{end}}">
                            <label class="col-md-3 control-label">Search Filter: </label>
                            <div class="col-md-7">
                                <input name="filter" class="form-control" placeholder="Type search filter" value="{{.filter}}">
                            </div>
                        </div>

                        <div class="form-group {{if .Err_MsAdSA}}has-error has-feedback{{end}}">
                            <label class="col-md-3 control-label">Ms Ad SA: </label>
                            <div class="col-md-7">
                                <input name="ms_ad_sa" class="form-control" placeholder="Type Ms Ad SA" value="{{.ms_ad_sa}}">
                            </div>
                        </div>

                    </div>

                    <div class="smtp hidden">
                        <div class="form-group">
                            <label class="col-md-3 control-label">SMTP Auth: </label>
                            <div class="col-md-7">
                                <select name="smtpauth" class="form-control">
                                    {{range .SMTPAuths}}
                                    <option value="{{.}}">{{.}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>

                        <div class="form-group {{if .Err_SmtpHost}}has-error has-feedback{{end}}">
                            <label class="col-md-3 control-label">Host: </label>
                            <div class="col-md-7">
                                <input name="smtphost" class="form-control" placeholder="Type host address" value="{{.smtphost}}">
                            </div>
                        </div>

                        <div class="form-group {{if .Err_SmtpPort}}has-error has-feedback{{end}}">
                            <label class="col-md-3 control-label">Port: </label>
                            <div class="col-md-7">
                                <input name="smtpport" class="form-control" placeholder="Type port number" value="{{.smtpport}}">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-7">
                                <div class="checkbox">
                                    <label>
                                        <input name="tls" type="checkbox" {{if .tls}}checked{{end}}>
                                        <strong>Enable TLS Encryption</strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-7">
                            <div class="checkbox">
                                <label>
                                    <input name="allowautoregister" type="checkbox" {{if .allowautoregister}}checked{{end}}>
                                    <strong>Enable Auto Registration</strong>
                                </label>
                            </div>
                        </div>
                    </div>

					<hr/>

					<div class="form-group">
					    <div class="col-md-offset-3 col-md-7">
					    	<button type="submit" class="btn btn-lg btn-primary">Create new authentication</button>
					    </div>
					</div>
				</form>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                Tips
            </div>

            <div class="panel-body">
                <h5>GMail Setting:</h5>
                <p>Host: smtp.gmail.com, Post: 587, Enable TLS Encryption: true</p>
            </div>
        </div>
	</div>
</div>
<script>
    $(function () {
        $('#auth-type').on("change", function () {
            var v = $(this).val();
            if (v == 2) {
                $('.ldap').toggleShow();
                $('.smtp').toggleHide();
            }
            if (v == 3) {
                $('.smtp').toggleShow();
                $('.ldap').toggleHide();
            }
        });
    });
</script>
{{template "base/footer" .}}
