{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="admin-wrapper">
    <div id="setting-wrapper" class="main-wrapper">
        <div id="admin-setting" class="container clear">
            {{template "admin/nav" .}}
            <div class="grid-4-5 left">
                <div class="setting-content">
                    {{template "ng/base/alert" .}}
                    <div id="setting-content">
                        <div class="panel panel-radius">
                            <div class="panel-header">
                                <strong>{{.i18n.Tr "admin.auths.new"}}</strong>
                            </div>
                            <form class="form form-align panel-body" id="repo-setting-form" action="{{AppSubUrl}}/admin/auths/new" method="post">
                                {{.CsrfTokenHtml}}
                                <div class="field">
                                    <label class="req">{{.i18n.Tr "admin.auths.auth_type"}}</label>
                                    <select id="auth-type" name="type">
                                        {{range $key, $val := .LoginTypes}}
                                        <option value="{{$key}}">{{$val}}</option>
                                        {{end}}
                                    </select>
                                </div>
                                <div class="field">
                                    <label class="req" for="name">{{.i18n.Tr "admin.auths.auth_name"}}</label>
                                    <input class="ipt ipt-large ipt-radius {{if .Err_AuthName}}ipt-error{{end}}" id="name" name="name" value="{{.name}}" required />
                                </div>
                                <div class="ldap">
                                    <div class="field">
                                        <label class="req" for="host">{{.i18n.Tr "admin.auths.host"}}</label>
                                        <input class="ipt ipt-large ipt-radius {{if .Err_Host}}ipt-error{{end}}" id="host" name="host" value="{{.host}}" />
                                    </div>
                                    <div class="field">
                                        <label class="req" for="port">{{.i18n.Tr "admin.auths.port"}}</label>
                                        <input class="ipt ipt-large ipt-radius {{if .Err_Port}}ipt-error{{end}}" id="port" name="port" value="{{.port}}" />
                                    </div>
                                    <div class="field">
                                        <label for="use_ssl">{{.i18n.Tr "admin.auths.enable_tls"}}</label>
                                        <input name="use_ssl" type="checkbox" {{if .use_ssl}}checked{{end}}>
                                    </div>
                                    <div class="field">
                                        <label class="req" for="bind_dn">{{.i18n.Tr "admin.auths.bind_dn"}}</label>
                                        <input class="ipt ipt-large ipt-radius {{if .Err_BindDN}}ipt-error{{end}}" id="bind_dn" name="bind_dn" value="{{.bind_dn}}" />
                                    </div>
                                    <div class="field">
                                        <label class="req" for="bind_password">{{.i18n.Tr "admin.auths.bind_password"}}</label>
                                        <input class="ipt ipt-large ipt-radius {{if .Err_BindPassword}}ipt-error{{end}}" id="bind_password" name="bind_password" type="password" value="{{.bind_password}}" />
                                    </div>
                                    <div class="field">
                                        <label class="req" for="user_base">{{.i18n.Tr "admin.auths.user_base"}}</label>
                                        <input class="ipt ipt-large ipt-radius {{if .Err_UserBase}}ipt-error{{end}}" id="user_base" name="user_base" value="{{.user_base}}" />
                                    </div>
                                    <div class="field">
                                        <label class="req" for="filter">{{.i18n.Tr "admin.auths.filter"}}</label>
                                        <input class="ipt ipt-large ipt-radius {{if .Err_Filter}}ipt-error{{end}}" id="filter" name="filter" value="{{.filter}}" />
                                    </div>
                                    <div class="field">
                                        <label for="filter">{{.i18n.Tr "admin.auths.admin_filter"}}</label>
                                        <input class="ipt ipt-large ipt-radius {{if .Err_AdminFilter}}ipt-error{{end}}" id="admin_filter" name="admin_filter" value="{{.admin_filter}}" />
                                    </div>
                                    <div class="field">
                                        <label for="attribute_name">{{.i18n.Tr "admin.auths.attribute_name"}}</label>
                                        <input class="ipt ipt-large ipt-radius {{if .Err_AttributeName}}ipt-error{{end}}" id="attribute_name" name="attribute_name" value="{{.attribute_name}}" />
                                    </div>
                                    <div class="field">
                                        <label for="attribute_surname">{{.i18n.Tr "admin.auths.attribute_surname"}}</label>
                                        <input class="ipt ipt-large ipt-radius {{if .Err_AttributeSurname}}ipt-error{{end}}" id="attribute_surname" name="attribute_surname" value="{{.attribute_surname}}" />
                                    </div>
                                    <div class="field">
                                        <label class="req" for="attribute_mail">{{.i18n.Tr "admin.auths.attribute_mail"}}</label>
                                        <input class="ipt ipt-large ipt-radius {{if .Err_AttributeMail}}ipt-error{{end}}" id="attribute_mail" name="attribute_mail" value="{{.attribute_mail}}" />
                                    </div>
                                </div>
                                <div class="smtp hidden">
                                    <div class="field">
                                        <label class="req">{{.i18n.Tr "admin.auths.smtp_auth"}}</label>
                                        <select name="smtp_auth">
                                            {{range .SMTPAuths}}
                                            <option value="{{.}}">{{.}}</option>
                                            {{end}}
                                        </select>
                                    </div>
                                    <div class="field">
                                        <label class="req" for="smtp_host">{{.i18n.Tr "admin.auths.smtphost"}}</label>
                                        <input class="ipt ipt-large ipt-radius {{if .Err_SmtpHost}}ipt-error{{end}}" id="smtp_host" name="smtp_host" value="{{.smtp_host}}" />
                                    </div>
                                    <div class="field">
                                        <label class="req" for="smtp_port">{{.i18n.Tr "admin.auths.smtpport"}}</label>
                                        <input class="ipt ipt-large ipt-radius {{if .Err_SmtpPort}}ipt-error{{end}}" id="smtp_port" name="smtp_port" value="{{.smtp_port}}" />
                                    </div>
                                </div>
                                <div class="pam hidden">
                                    <div class="field">
                                        <label class="req" for="pam_service_name">{{.i18n.Tr "admin.auths.pam_service_name"}}</label>
                                        <input class="ipt ipt-large ipt-radius {{if .Err_PAMServiceName}}ipt-error{{end}}" id="pam_service_name" name="pam_service_name" value="{{.pam_service_name}}" />
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="smtp hidden">
                                        <label></label>
                                        <input name="tls" type="checkbox" {{if .tls}}checked{{end}}>
                                        <strong>{{.i18n.Tr "admin.auths.enable_tls"}}</strong>
                                        <br>
                                        <label></label>
                                        <input name="skip_verify" type="checkbox" {{if .skip_verify}}checked{{end}}>
                                        <strong>{{.i18n.Tr "admin.auths.skip_tls_verify"}}</strong>
                                        <br>
                                    </div>
                                    <label></label>
                                    <input name="allowautoregister" type="checkbox" {{if .allowautoregister}}checked{{end}}>
                                    <strong>{{.i18n.Tr "admin.auths.enable_auto_register"}}</strong>
                                </div>
                                <div class="field">
                                    <label></label>
                                    <button class="btn btn-blue btn-large btn-radius">{{.i18n.Tr "admin.auths.new"}}</button>
                                </div>
                            </form>
                        </div>
                        <br>
                        <div class="panel panel-radius">
                            <div class="panel-header">
                                {{.i18n.Tr "admin.auths.tips"}}
                            </div>
                            <div class="panel-body admin-panel">
                                <h5>GMail Setting:</h5>
                                <p>Host: smtp.gmail.com, Post: 587, Enable TLS Encryption: true</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{{template "ng/base/footer" .}}
