{{template "base/head" .}}
<div class="organization new team">
	{{template "org/header" .}}
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form" action="{{if .PageIsOrgTeamsNew}}{{.OrgLink}}/teams/new{{else}}{{.OrgLink}}/teams/{{.Team.LowerName}}/edit{{end}}" data-delete-url="{{.OrgLink}}/teams/{{.Team.LowerName}}/delete" method="post">
				{{.CSRFTokenHTML}}
				<h3 class="ui top attached header">
					{{if .PageIsOrgTeamsNew}}{{.i18n.Tr "org.create_new_team"}}{{else}}{{.i18n.Tr "org.teams.settings"}}{{end}}
				</h3>
				<div class="ui attached segment">
					{{template "base/alert" .}}
					<div class="required field {{if .Err_TeamName}}error{{end}}">
						<label for="team_name">{{.i18n.Tr "org.team_name"}}</label>
						{{if eq .Team.LowerName "owners"}}
							<input type="hidden" name="team_name" value="{{.Team.Name}}">
						{{end}}
						<input id="team_name" name="team_name" value="{{.Team.Name}}" required {{if eq .Team.LowerName "owners"}}disabled{{end}} autofocus>
						<span class="help">{{.i18n.Tr "org.team_name_helper"}}</span>
					</div>
					<div class="field {{if .Err_Description}}error{{end}}">
						<label for="description">{{.i18n.Tr "org.team_desc"}}</label>
						<input id="description" name="description" value="{{.Team.Description}}">
						<span class="help">{{.i18n.Tr "org.team_desc_helper"}}</span>
					</div>
					{{if not (eq .Team.LowerName "owners")}}
						<div class="grouped field">
							<label>{{.i18n.Tr "org.team_permission_desc"}}</label>
							<br>
							<div class="field">
								<div class="ui radio checkbox">
									<input type="radio" name="permission" value="read" {{if or .PageIsOrgTeamsNew (eq .Team.Authorize 1)}}checked{{end}}>
									<label>{{.i18n.Tr "org.teams.read_access"}}</label>
									<span class="help">{{.i18n.Tr "org.teams.read_access_helper"}}</span>
								</div>
							</div>
							<div class="field">
								<div class="ui radio checkbox">
									<input type="radio" name="permission" value="write" {{if eq .Team.Authorize 2}}checked{{end}}>
									<label>{{.i18n.Tr "org.teams.write_access"}}</label>
									<span class="help">{{.i18n.Tr "org.teams.write_access_helper"}}</span>
								</div>
							</div>
							<div class="field">
								<div class="ui radio checkbox">
									<input type="radio" name="permission" value="admin" {{if eq .Team.Authorize 3}}checked{{end}}>
									<label>{{.i18n.Tr "org.teams.admin_access"}}</label>
									<span class="help">{{.i18n.Tr "org.teams.admin_access_helper"}}</span>
								</div>
							</div>
						</div>
						<div class="ui divider"></div>
					{{end}}

					<div class="field">
						{{if .PageIsOrgTeamsNew}}
							<button class="ui green button">{{.i18n.Tr "org.create_new_team"}}</button>
							<a class="ui button" href="{{.OrgLink}}/teams">{{.i18n.Tr "cancel"}}</a>
						{{else}}
							<button class="ui green button">{{.i18n.Tr "org.teams.update_settings"}}</button>
							{{if not (eq .Team.LowerName "owners")}}
								<button class="ui red button delete-button" data-url="{{.OrgLink}}/teams/{{.team_name}}/delete">{{.i18n.Tr "org.teams.delete_team"}}</button>
							{{end}}
						{{end}}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="ui small basic delete modal">
	<div class="ui icon header">
		<i class="trash icon"></i>
		{{.i18n.Tr "org.teams.delete_team_title"}}
	</div>
	<div class="content">
		<p>{{.i18n.Tr "org.teams.delete_team_desc"}}</p>
	</div>
	{{template "base/delete_modal_actions" .}}
</div>
{{template "base/footer" .}}
