{{template "base/head" .}}
<div class="organization settings options">
	{{template "org/header" .}}
	<div class="ui container">
		<div class="ui grid">
			{{template "org/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "org.settings.default_repo_perm"}}
				</h4>
				<div class="ui attached segment">
					<form class="ui form" action="{{.Link}}" method="post">
						{{.CsrfTokenHtml}}
						<div class="item">
							{{.i18n.Tr "org.settings.default_repo_perm_desc"}}
						</div>
						<input {{if ge .DefaultRepoPerm 3}}checked{{end}} id="admin" name="permission" value="admin" type="radio">
						<label for="admin">{{.i18n.Tr "org.settings.default_repo_perm.admin"}}</label>
						<div>{{.i18n.Tr "org.settings.default_repo_perm.admin_desc"}}</div>
						<input {{if eq .DefaultRepoPerm 2}}checked{{end}} id="write" name="permission" value="write" type="radio">
						<label for="write">{{.i18n.Tr "org.settings.default_repo_perm.write"}}</label>
						<div>{{.i18n.Tr "org.settings.default_repo_perm.write_desc"}}</div>
						<input {{if eq .DefaultRepoPerm 1}}checked{{end}} id="read" name="permission" value="read" type="radio">
						<label for="read">{{.i18n.Tr "org.settings.default_repo_perm.read"}}</label>
						<div>{{.i18n.Tr "org.settings.default_repo_perm.read_desc"}}</div>
						<input {{if eq .DefaultRepoPerm 0}}checked{{end}} id="none" name="permission" value="none" type="radio">
						<label for="none">{{.i18n.Tr "org.settings.default_repo_perm.none"}}</label>
						<div>{{.i18n.Tr "org.settings.default_repo_perm.none_desc"}}</div>
						<button class="ui green button">{{.i18n.Tr "org.settings.save"}}</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
