<div id="setting-menu" class="grid-1-5 panel panel-radius left">
  <div class="panel-header">
  	<strong>{{.i18n.Tr "org.settings"}}</strong>
  </div>
  <div class="panel-body">
    <ul class="menu menu-vertical switching-list grid-1-5 left">
      <li {{if .PageIsSettingsOptions}}class="current"{{end}}><a href="{{.Org.HomeLink}}/settings">{{.i18n.Tr "org.settings.options"}}</a></li>
      <li {{if .PageIsSettingsHooks}}class="current"{{end}}><a href="{{.Org.HomeLink}}/settings/hooks">{{.i18n.Tr "repo.settings.hooks"}}</a></li>
      <li {{if .PageIsSettingsDelete}}class="current"{{end}}><a href="{{.Org.HomeLink}}/settings/delete">{{.i18n.Tr "org.settings.delete"}}</a></li>
    </ul>
  </div>
</div>
