{{template "base/head" .}}
<div class="organization settings webhooks">
	{{template "org/header" .}}
	<div class="ui container">
		<div class="ui grid">
			{{template "org/settings/navbar" .}}
			{{template "repo/settings/webhook/list" .}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
