<div class="org-header" id="org-header">
	<div class="container">
		<a class="text-black left" href="{{AppSubUrl}}/org/{{.Org.LowerName}}">
			<img class="avatar-48 left" src="{{.Org.AvatarLink}}?s=100">
			<span class="org-name">{{if .Org.FullName}}{{.Org.FullName}}{{else}}{{.Org.Name}}{{end}}</span>
		</a>
		<ul class="menu menu-line container">
			<li class="right">
				<a {{if .PageIsOrgTeams}}class="current"{{end}} href="{{.OrgLink}}/teams"><i class="octicon octicon-jersey"></i> {{.i18n.Tr "org.teams"}} <span class="label label-gray label-radius">{{.Org.NumTeams}}</span></a>
			</li>
			<li class="right">
				<a {{if .PageIsOrgMembers}}class="current"{{end}} href="{{.OrgLink}}/members"><i class="octicon octicon-organization"></i> {{.i18n.Tr "org.people"}} <span class="label label-gray label-radius">{{.Org.NumMembers}}</span></a>
			</li>
		</ul>
	</div>
</div>