{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="repo-wrapper">
    {{template "repo/header" .}}
    <div class="issue-main container repo-wide-wrapper">
        <ul id="issue-list-nav" class="menu menu-line">
            <li><a href="#">Issue</a></li>
            <li><a href="#">Pull Request</a></li>
            <li><a href="#">Labels</a></li>
            <li class="current"><a href="#">Milestones</a></li>
            <li class="right" id="milestone-new"><a href="#"><button id="issue-new-btn" class="btn btn-green text-bold">New Milestone</button></a></li>
        </ul>
        <div id="issue-list-container">
            <div id="issue-list-menu">
                <div class="left">
                    <span class="mark open hover"><a href="#">
                        <i class="octicon octicon-milestone"></i> 88 Open
                    </a></span>
                    <span class="mark close"><a href="">
                        <i class="octicon octicon-issue-closed"></i> 12 Close
                    </a></span>
                </div>
                <div class="clear"></div>
            </div>
            <ul id="milestone-list" class="list-no-style">
                <li class="item" id="milestone-id">
                    <!--<a class="comment" href="#">
                        <i class="octicon octicon-comment"></i> 7
                    </a>-->
                    <p class="title text-bold">
                        <i class="octicon octicon-milestone"></i>
                        <a href="#" class="title-text">Delete account text</a>
                    </p>
                    <p class="desc">
                        <i class="octicon octicon-clock"></i> Updated 3 days ago &nbsp;&nbsp;
                        <i class="octicon octicon-calendar"></i> Due to Dec 31,2014
                    </p>
                    <div class="content">
                        In this version of release, users are able to register and log in/out on Gogs, setting up SSH keys and do most of Git operations through SSH with public repositories. And Web UI only for view of Git data, no extra features are supported.
                    </div>
                    <div class="action">
                        <p class="status-bar">
                            <span class="closed">closed 12</span>
                            <span class="inline-block bar"><span class="inline-block opening"></span></span>
                            <span class="open">12 open</span>
                        </p>
                        <div class="action-bar text-right">
                            <a href="#">Edit</a>
                            <a href="#">Delete</a>
                            <a href="#" class="text-red">Close</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{{template "ng/base/footer" .}}