{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="repo-wrapper">
    {{template "repo/header_old" .}}
	<div id="setting-wrapper" class="main-wrapper">
	    <div id="repo-setting" class="container clear">
	        {{template "repo/settings/nav" .}}
	        <div class="grid-4-5 left">
	            <div class="setting-content">
	                {{template "ng/base/alert" .}}
	                <div id="setting-content">
	                    <div id="user-profile-setting-content" class="panel panel-radius">
	                        <div class="panel-header">
	                        	<strong>{{.i18n.Tr "repo.settings.collaboration"}}</strong>
	                        </div>
	                        <div class="panel-body">
	                        	<ul id="repo-collab-list">
	                        		{{range .Collaborators}}
	                        		<li class="collab">
	                        			{{if not (eq .Id $.Owner.Id)}}<a href="{{$.RepoLink}}/settings/collaboration?remove={{.Name}}" class="remove-collab right"><i class="fa fa-times"></i></a>{{end}}
										<a class="member" href="{{AppSubUrl}}/{{.Name}}">
										    <img alt="{{.Name}}" class="pull-left avatar" src="{{.AvatarLink}}">
										    <strong>{{.FullName}}</strong> ({{.Name}})
										</a>
	                        		</li>
	                        		<hr>
	                        		{{end}}
	                        	</ul>
							</div>
				            <div class="panel-footer">
				                <form class="form form-align" action="{{.RepoLink}}/settings/collaboration" method="post" id="repo-collab-form">
				                    {{.CsrfTokenHtml}}
	                                <input class="ipt ipt-large ipt-radius" id="repo-collaborator" name="collaborator" autocomplete="off" required />
	                                <button class="btn btn-blue btn-large btn-radius">{{.i18n.Tr "repo.settings.add_collaborator"}}</button>
									<div class="repo-user-list-block">
										<ul class="menu-down-show menu-vertical menu-radius switching-list user-list" id="repo-collaborator-list"></ul>
									</div>
				                </form>
				            </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
{{template "ng/base/footer" .}}