{{template "base/head" .}}
<div class="repository settings edit githook">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="ui grid">
			{{template "repo/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "repo.settings.githooks"}}
				</h4>
				<div class="ui attached segment">
					<p>{{.i18n.Tr "repo.settings.githook_edit_desc"}}</p>
					<form class="ui form" action="{{.Link}}" method="post">
						{{.CSRFTokenHTML}}
						{{with .Hook}}
							<div class="inline field">
								<label>{{$.i18n.Tr "repo.settings.githook_name"}}</label>
								<span><code>{{.Name}}</code></span>
							</div>
							<div class="field">
								<label for="content">{{$.i18n.Tr "repo.settings.githook_content"}}</label>
								<textarea id="content" name="content" wrap="off" autofocus>{{if .IsActive}}{{.Content}}{{else}}{{.Sample}}{{end}}</textarea>
							</div>

							<div class="inline field">
								<button class="ui green button">{{$.i18n.Tr "repo.settings.update_githook"}}</button>
							</div>
						{{end}}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	CodeMirror.autoLoadMode(CodeMirror.fromTextArea($('#content')[0], {
		lineNumbers: true,
		mode: 'shell'
	}), "shell");
</script>

{{template "base/footer" .}}
