{{if .PageIsSettingsHooksEdit}}
<div id="setting-content">
      <div id="repo-hooks-history-panel" class="panel panel-radius">
          <div class="panel-header">
          	<strong>{{.i18n.Tr "repo.settings.recent_deliveries"}}</strong>
          </div>
          <ul class="panel-body setting-list">
            	<li>Coming soon!</li>
          </ul>
      </div>
</div>
{{end}}