<div id="gogs" class="{{if (and .PageIsSettingsHooksEdit (not (eq .HookType "Gogs")))}}hidden{{end}}">
  <form class="form form-align panel-body repo-setting-form" id="repo-setting-form-gogs" action="{{if .RepoLink}}{{.RepoLink}}{{else if .OrgLink}}{{.OrgLink}}{{end}}/settings/hooks/gogs/{{if .PageIsSettingsHooksNew}}new{{else}}{{.Webhook.Id}}{{end}}" method="post">
    {{.CsrfTokenHtml}}
    <input type="hidden" name="hook_type" value="gogs">
    <div class="text-center panel-desc">{{.i18n.Tr "repo.settings.add_webhook_desc" "http://gogs.io/docs/features/webhook.html" | Str2html}}</div>
    <div class="field">
        <label class="req" for="payload-url">{{.i18n.Tr "repo.settings.payload_url"}}</label>
        <input class="ipt ipt-large ipt-radius {{if .Err_UserName}}ipt-error{{end}}" id="payload-url" name="payload_url" type="url" value="{{.Webhook.Url}}" required />
    </div>
    <div class="field">
      <label class="req">{{.i18n.Tr "repo.settings.content_type"}}</label>
      <select name="content_type">
          <option value="1" {{if or .PageIsSettingsHooksNew (eq .Webhook.ContentType 1)}}selected{{end}}>application/json</option>
          <option value="2" {{if eq .Webhook.ContentType 2}}selected{{end}}>application/x-www-form-urlencoded</option>
      </select>
    </div>
    <div class="field">
        <label for="secret">{{.i18n.Tr "repo.settings.secret"}}</label>
        <input class="ipt ipt-large ipt-radius {{if .Err_UserName}}ipt-error{{end}}" id="secret" name="secret" type="password" value="{{.Webhook.Secret}}" autocomplete="off" />
    </div>
    {{template "repo/settings/hook_settings" .}}
  </form>
</div>
