{{if .PageIsSettingsHooksNew}}
<div id="hook-type" class="form-align">
  <label class="req">{{.i18n.Tr "repo.settings.hook_type"}}</label>
  <select name="hook_type" id="hook-type" class="form-control">
    {{if .HookType}}<option value="{{.HookType}}">{{.HookType}}</option>{{end}}
    {{range .HookTypes}}
    {{if not (eq $.HookType .)}}<option value="{{.}}" >{{.}}</option>{{end}}
    {{end}}
  </select>
</div>
{{end}}
