{{if eq .HookType "slack"}}
<p>{{.i18n.Tr "repo.settings.add_slack_hook_desc" "http://slack.com" | Str2html}}</p>
<form class="ui form" action="{{.BaseLink}}/settings/hooks/slack/{{if .PageIsSettingsHooksNew}}new{{else}}{{.Webhook.ID}}{{end}}" method="post">
	{{.CsrfTokenHtml}}
  <div class="required field {{if .Err_PayloadURL}}error{{end}}">
    <label for="payload_url">{{.i18n.Tr "repo.settings.payload_url"}}</label>
    <input id="payload_url" name="payload_url" type="url" value="{{.Webhook.URL}}" autofocus required>
  </div>
  <div class="required field {{if .Err_Channel}}error{{end}}">
    <label for="channel">{{.i18n.Tr "repo.settings.slack_channel"}}</label>
    <input id="channel" name="channel" value="{{.SlackHook.Channel}}" placeholder="#general" required>
  </div>
	{{template "repo/settings/hook_settings" .}}
</form>
{{end}}
