<div class="field">
  <h4>{{.i18n.Tr "repo.settings.event_desc"}}</h4>
	<div class="grouped fields">
		<div class="field">
		  <div class="ui radio checkbox checked">
		    <input class="hidden" name="push_only" type="radio" {{if or .PageIsSettingsHooksNew .Webhook.PushOnly}}checked{{end}}>
		    <label>{{.i18n.Tr "repo.settings.event_push_only" | Str2html}}</label>
		  </div>
		</div>
	</div>
</div>
<div class="inline field">
  <div class="ui checkbox">
    <input class="hidden" name="active" type="checkbox" tabindex="0" {{if or .PageIsSettingsHooksNew .Webhook.IsActive}}checked{{end}}>
    <label>{{.i18n.Tr "repo.settings.active"}}</label>
    <span class="help">{{.i18n.Tr "repo.settings.active_helper"}}</span>
  </div>
</div>
<div class="field">
	{{if .PageIsSettingsHooksNew}}
  <button class="ui green button">{{.i18n.Tr "repo.settings.add_webhook"}}</button>
  {{else}}
  <button class="ui green button">{{.i18n.Tr "repo.settings.update_webhook"}}</button>
  <a class="ui red delete-button button" data-url="{{.BaseLink}}/settings/hooks/delete" data-id="{{.Webhook.ID}}">{{.i18n.Tr "repo.settings.delete_webhook"}}</a>
  {{end}}
</div>

{{template "repo/settings/hook_delete_modal" .}}
