<div class="four wide column">
	<div class="ui vertical menu">
		<div class="header item">{{.i18n.Tr "repo.settings"}}</div>
	  <a class="{{if .PageIsSettingsOptions}}active{{end}} item" href="{{.RepoLink}}/settings">
	    {{.i18n.Tr "repo.settings.options"}}
	  </a>
	  <a class="{{if .PageIsSettingsCollaboration}}active{{end}} item" href="{{.RepoLink}}/settings/collaboration">
	    {{.i18n.Tr "repo.settings.collaboration"}}
	  </a>
	  <a class="{{if .PageIsSettingsHooks}}active{{end}} item" href="{{.RepoLink}}/settings/hooks">
	    {{.i18n.Tr "repo.settings.hooks"}}
	  </a>
	  {{if or .SignedUser.AllowGitHook .SignedUser.IsAdmin}}
	  <a class="{{if .PageIsSettingsGitHooks}}active{{end}} item" href="{{.RepoLink}}/settings/hooks/git">
	    {{.i18n.Tr "repo.settings.githooks"}}
	  </a>
	  {{end}}
	  <a class="{{if .PageIsSettingsKeys}}active{{end}} item" href="{{.RepoLink}}/settings/keys">
	    {{.i18n.Tr "repo.settings.deploy_keys"}}
	  </a>
	</div>
</div>
