{{template "base/head" .}}
<div class="dashboard feeds">
	{{template "user/dashboard/navbar" .}}
	<div class="ui container">
		<div class="ui grid">
			<div class="ten wide column">
				{{template "user/dashboard/feeds" .}}
				{{if .AfterID}}
					<button class="ui fluid basic button center ajax-load-button" data-url="{{.Link}}?after_id={{.AfterID}}">More</button>
				{{end}}
			</div>
			<div class="six wide column">
				<div class="ui {{if not .ContextUser.IsOrganization}}three{{else}}two{{end}} item tabable menu">
					<a class="item active" data-tab="repos">{{.i18n.Tr "repository"}}</a>
					{{if not .ContextUser.IsOrganization}}
						<a class="item" data-tab="orgs">{{.i18n.Tr "organization"}}</a>
					{{end}}
					<a class="item" data-tab="mirrors">{{.i18n.Tr "mirror"}}</a>
				</div>
				<div class="ui tab active list" data-tab="repos">
					<div class="ui top attached header">
						{{.i18n.Tr "home.my_repos"}} <span class="ui grey label">{{.RepoCount}}</span>
						<div class="ui right">
							<a class="poping up" href="{{AppSubURL}}/repo/create{{if .ContextUser.IsOrganization}}?org={{.ContextUser.ID}}{{end}}" data-content="{{.i18n.Tr "new_repo"}}" data-variation="tiny inverted" data-position="left center">
								<i class="plus icon"></i>
								<span class="sr-only">{{.i18n.Tr "new_repo"}}</span>
							</a>
						</div>
					</div>
					<div class="ui attached table segment">
						<ul class="repo-owner-name-list">
							{{range .Repos}}
								<li {{if .IsPrivate}}class="private"{{end}}>
									<a href="{{AppSubURL}}/{{$.ContextUser.Name}}/{{.Name}}">
										<i class="octicon octicon-{{if .IsFork}}repo-forked{{else if .IsPrivate}}lock{{else if .IsMirror}}repo-clone{{else}}repo{{end}}"></i>
										<strong class="text truncate item-name">{{.Name}}</strong>
										<span class="ui right text light grey">
											{{.NumStars}} <i class="octicon octicon-star rear"></i>
										</span>
									</a>
								</li>
							{{end}}
							{{if gt .ContextUser.NumRepos .MaxShowRepoNum}}
							<li>
								<a href="{{.ContextUser.HomeLink}}">{{.i18n.Tr "home.show_more_repos"}}</a>
							</li>
							{{end}}
						</ul>
					</div>

					{{if not .ContextUser.IsOrganization}}
						<h4 class="ui top attached header">
							{{.i18n.Tr "home.collaborative_repos"}}
						</h4>
						<div class="ui attached table segment">
							<ul id="collaborative-repo-list">
								{{range .CollaborativeRepos}}
									<li {{if .IsPrivate}}class="private"{{end}}>
										<a href="{{AppSubURL}}/{{.Owner.Name}}/{{.Name}}">
											<i class="octicon octicon-{{if .IsPrivate}}lock{{else if .IsFork}}repo-forked{{else if .IsMirror}}repo-clone{{else}}repo{{end}}"></i>
											<span class="text truncate owner-and-repo">
												<span class="text truncate owner-name">{{.Owner.Name}}</span> / <strong>{{.Name}}</strong>
											</span>
											<span class="ui right text light grey">
												{{.NumStars}} <i class="octicon octicon-star rear"></i>
											</span>
										</a>
									</li>
								{{end}}
							</ul>
						</div>
					{{end}}
				</div>

				{{if not .ContextUser.IsOrganization}}
					<div class="ui tab list" data-tab="orgs">
						<div class="ui top attached header">
							{{.i18n.Tr "home.my_orgs"}} <span class="ui grey label">{{.ContextUser.GetOrganizationCount}}</span>
							<div class="ui right">
								<a class="poping up" href="{{AppSubURL}}/org/create" data-content="{{.i18n.Tr "new_org"}}" data-variation="tiny inverted" data-position="left center">
									<i class="plus icon"></i>
									<span class="sr-only">{{.i18n.Tr "new_org"}}</span>
								</a>
							</div>
						</div>
						<div class="ui attached table segment">
							<ul class="repo-owner-name-list">
								{{range .ContextUser.Orgs}}
									<li>
										<a href="{{AppSubURL}}/{{.Name}}">
											<i class="octicon octicon-organization"></i>
											<strong class="text truncate item-name">{{.Name}}</strong>
											<span class="ui right text light grey">
												{{.NumRepos}} <i class="octicon octicon-repo rear"></i>
											</span>
										</a>
									</li>
								{{end}}
							</ul>
						</div>
					</div>
				{{end}}

				<div class="ui tab list" data-tab="mirrors">
					<div class="ui top attached header">
						{{.i18n.Tr "home.my_mirrors"}} <span class="ui grey label">{{.MirrorCount}}</span>
						<div class="ui right">
							<a class="poping up" href="{{AppSubURL}}/repo/migrate?mirror=1" data-content="{{.i18n.Tr "new_mirror"}}" data-variation="tiny inverted" data-position="left center">
								<i class="plus icon"></i>
								<span class="sr-only">{{.i18n.Tr "new_mirror"}}</span>
							</a>
						</div>
					</div>
					<div class="ui attached table segment">
						<ul class="repo-owner-name-list">
							{{range .Mirrors}}
								<li {{if .IsPrivate}}class="private"{{end}}>
									<a href="{{AppSubURL}}/{{$.ContextUser.Name}}/{{.Name}}">
										<i class="octicon octicon-repo-clone"></i>
										<strong class="text truncate item-name">{{.Name}}</strong>
										<span class="ui right text light grey">
											{{.Interval}}H <i class="octicon octicon-sync rear"></i>
										</span>
									</a>
								</li>
							{{end}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
