{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
{{template "user/dashboard/nav" .}}
<div id="dashboard-wrapper">
    <div id="dashboard" class="container">
        <div id="dashboard-news" class="left grid-2-3">
            {{range .Feeds}}
            <div class="news clear">
                <div class="avatar left">
                    <img class="avatar-30" src="{{AvatarLink .GetActEmail}}" alt="">
                </div>
                <div class="content left {{if eq .GetOpType 5}}push-news{{end}}">
                    <p class="text-bold">
                        <a href="/{{.GetActUserName}}">{{.GetActUserName}}</a>
                        {{if eq .GetOpType 1}}
                        {{$.i18n.Tr "action.create_repo" .GetRepoLink .GetRepoLink | Str2html}}
                        {{else if eq .GetOpType 5}}
                        {{$.i18n.Tr "action.commit_repo" .GetRepoLink .GetBranch .GetBranch .GetRepoLink .GetRepoLink | Str2html}}
                        {{else if eq .GetOpType 6}}
                        {{ $index := index .GetIssueInfos 0}}
                        {{$.i18n.Tr "action.create_issue" .GetRepoLink $index .GetRepoLink $index | Str2html}}
                        {{else if eq .GetOpType 10}}
                        {{ $index := index .GetIssueInfos 0}}
                        {{$.i18n.Tr "action.comment_issue" .GetRepoLink $index .GetRepoLink $index | Str2html}}
                        {{end}}
                    </p>
                    {{if eq .GetOpType 5}}
                    <div class="news-content content">
                        <ul class="list-no-style">
                            {{ $push := ActionContent2Commits .}}
                            {{ $repoLink := .GetRepoLink}}
                            {{range $push.Commits}}
                            <li><img class="avatar-16" src="{{AvatarLink .AuthorEmail}}?s=16"> <a href="/{{$repoLink}}/commit/{{.Sha1}}">{{ShortSha .Sha1}}</a> {{.Message}}</li>
                            {{end}}
                        </ul>
                    </div>
                    {{else if eq .GetOpType 6}}
                    <p class="news-content comment-news">{{index .GetIssueInfos 1}}</p>
                    {{else if eq .GetOpType 10}}
                    <p class="news-content comment-news">{{index .GetIssueInfos 1}}</p>
                    {{end}}
                    <p class="news-time text-italic">{{TimeSince .GetCreate $.i18n.Lang}}</p>
                </div>
                <i class="mega-octicon octicon-{{ActionIcon .GetOpType}} right"></i>
            </div>
            {{end}}
        </div>
        <div id="dashboard-sidebar" class="right grid-1-3">
            <ul id="dashboard-sidebar-menu" class="menu menu-line">
                <li class="js-tab-nav js-tab-nav-show first" data-tab-target="#dashboard-my-repo"><a href="#">{{.i18n.Tr "repository"}}</a></li>
                {{if not .ContextUser.IsOrganization}}
                <li class="js-tab-nav" data-tab-target="#dashboard-my-org"><a href="#">{{.i18n.Tr "organization"}}</a></li>
                {{end}}
                <li class="js-tab-nav last" data-tab-target="#dashboard-my-mirror"><a href="#">{{.i18n.Tr "mirror"}}</a></li>
                <li class="drop right">
                    <button class="btn btn-green text-bold" id="dashboard-new-repo">
                        <i class="octicon octicon-plus"></i>
                    </button>
                    <ul class="menu menu-vertical drop-down" id="dashboard-new-repo-menu">
                        <li><a href="/repo/create"><i class="octicon octicon-repo-create"></i>{{.i18n.Tr "new_repo"}}</a></li>
                        <li><a href="/repo/migrate"><i class="octicon octicon-repo-clone"></i>{{.i18n.Tr "new_migrate"}}</a></li>
                        <li><a href="/org/create"><i class="octicon octicon-organization"></i>{{.i18n.Tr "new_org"}}</a></li>
                    </ul>
                </li>
            </ul>
            <div class="panel" id="dashboard-my-repo">
                <div class="panel-header">
                    <h4 class="left">{{.i18n.Tr "home.my_repos"}}
                        <span class="repo-count label label-gray label-radius">{{.ContextUser.NumRepos}}</span>
                    </h4>
                    &nbsp;
                </div>
                <div class="panel-body">
                    <ul class="list-no-style">
                        {{range .Repos}}
                        <li {{if .IsPrivate}}class="private"{{end}}>
                            <a href="/{{$.ContextUser.Name}}/{{.Name}}">
                                <i class="octicon octicon-{{if .IsPrivate}}lock{{else if .IsFork}}repo-forked{{else if .IsMirror}}repo-clone{{else}}repo{{end}}"></i>
                                <span class="repo-name">
                                    <strong class="repo">{{.Name}}</strong>
                                </span>
                                <span class="right repo-star">
                                    <i class="octicon octicon-star"></i>{{.NumStars}}
                                </span>
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </div>
                {{if not .ContextUser.IsOrganization}}
                <div class="panel-header repo-contrib-header">
                    <h4 class="text-bold">{{.i18n.Tr "home.collaborative_repos"}}
                        <span class="repo-count label label-gray label-radius">{{.CollaborateCount}}</span>
                    </h4>
                </div>
                <div class="panel-body">
                    <ul class="list-no-style">
                        {{range .CollaborativeRepos}}
                        <li {{if .IsPrivate}}class="private"{{end}}>
                            <a href="{{.Owner.Name}}/{{.Name}}">
                                <i class="octicon octicon-{{if .IsPrivate}}lock{{else if .IsFork}}repo-forked{{else if .IsMirror}}repo-clone{{else}}repo{{end}}"></i>
                                <span class="repo-name">
                                    <span class="repo-name-prefix">{{.Owner.Name}} / </span>
                                    <strong class="repo">{{.Name}}</strong>
                                </span>
                                <span class="right repo-star">
                                    <i class="octicon octicon-star"></i>{{.NumStars}}
                                </span>
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </div>
                {{end}}
            </div>
            {{if not .ContextUser.IsOrganization}}
            <div class="panel" id="dashboard-my-org">
                <div class="panel-header">
                    <h4 class="text-bold">{{.i18n.Tr "home.my_orgs"}}
                        <span class="repo-count label label-gray label-radius">{{.ContextUser.GetOrganizationCount}}</span>
                    </h4>
                </div>
                <div class="panel-body">
                    <ul class="list-no-style">
                        {{range .ContextUser.Orgs}}
                        <li>
                            <a href="/{{.Name}}">
                                <i class="octicon octicon-organization"></i>
                                <span class="repo-name">
                                    <strong class="repo">{{.Name}}</strong>
                                </span>
                                <span class="right repo-star">
                                    <i class="octicon octicon-repo"></i>{{.NumRepos}}
                                </span>
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
            {{end}}
            <div class="panel" id="dashboard-my-mirror">
                <div class="panel-header">
                    <h4 class="text-bold">{{.i18n.Tr "home.my_mirrors"}}
                        <span class="repo-count label label-gray label-radius">{{.MirrorCount}}</span>
                    </h4>
                </div>
                <div class="panel-body">
                    <ul class="list-no-style">
                        {{range .Mirrors}}
                        <li {{if .IsPrivate}}class="private"{{end}}>
                            <a href="/{{$.ContextUser.Name}}/{{.Name}}">
                                <i class="octicon octicon-repo-clone"></i>
                                <span class="repo-name">
                                    <strong class="repo">{{.Name}}</strong>
                                </span>
                                <span class="right repo-star">
                                    <i class="octicon octicon-sync"></i>{{.Interval}}H
                                </span>
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "ng/base/footer" .}}
