{{template "base/head" .}}
<div class="dashboard issues">
	{{template "user/dashboard/navbar" .}}
	<div class="ui container">
		<div class="ui grid">
			<div class="four wide column">
				<div class="ui secondary vertical filter menu">
					<a class="{{if eq .ViewType "your_repositories"}}ui basic blue button{{end}} item" href="{{.Link}}?type=your_repositories&repo={{.RepoID}}&sort={{$.SortType}}&state={{.State}}">
						{{.i18n.Tr "home.issues.in_your_repos"}}
						<strong class="ui right">{{.IssueStats.YourReposCount}}</strong>
					</a>
					{{if not .ContextUser.IsOrganization}}
						<a class="{{if eq .ViewType "assigned"}}ui basic blue button{{end}} item" href="{{.Link}}?type=assigned&repo={{.RepoID}}&sort={{$.SortType}}&state={{.State}}">
							{{.i18n.Tr "repo.issues.filter_type.assigned_to_you"}}
							<strong class="ui right">{{.IssueStats.AssignCount}}</strong>
						</a>
						<a class="{{if eq .ViewType "created_by"}}ui basic blue button{{end}} item" href="{{.Link}}?type=created_by&repo={{.RepoID}}&sort={{$.SortType}}&state={{.State}}">
							{{.i18n.Tr "repo.issues.filter_type.created_by_you"}}
							<strong class="ui right">{{.IssueStats.CreateCount}}</strong>
						</a>
					{{end}}
					<div class="ui divider"></div>
					{{range .Repos}}
						<a class="{{if eq $.RepoID .ID}}ui basic blue button{{end}} repo name item" href="{{$.Link}}?type={{$.ViewType}}{{if not (eq $.RepoID .ID)}}&repo={{.ID}}{{end}}&sort={{$.SortType}}&state={{$.State}}">
							<span class="text truncate">{{.FullName}}</span>
							<div class="floating ui {{if $.IsShowClosed}}red{{else}}green{{end}} label">
							{{if $.PageIsIssues}}
								{{if $.IsShowClosed}}{{.NumClosedIssues}}{{else}}{{.NumOpenIssues}}{{end}}
							{{else}}
								{{if $.IsShowClosed}}{{.NumClosedPulls}}{{else}}{{.NumOpenPulls}}{{end}}
							{{end}}
							</div>
						</a>
					{{end}}
				</div>
			</div>
			<div class="twelve wide column content">
				<div class="ui tiny basic status buttons">
					<a class="ui {{if not .IsShowClosed}}green active{{end}} basic button" href="{{.Link}}?type={{$.ViewType}}&repo={{.RepoID}}&sort={{$.SortType}}&state=open">
						<i class="octicon octicon-issue-opened"></i>
						{{.i18n.Tr "repo.issues.open_tab" .IssueStats.OpenCount}}
					</a>
					<a class="ui {{if .IsShowClosed}}red active{{end}} basic button" href="{{.Link}}?type={{$.ViewType}}&repo={{.RepoID}}&sort={{$.SortType}}&state=closed">
						<i class="octicon octicon-issue-closed"></i>
						{{.i18n.Tr "repo.issues.close_tab" .IssueStats.ClosedCount}}
					</a>
				</div>
				<div class="ui right floated secondary filter menu">
					<!-- Sort -->
					<div class="ui dropdown type jump item">
						<span class="text">
							{{.i18n.Tr "repo.issues.filter_sort"}}
							<i class="dropdown icon"></i>
						</span>
						<div class="menu">
							<a class="{{if or (eq .SortType "latest") (not .SortType)}}active{{end}} item" href="{{$.Link}}?type={{$.ViewType}}&repo={{.RepoID}}&sort=latest&state={{$.State}}">{{.i18n.Tr "repo.issues.filter_sort.latest"}}</a>
							<a class="{{if eq .SortType "oldest"}}active{{end}} item" href="{{$.Link}}?type={{$.ViewType}}&repo={{.RepoID}}&sort=oldest&state={{$.State}}">{{.i18n.Tr "repo.issues.filter_sort.oldest"}}</a>
							<a class="{{if eq .SortType "recentupdate"}}active{{end}} item" href="{{$.Link}}?type={{$.ViewType}}&repo={{.RepoID}}&sort=recentupdate&state={{$.State}}">{{.i18n.Tr "repo.issues.filter_sort.recentupdate"}}</a>
							<a class="{{if eq .SortType "leastupdate"}}active{{end}} item" href="{{$.Link}}?type={{$.ViewType}}&repo={{.RepoID}}&sort=leastupdate&state={{$.State}}">{{.i18n.Tr "repo.issues.filter_sort.leastupdate"}}</a>
							<a class="{{if eq .SortType "mostcomment"}}active{{end}} item" href="{{$.Link}}?type={{$.ViewType}}&repo={{.RepoID}}&sort=mostcomment&state={{$.State}}">{{.i18n.Tr "repo.issues.filter_sort.mostcomment"}}</a>
							<a class="{{if eq .SortType "leastcomment"}}active{{end}} item" href="{{$.Link}}?type={{$.ViewType}}&repo={{.RepoID}}&sort=leastcomment&state={{$.State}}">{{.i18n.Tr "repo.issues.filter_sort.leastcomment"}}</a>
						</div>
					</div>
				</div>

				<div class="issue list">
					{{range .Issues}}
						{{ $timeStr:= TimeSince .Created $.Lang }}
						<li class="item">
							<div class="ui label">{{if not $.RepoID}}{{.Repo.FullName}}{{end}}#{{.Index}}</div>
							<a class="title has-emoji" href="{{AppSubURL}}/{{.Repo.Owner.Name}}/{{.Repo.Name}}/issues/{{.Index}}">{{.Title}}</a>

							{{if .NumComments}}
								<span class="comment ui right"><i class="octicon octicon-comment"></i> {{.NumComments}}</span>
							{{end}}
							
							<div>
								<span class="ui right">
									{{range .Labels}}
										<a class="ui label" style="color: {{.ForegroundColor}}; background-color: {{.Color}}">{{.Name | Sanitize}}</a>
									{{end}}
								</span>
							</div>

							<p class="desc">
								{{$.i18n.Tr "repo.issues.opened_by" $timeStr .Poster.HomeLink .Poster.Name | Safe}}
								{{if .Assignee}}
									<a class="ui right assignee poping up" href="{{.Assignee.HomeLink}}" data-content="{{.Assignee.Name}}" data-variation="inverted" data-position="left center">
										<img class="ui avatar image" src="{{.Assignee.RelAvatarLink}}">
									</a>
								{{end}}
							</p>
						</li>
					{{end}}

					{{with .Page}}
						{{if gt .TotalPages 1}}
							<div class="center page buttons">
								<div class="ui borderless pagination menu">
									<a class="{{if not .HasPrevious}}disabled{{end}} item" {{if .HasPrevious}}href="{{$.Link}}?type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{$.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}&page={{.Previous}}"{{end}}>
										<i class="left arrow icon"></i> {{$.i18n.Tr "repo.issues.previous"}}
									</a>
									{{range .Pages}}
										{{if eq .Num -1}}
											<a class="disabled item">...</a>
										{{else}}
											<a class="{{if .IsCurrent}}active{{end}} item" {{if not .IsCurrent}}href="{{$.Link}}?type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{$.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}&page={{.Num}}"{{end}}>{{.Num}}</a>
										{{end}}
									{{end}}
									<a class="{{if not .HasNext}}disabled{{end}} item" {{if .HasNext}}href="{{$.Link}}?type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{$.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}&page={{.Next}}"{{end}}>
										{{$.i18n.Tr "repo.issues.next"}} <i class="icon right arrow"></i>
									</a>
								</div>
							</div>
						{{end}}
					{{end}}
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
