<div id="dashboard-header">
    <ul class="menu menu-line container">
        <li id="dashboard-selection-menu" class="down drop">
            <a href="#" class="text-bold radius">
                <img class="avatar-30" src="{{.ContextUser.AvatarLink}}" alt="user-avatar" />
                {{.ContextUser.Name}}
            </a>
            <div class="drop-down panel panel-radius">
                <p class="panel-header"><strong>{{.i18n.Tr "home.switch_dashboard_context"}}</strong></p>
                <ul class="menu menu-vertical switching-list" id="dashboard-switch-menu">
                    <li class="org {{if eq .ContextUser.Id .SignedUser.Id}}checked{{end}}">
                        <a href="{{AppSubUrl}}/">
                            <i class="octicon octicon-check"></i>
                            <img class="avatar-24" src="{{.SignedUser.AvatarLink}}" alt="user-avatar" />
                            {{.SignedUser.Name}}
                        </a>
                    </li>
                    {{range .Orgs}}
                    <li class="org {{if eq $.ContextUser.Id .Id}}checked{{end}}">
                        <a href="{{.DashboardLink}}">
                            <i class="octicon octicon-check"></i>
                            <img class="avatar-24" src="{{.AvatarLink}}" alt="user-avatar" />
                            {{.Name}}
                        </a>
                    </li>
                    {{end}}
                    <!-- <li>
                        <a href="{{AppSubUrl}}/user/settings/orgs"><i class="octicon octicon-organization"></i>{{.i18n.Tr "manage_org"}}</a>
                    </li> -->
                    <li>
                        <a href="{{AppSubUrl}}/org/create"><i class="octicon octicon-plus"></i>{{.i18n.Tr "new_org"}}</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="right">
            <a {{if $.PageIsIssues}}class="current"{{end}} href="{{AppSubUrl}}/{{if .ContextUser.IsOrganization}}org/{{.ContextUser.Name}}/{{end}}issues"><i class="octicon octicon-issue-opened"></i>{{.i18n.Tr "issues"}}</a>
        </li>
        <!-- <li class="right">
            <a {{if .PageIsPulls}}class="current"{{end}} href="{{.ContextUser.DashboardLink}}pulls"><i class="octicon octicon-git-pull-request"></i>{{.i18n.Tr "pull_requests"}}</a>
        </li> -->
        <li class="right">
            <a {{if $.PageIsNews}}class="current"{{end}} href="{{.ContextUser.DashboardLink}}"><i class="octicon octicon-rss"></i>{{.i18n.Tr "news_feed"}}</a>
        </li>
    </ul>
</div>