{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="repo-wrapper">
    {{template "repo/header" .}}
    <div class="issue-main container repo-wide-wrapper">
        <ul id="issue-list-nav" class="menu menu-line">
            <li><a href="#">Issue</a></li>
            <li><a href="#">Pull Request</a></li>
            <li class="current"><a href="#">Labels</a></li>
            <li><a href="#">Milestones</a></li>
            <li class="right" id="label-new"><a href="#"><button id="label-new-btn" class="btn btn-green text-bold">New Label</button></a></li>
        </ul>
        <form id="label-add-form" action="#" class="form clear hidden">
            <input type="text" class="ipt" name="name" placeholder="label name" id="label-add-name"/>
            <div class="inline down drop label-color-drop">
                <label for="label-add-color"></label>
                <input class="ipt" name="color" type="text" placeholder="color" id="label-add-color"/>
                <div class="drop-down">
                    <a href="#" class="color" style="background: red"></a>
                    <a href="#" class="color" style="background: green"></a>
                </div>
            </div>
            <button class="btn btn-gray right" type="button" id="label-cancel-btn">Cancel</button>
            <button class="btn btn-green right" id="label-add-btn">Create</button>
        </form>
        <div id="issue-list-container">
            <div id="issue-list-menu">
                <div class="left"><span class="label label-black" id="labels-num">6</span><strong>Labels</strong></div>
                <div class="clear"></div>
            </div>
            <ul id="label-list" class="list-no-style">
                <li class="item" id="label-id">
                    <a class="right delete" href="#"><i class="octicon octicon-x"></i>Delete</a>
                    <a class="right edit" href="#"><i class="octicon octicon-pencil"></i>Edit</a>
                    <a class="right issue-num" href="#"><i class="octicon octicon-issue-opened"></i><strong class="num">12</strong>Issues</a>
                    <a class="left label clear" href="#" style="background-color: #0052cc" data-color-hex="#0052cc"><i class="octicon octicon-tag"></i><strong>bug</strong></a>
                </li>
                <li class="item" id="label-id">
                    <a class="right" href="#"><i class="octicon octicon-x"></i>Delete</a>
                    <a class="right" href="#"><i class="octicon octicon-pencil"></i>Edit</a>
                    <a class="right issue-num" href="#"><i class="octicon octicon-issue-opened"></i><strong class="num">12</strong>Issues</a>
                    <a class="left label clear" href="#" style="background-color: red"><i class="octicon octicon-tag"></i><strong>bug</strong></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="label-edit-form-tpl" class="hidden">
    <li class="item"><form id="label-edit-form" action="#" class="form clear">
        <input type="text" class="ipt" name="name" placeholder="label name" id="label-edit-name"/>
        <input type="hidden" name="id" value="id"/>
        <div class="inline down drop label-color-drop">
            <label for="label-add-color"></label>
            <input class="ipt" name="color" type="text" placeholder="color" id="label-edit-color"/>
            <div class="drop-down">
                <a href="#" class="color" style="background: red"></a>
                <a href="#" class="color" style="background: green"></a>
            </div>
        </div>
        <button class="btn btn-gray right" type="button" id="label-edit-cancel-btn">Cancel</button>
        <button class="btn btn-green right" id="label-edit-btn">Save Changes</button>
    </form></li>
</div>
<div id="label-delete-form-tpl" class="hidden">
    <li class="item">
        <form id="label-delete-form" action="#">
            <input type="hidden" name="id" value="id"/>
            <span><strong class="text-red">Are you sure?</strong> Deleting a label will remove it from all issues and pull requests.</span>
            <button class="btn btn-gray right" type="button" id="label-del-cancel-btn">Cancel</button>
            <button class="btn btn-red right" id="label-del-btn">Delete</button>
        </form>
    </li>
</div>
{{template "ng/base/footer" .}}