{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="repo-wrapper">
    {{template "repo/header" .}}
    <div class="issue-main container repo-wide-wrapper">
        <ul id="issue-list-nav" class="menu menu-line">
            <li class="current"><a href="#">Issue</a></li>
            <li><a href="#">Pull Request</a></li>
            <li><a href="#">Labels</a></li>
            <li><a href="#">Milestones</a></li>
            <li class="right" id="issue-new"><a href="#"><button id="issue-new-btn" class="btn btn-green text-bold">New Issue</button></a></li>
            <!--<li class="right"><a href="#">Filter</a></li>-->
        </ul>
        <div id="issue-list-container">
            <div id="issue-list-menu">
                <div class="left">
                    <span class="mark open hover"><a href="#">
                        <i class="octicon octicon-issue-opened"></i> 88 Open
                    </a></span>
                    <span class="mark close"><a href="">
                        <i class="octicon octicon-issue-closed"></i> 12 Close
                    </a></span>
                </div>
                <ul id="issue-list-filter" class="right menu menu-line">
                    <li class="down drop label-filter">
                        <a href="#">Labels</a>
                        <div class="drop-down">
                            <h4>Labels</h4>
                            <ul class="labels list-no-style">
                                <li class="no-label"><strong>no label</strong></li>
                                <li><a href="#"><span class="color"></span><span class="name">bug</span></a></li>
                                <li><a href="#"><span class="color"></span><span class="name">feature</span></a></li>
                                <li><a href="#"><span class="color"></span><span class="name">roadmap</span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="down drop milestone-filter">
                        <a href="#">Milestones</a>
                        <div class="drop-down">
                            <h4>Milestones</h4>
                            <ul class="milestones list-no-style">
                                <li class="no-label"><strong>no milestone</strong></li>
                                <li><a href="#">v1</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="down drop assignee-list">
                        <a href="#">Assignee</a>
                        <div class="drop-down">
                            aabbcc
                        </div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <ul id="issue-list" class="list-no-style">
                <li class="item" id="issue-id">
                    <a class="comment" href="#">
                        <i class="octicon octicon-comment"></i> 7
                    </a>
                    <p class="title text-bold">
                        <span class="label label-black index-num">#588</span>
                        <a href="#" class="title-text">Delete account text and/or translations missing</a>
                        <span class="label label-red issue-label"><a href="#">bug</a></span>
                    </p>
                    <p class="desc">opened 7 days ago by <a href="#">marcuspoehls</a></p>
                </li>
                <li class="item" id="issue-id2">
                    <a class="comment" href="#">
                        <i class="octicon octicon-comment"></i> 7
                    </a>
                    <p class="title text-bold">
                        <span class="label label-black index-num">#588</span>
                        <a href="#" class="title-text">Delete account text and/or translations missing</a>
                        <span class="label label-red issue-label"><a href="#">bug</a></span>
                    </p>
                    <p class="desc">opened 7 days ago by <a href="#">marcuspoehls</a></p>
                </li>
                <li class="item" id="issue-id3">
                    <a class="comment" href="#">
                        <i class="octicon octicon-comment"></i> 7
                    </a>
                    <p class="title text-bold">
                        <span class="label label-black index-num">#588</span>
                        <a href="#" class="title-text">Disabling attachments breaks issues and comments ajax submit</a>
                        <span class="label label-red issue-label"><a href="#">bug</a></span>
                    </p>
                    <p class="desc">opened 7 days ago by <a href="#">marcuspoehls</a></p>
                </li>
            </ul>
            <div id="issue-list-pager" class="pager text-center">
                <a class="prev invalid" href="#">Prev</a>
                <a class="page" href="#">1</a>
                <a class="page hover" href="#">2</a>
                <a class="page" href="#">3</a>
                <a class="next" href="#">Next</a>
            </div>
        </div>
    </div>
</div>
{{template "ng/base/footer" .}}