<div class="actions">
	<div class="ui red basic inverted cancel button">
		<i class="remove icon"></i>
		{{.i18n.Tr "modal.no"}}
	</div>
	<div class="ui green basic inverted ok button">
		<i class="checkmark icon"></i>
		{{.i18n.Tr "modal.yes"}}
	</div>
</div>
