{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
{{template "org/base/header" .}}
<div class="container">
	<div class="invite-box" id="invite-box">
    	{{template "ng/base/alert" .}}
		<h3>{{.i18n.Tr "org.members.invite_desc" .Org.FullName}}</h3>
		<form id="invite-member-form" action="{{.OrgLink}}/invitations/new" method="post">
			{{.CsrfTokenHtml}}
			<input class="ipt ipt-large ipt-radius" id="org-member-invite" name="uname" autocomplete="off" required>
			<button class="btn btn-blue btn-large btn-radius">{{.i18n.Tr "org.members.invite_now"}}</button>
			<div id="org-member-list-block">
				<ul class="menu-down-show menu-vertical menu-radius switching-list user-list" id="org-member-invite-list"></ul>
			</div>
		</form>
	</div>
</div>
{{template "ng/base/footer" .}}