{{template "base/head" .}}
<div class="organization members">
	{{template "org/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		{{if .IsOrganizationOwner}}
			<div class="text right">
				<a class="ui blue button" href="{{.OrgLink}}/invitations/new"><i class="octicon octicon-repo-create"></i> {{.i18n.Tr "org.invite_someone"}}</a>
			</div>
			<div class="ui divider"></div>
		{{end}}

		<div class="list">
			{{range .Members}}
				<div class="item ui grid">
					<div class="ui one wide column">
						<img class="ui avatar" src="{{AppendAvatarSize .AvatarURLPath 48}}">
					</div>
					<div class="ui three wide column">
						<div class="meta"><a href="{{.HomeURLPath}}">{{.Name}}</a></div>
						<div class="meta">{{.FullName}}</div>
					</div>
					<div class="ui five wide column center">
						<div class="meta">
							{{$.i18n.Tr "org.members.membership_visibility"}}
						</div>
						<div class="meta">
							{{ $isPublic := .IsPublicMember $.Org.ID}}
							{{if $isPublic}}
								<strong>{{$.i18n.Tr "org.members.public"}}</strong>
								{{if or (eq $.LoggedUser.ID .ID) $.IsOrganizationOwner}}(<form class="inline-form" action="{{$.OrgLink}}/members/action/private" method="post"><input type="hidden" name="uid" value="{{.ID}}"><button class="link-button" type="submit">{{$.i18n.Tr "org.members.public_helper"}}</button></form>){{end}}
							{{else}}
								<strong>{{$.i18n.Tr "org.members.private"}}</strong>
								{{if or (eq $.LoggedUser.ID .ID) $.IsOrganizationOwner}}(<form class="inline-form" action="{{$.OrgLink}}/members/action/public" method="post"><input type="hidden" name="uid" value="{{.ID}}"><button class="link-button" type="submit">{{$.i18n.Tr "org.members.private_helper"}}</button></form>){{end}}
							{{end}}
						</div>
					</div>
					<div class="ui three wide column center">
						<div class="meta">
							{{$.i18n.Tr "org.members.member_role"}}
						</div>
						<div class="meta">
							<strong>{{if .IsUserOrgOwner $.Org.ID}}<span class="octicon octicon-shield"></span> {{$.i18n.Tr "org.members.owner"}}{{else}}{{$.i18n.Tr "org.members.member"}}{{end}}</strong>
						</div>
					</div>
					<div class="ui four wide column">
						<div class="text right">
							{{if eq $.LoggedUser.ID .ID}}
								<form class="inline-form" action="{{$.OrgLink}}/members/action/leave" method="post">
									<input type="hidden" name="uid" value="{{.ID}}">
									<button class="ui red small button" type="submit">{{$.i18n.Tr "org.members.leave"}}</button>
								</form>
							{{else if $.IsOrganizationOwner}}
								<form class="inline-form" action="{{$.OrgLink}}/members/action/remove" method="post">
									<input type="hidden" name="uid" value="{{.ID}}">
									<button class="ui red small button" type="submit">{{$.i18n.Tr "org.members.remove"}}</button>
								</form>
							{{end}}
						</div>
					</div>
				</div>
			{{end}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
