<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{.Subject}}</title>
</head>

<body>
    <p>You can now push to this repository.</p>
    <p>
        ---
        <br>
        View it on Gogs:
        <br>
        <a href="{{.AppUrl}}{{.RepoLink}}">{{.AppUrl}}{{.RepoLink}}</a>
    </p>
</body>
</html>
