<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{.Subject}}</title>
</head>

<body>
    <p>{{.ActUserName}} mentioned you.</p>
    <p>
        ---
        <br>
        <a href="{{.AppUrl}}{{.IssueLink}}">View it on Gogs</a>.
    </p>
</body>
</html>
