<form class="ui form">
	<div class="ui fluid action input">
	  <input name="q" value="{{.Keyword}}" placeholder="{{.i18n.Tr "explore.search"}}..." autofocus>
	  <button class="ui blue button">{{.i18n.Tr "explore.search"}}</button>
	</div>
</form>
