{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="logo">
				<img alt="logo" src="{{AppSubURL}}/img/logo-text.png" />
			</div>
			<div class="hero">
				<h2>
					欢迎访问 开源项目 仓库！
				</h2>
				<p class="introduce">
					<br />
					本仓库由开源软件 <a href="https://github.com/SongZihuan/HuanGogs" target="_blank"> Huan-Gogs </a> 搭建，并提供技术支持。
				</p>
				<p class="friend">
					友情连接：
					<a href="https://song-zh.com" target="_blank"> 宋子桓主页 </a>
					，
					<a href="https://cas.song-zh.com" target="_blank"> 宋子桓赞助者和贡献者 </a>
				</p>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
