{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="{{AppSubUrl}}/img/CoLab_300x300.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					Forxa - Co-lab
				</h1>
				<h2>{{.i18n.Tr "app_desc"}}</h2>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
