{{template "base/head" .}}
<div id="gogs-body" class="container">
    <form action="/install" method="post" class="form-horizontal gogs-card" id="gogs-install-card">
        {{.CsrfTokenHtml}}
        <h3>Install Steps</h3>
        <div class="alert alert-danger form-error{{if .HasError}}{{else}} hidden{{end}}">{{.ErrorMsg}}</div>
        <p class="help-block text-center">GoGits need MySQL or PostgreSQL server</p>
        <div class="form-group {{if .Err_User}}has-error has-feedback{{end}}">
            <label class="col-md-3 control-label"><strong>MySQL </strong>Host: </label>
            <div class="col-md-8">
                <input name="host" class="form-control" placeholder="Type mysql server ip or domain" value="localhost" required="required">
            </div>
        </div>
        <div class="form-group {{if .Err_User}}has-error has-feedback{{end}}">
            <label class="col-md-3 control-label">Port: </label>
            <div class="col-md-8">
                <input name="port" class="form-control" placeholder="Type mysql server port" value="3306" required="required">
            </div>
        </div>
        <div class="form-group {{if .Err_User}}has-error has-feedback{{end}}">
            <label class="col-md-3 control-label">User: </label>
            <div class="col-md-8">
                <input name="user" class="form-control" placeholder="Type mysql username" required="required">
            </div>
        </div>
        <div class="form-group {{if .Err_Password}}has-error has-feedback{{end}}">
            <label class="col-md-3 control-label">Password: </label>
            <div class="col-md-8">
                <input name="passwd" type="password" class="form-control" placeholder="Type mysql password" required="required">
            </div>
        </div>
        <div class="form-group {{if .Err_Password}}has-error has-feedback{{end}}">
            <label class="col-md-3 control-label">Database: </label>
            <div class="col-md-8">
                <input name="database" type="text" class="form-control" placeholder="Type mysql database name" value="gogs" required="required">
                <p class="help-block">Recommend use INNODB engine with utf8_general_ci charset.</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-8 col-md-offset-3">
                   <button class="btn btn-sm btn-info">Test Connection</button>
            </div>
        </div>

        <hr/>

        <p class="help-block text-center">General settings for GoGits</p>

        <div class="form-group {{if .Err_Password}}has-error has-feedback{{end}}">
            <label class="col-md-3 control-label">Repository Path: </label>
            <div class="col-md-8">
                <input name="repo-path" type="text" class="form-control" placeholder="Type your repository directory" value="/var/gogs/repostiory" required="required">
                <p class="help-block">The git copy of each repository is saved in this directory.</p>
            </div>
        </div>
        <div class="form-group {{if .Err_Password}}has-error has-feedback{{end}}">
            <label class="col-md-3 control-label">System User: </label>
            <div class="col-md-8">
                <input name="system-user" type="text" class="form-control" placeholder="Type mysql password" value="root" required="required">
                <p class="help-block">The user has access to visit and run GoGits.</p>
            </div>
        </div>
        <hr/>
        <div class="form-group text-center">
            <a class="btn btn-danger btn-lg">Install GoGits</a>
        </div>
    </form>
</div>
{{template "base/footer" .}}