{{template "base/head" .}}
<div class="install">
	<div class="ui middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<h3 class="ui top attached header">
			  {{.i18n.Tr "install.title"}}
			</h3>
			<div class="ui attached segment">
			  <form class="ui form" action="{{AppSubUrl}}/install" method="post">
			  	{{.CsrfTokenHtml}}

			  	<!-- Dtabase Settings -->
			  	<h4 class="ui dividing header">{{.i18n.Tr "install.db_title"}}</h4>
			  	<p>{{.i18n.Tr "install.requite_db_desc"}}</p>
			  	<div class="inline required field">
	  	      <label>{{.i18n.Tr "install.db_type"}}</label>
			      <div class="ui selection database type dropdown">
			        <input type="hidden" id="db_type" name="db_type" value="{{.CurDbOption}}">
			        <div class="default text">{{.CurDbOption}}</div>
			        <i class="dropdown icon"></i>
			        <div class="menu">
                {{range .DbOptions}}
			          <div class="item" data-value="{{.}}">{{.}}</div>
                {{end}}
			        </div>
			      </div>
	  	    </div>

          <div id="sql_settings" class="{{if eq .CurDbOption "SQLite3"}}hide{{end}}">
            <div class="inline required field">
              <label for="db_host">{{.i18n.Tr "install.host"}}</label>
              <input id="db_host" name="db_host" value="{{.db_host}}">
            </div>
            <div class="inline required field">
              <label for="db_user">{{.i18n.Tr "install.user"}}</label>
              <input id="db_user" name="db_user" value="{{.db_user}}">
            </div>
            <div class="inline required field">
              <label for="db_passwd">{{.i18n.Tr "install.password"}}</label>
              <input id="db_passwd" name="db_passwd" type="password" value="{{.db_passwd}}">
            </div>
            <div class="inline required field">
              <label for="db_name">{{.i18n.Tr "install.db_name"}}</label>
              <input id="db_name" name="db_name" value="{{.db_name}}">
              <span class="help">{{.i18n.Tr "install.db_helper"}}</span>
            </div>
          </div>

          <div id="pgsql_settings" class="{{if not (eq .CurDbOption "PostgreSQL")}}hide{{end}}">
            <div class="inline required field">
              <label>{{.i18n.Tr "install.ssl_mode"}}</label>
              <div class="ui selection database type dropdown">
                <input type="hidden" name="ssl_mode" value="disable">
                <div class="default text">disable</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item" data-value="disable">Disable</div>
                  <div class="item" data-value="require">Require</div>
                  <div class="item" data-value="verify-full">Verify Full</div>
                </div>
              </div>
            </div>
          </div>

          <div id="sqlite_settings" class="{{if not (eq .CurDbOption "SQLite3")}}hide{{end}}">
            <div class="inline required field">
              <label for="db_path">{{.i18n.Tr "install.path"}}</label>
              <input id="db_path" name="db_path" value="{{.db_path}}">
              <span class="help">{{.i18n.Tr "install.sqlite_helper"}}</span>
            </div>
          </div>

					<!-- General Settings -->
					<h4 class="ui dividing header">{{.i18n.Tr "install.general_title"}}</h4>
			  </form>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}