{{template "base/head" .}}
<div class="organization invite">
	{{template "org/header" .}}
	<div class="ui container">
		<div id="invite-box">
			{{template "base/alert" .}}
			<h2>{{.i18n.Tr "org.members.invite_desc" .Org.DisplayName}}</h2>
			<form class="ui form" action="{{.Link}}" method="post">
				{{.CSRFTokenHTML}}
				<div class="inline field ui left">
					<div id="search-user-box">
						<div class="ui input">
							<input class="prompt" name="uname" placeholder="{{.i18n.Tr "repo.settings.search_user_placeholder"}}" autocomplete="off" autofocus required>
						</div>
						<div class="ui segment results hide"></div>
					</div>
				</div>
				<button class="ui blue button">{{.i18n.Tr "org.members.invite_now"}}</button>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
