{{template "base/head" .}}
<div class="user signin two-factor">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form" action="{{.Link}}" method="post">
				{{.CSRFTokenHTML}}
				<h3 class="ui top attached center header">
					{{.i18n.Tr "auth.login_two_factor"}}
				</h3>
				<div class="ui attached segment">
					{{template "base/alert" .}}
					<div class="required field">
						<label for="passcode">{{.i18n.Tr "auth.login_two_factor_passcode"}}</label>
						<div class="ui fluid input">
							<input id="passcode" name="passcode" autofocus required>
						</div>
					</div>

					<button class="ui fluid green button">{{.i18n.Tr "settings.two_factor_verify"}}</button>
				</div>
				<p>
					<a href="{{AppSubURL}}/user/login/two_factor_recovery_code">{{.i18n.Tr "auth.login_two_factor_enter_recovery_code"}}</a>
				</p>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
