{{template "base/head" .}}
<div class="user settings profile">
	<div class="ui container">
		<div class="ui grid">
			{{template "user/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "settings.public_profile"}}
				</h4>
				<div class="ui attached segment">
					<p>{{.i18n.Tr "settings.profile_desc"}}</p>
					<form class="ui form" action="{{.Link}}" method="post">
						{{.CSRFTokenHTML}}
						<div class="required field {{if .Err_Name}}error{{end}}">
							<label for="username">{{.i18n.Tr "username"}}<span class="text red {{if eq .name .origin_name}}hide{{end}}" id="name-change-prompt"> {{.i18n.Tr "settings.change_username_prompt"}}</span></label>
							<input id="username" name="name" value="{{.name}}" data-name="{{.origin_name}}" autofocus required {{if not .LoggedUser.IsLocal}}readonly{{end}}>
							{{if not .LoggedUser.IsLocal}}
							<p class="help text blue">{{$.i18n.Tr "settings.password_username_disabled"}}</p>
							{{end}}
						</div>
						<div class="field {{if .Err_FullName}}error{{end}}">
							<label for="full_name">{{.i18n.Tr "settings.full_name"}}</label>
							<input id="full_name" name="full_name" value="{{.full_name}}">
						</div>
						<div class="required field {{if .Err_Email}}error{{end}}">
							<label for="email">{{.i18n.Tr "email"}}</label>
							<input id="email" name="email" value="{{.email}}" required>
						</div>
						<div class="field {{if .Err_Website}}error{{end}}">
							<label for="website">{{.i18n.Tr "settings.website"}}</label>
							<input id="website" name="website" type="url" value="{{.website}}">
						</div>
						<div class="field">
							<label for="location">{{.i18n.Tr "settings.location"}}</label>
							<input id="location" name="location"  value="{{.location}}">
						</div>

						<div class="field">
							<button class="ui green button">{{$.i18n.Tr "settings.update_profile"}}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
