<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Subject}}</title>
</head>

<body>
	<p>@{{.Doer.DisplayName}} 提到你：</p>
	<p>{{.Body | Str2HTML}}</p>
	<p>
		---
		<br>
		<a href="{{.Link}}">前往查看</a>.
	</p>
</body>
</html>
