<div class="field">
	<div class="ui top attached tabular menu" data-write="write" data-preview="preview">
		<a class="active item" data-tab="write">{{.i18n.Tr "repo.release.write"}}</a>
		<a class="item" data-tab="preview" data-url="{{AppSubURL}}/api/v1/markdown" data-context="{{.RepoLink}}">{{.i18n.Tr "repo.release.preview"}}</a>
	</div>
	<div class="ui bottom attached active tab segment" data-tab="write">
		<textarea id="content" class="edit_area" name="content" tabindex="4" data-id="issue-{{.RepoName}}" data-url="{{AppSubURL}}/api/v1/markdown" data-context="{{.Repo.RepoLink}}">
{{if .IssueTemplate}}{{.IssueTemplate}}{{else if .PullRequestTemplate}}{{.PullRequestTemplate}}{{else}}{{.content}}{{end}}</textarea>
	</div>
	<div class="ui bottom attached tab segment markdown" data-tab="preview">
		{{.i18n.Tr "repo.release.loading"}}
	</div>
</div>
{{if .IsAttachmentEnabled}}
	<div class="files"></div>
	<div class="ui basic button dropzone" id="dropzone" data-upload-url="{{AppSubURL}}/issues/attachments" data-accepts="{{.AttachmentAllowedTypes}}" data-max-file="{{.AttachmentMaxFiles}}" data-max-size="{{.AttachmentMaxSize}}" data-default-message="{{.i18n.Tr "dropzone.default_message"}}" data-invalid-input-type="{{.i18n.Tr "dropzone.invalid_input_type"}}" data-file-too-big="{{.i18n.Tr "dropzone.file_too_big"}}" data-remove-file="{{.i18n.Tr "dropzone.remove_file"}}"></div>
{{end}}
