{{template "base/head" .}}
<div class="repository">
	{{template "repo/header" .}}
	<div class="ui middle page grid body">
		<div class="navbar">
			{{template "repo/issue/navbar" .}}
			<div class="ui right floated secondary menu">
				<a class="ui green button" href="{{$.RepoLink}}/issues/new">{{.i18n.Tr "repo.issues.new"}}</a>
			</div>
		</div>
		<div class="ui divider"></div>
		<div class="ui left">
			<div class="ui tiny buttons">
			  <a class="ui green basic button {{if not .IsShowClosed}}active{{end}}" href="{{.RepoLink}}/issues?type={{$.ViewType}}&state=open&labels={{.SelectLabels}}">
			  	<i class="octicon octicon-issue-opened"></i>
			  	{{.i18n.Tr "repo.issues.open_tab" .IssueStats.OpenCount}}
			  </a>
			  <a class="ui red basic button {{if .IsShowClosed}}active{{end}}" href="{{.RepoLink}}/issues?type={{.ViewType}}&state=closed&labels={{.SelectLabels}}">
			  	<i class="octicon octicon-issue-closed"></i>
			  	{{.i18n.Tr "repo.issues.close_tab" .IssueStats.ClosedCount}}
			  </a>
			</div>
		</div>
		<div class="ui right floated secondary filter menu">
			<div class="ui {{if not .Labels}}disabled{{end}} pointing dropdown jump item">
				<span class="text">
					{{.i18n.Tr "repo.issues.filter_label"}}
					<i class="dropdown icon"></i>
				</span>
        <div class="menu">
        	<a class="item" href="{{$.RepoLink}}/issues?type={{$.ViewType}}&state={{$.State}}">{{.i18n.Tr "repo.issues.filter_label_no_select"}}</a>
        	{{range .Labels}}
        	<a class="item" href="{{$.RepoLink}}/issues?type={{$.ViewType}}&state={{$.State}}&labels={{.ID}}"><span class="octicon {{if eq $.SelectLabels .ID}}octicon-check{{end}}"></span><span class="label color" style="background-color: {{.Color}}"></span> {{.Name}}</a>
          {{end}}
				</div>
			</div>
			<!-- <div class="ui {{if not .Milestones}}disabled{{end}} pointing dropdown jump item">
				<span class="text">
					{{.i18n.Tr "repo.issues.filter_milestone"}}
					<i class="dropdown icon"></i>
				</span>
        <div class="menu">
        	{{range .Milestones}}
        	<a class="item" href="{{$.RepoLink}}/issues">{{.Name}}</a>
          {{end}}
				</div>
			</div> -->
			<!-- <div class="ui {{if not .Assignees}}disabled{{end}} pointing dropdown jump item">
				<span class="text">
					{{.i18n.Tr "repo.issues.filter_assignee"}}
					<i class="dropdown icon"></i>
				</span>
        <div class="menu">
        	{{range .Assignees}}
        	<a class="item" href="{{$.RepoLink}}/issues">{{.Name}}</a>
          {{end}}
				</div>
			</div> -->
			<div class="ui pointing dropdown type jump item">
				<span class="text">
					{{.i18n.Tr "repo.issues.filter_type"}}
					<i class="dropdown icon"></i>
				</span>
        <div class="menu">
        	<a class="{{if eq .ViewType "all"}}active{{end}} item" href="{{$.RepoLink}}/issues?type=all&state={{$.State}}&labels={{.SelectLabels}}">{{.i18n.Tr "repo.issues.filter_type.all_issues"}}</a>
        	<a class="{{if eq .ViewType "assigned"}}active{{end}} item" href="{{$.RepoLink}}/issues?type=assigned&state={{$.State}}&labels={{.SelectLabels}}">{{.i18n.Tr "repo.issues.filter_type.assigned_to_you"}}</a>
        	<a class="{{if eq .ViewType "created_by"}}active{{end}} item" href="{{$.RepoLink}}/issues?type=created_by&state={{$.State}}&labels={{.SelectLabels}}">{{.i18n.Tr "repo.issues.filter_type.created_by_you"}}</a>
        	<a class="{{if eq .ViewType "mentioned"}}active{{end}} item" href="{{$.RepoLink}}/issues?type=mentioned&state={{$.State}}&labels={{.SelectLabels}}">{{.i18n.Tr "repo.issues.filter_type.mentioning_you"}}</a>
				</div>
			</div>
		</div>

		<div class="issue list">
			{{range .Issues}}
			{{ $timeStr:= TimeSince .Created $.Lang }}
      <li class="item">
      	<div class="ui {{if .IsRead}}black{{else}}green{{end}} label">#{{.Index}}</div>
      	<a class="title" href="{{$.RepoLink}}/issues/{{.Index}}">{{.Name}}</a>

      	{{range .Labels}}
				<a class="ui label" href="{{$.RepoLink}}/issues?type={{$.ViewType}}&state={{$.State}}&labels={{.ID}}" style="background-color: {{.Color}}">{{.Name}}</a>
      	{{end}}

      	{{if .NumComments}}<span class="comment ui right"><i class="octicon octicon-comment"></i> {{.NumComments}}</span>{{end}}
        <p class="desc">{{$.i18n.Tr "repo.issues.opened_by" $timeStr .Poster.Name|Str2html}}</p>
      </li>
      {{end}}
			
			<div class="center page buttons">
			<a class="ui {{if not .PreviousPage}}disabled{{end}} blue button" href="{{.RepoLink}}/issues?page={{.PreviousPage}}">{{.i18n.Tr "repo.issues.previous"}}</a>
			<a class="ui {{if not .NextPage}}disabled{{end}} blue button" href="{{.RepoLink}}/issues?page={{.NextPage}}">{{.i18n.Tr "repo.issues.next"}}</a>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}