{{template "base/head" .}}
<div class="repository">
	{{template "repo/header" .}}
	<div class="ui middle page grid body">
		<div class="navbar">
			{{template "repo/issue/navbar" .}}
			<div class="ui right floated secondary menu">
				<a class="ui green button" href="{{$.RepoLink}}/milestones/new">{{.i18n.Tr "repo.milestones.new"}}</a>
			</div>
		</div>
		<div class="ui divider"></div>
		<div class="ui left">
			<div class="ui tiny buttons">
			  <a class="ui green basic button {{if not .IsShowClosed}}active{{end}}" href="{{.RepoLink}}/milestones?state=open">
			  	<i class="octicon octicon-milestone"></i>
			  	{{.i18n.Tr "repo.milestones.open_tab" .OpenCount}}
			  </a>
			  <a class="ui red basic button {{if .IsShowClosed}}active{{end}}" href="{{.RepoLink}}/milestones?state=closed">
			  	<i class="octicon octicon-milestone"></i>
			  	{{.i18n.Tr "repo.milestones.close_tab" .ClosedCount}}
			  </a>
			</div>
		</div>

		
		<div class="sixteen wide column">
			<div class="milestone list">
				{{range .Milestones}}
				<li class="item">
					<i class="octicon octicon-milestone"></i> <a href="{{$.RepoLink}}/issues?state={{$.State}}&midx={{.Index}}">{{.Name}}</a>
					<div class="ui right blue progress" data-percent="{{if .Completeness}}{{.Completeness}}{{else}}100{{end}}">
				    <div class="bar">
				      <div class="progress"></div>
				    </div>
					</div>
					<div class="meta">
						{{ $closedDate:= TimeSince .ClosedDate $.Lang }}
						{{if .IsClosed}}
						<span class="octicon octicon-clock"></span> {{$.i18n.Tr "repo.milestones.closed" $closedDate|Str2html}}
						{{else}}
						<span class="octicon octicon-calendar"></span> {{if .DeadlineString}}{{.DeadlineString}}{{else}}{{$.i18n.Tr "repo.milestones.no_due_date"}}{{end}}
						{{end}}
						<span class="issue-stats">
							<i class="octicon octicon-issue-opened"></i> {{$.i18n.Tr "repo.issues.open_tab" .NumOpenIssues}}
							<i class="octicon octicon-issue-closed"></i> {{$.i18n.Tr "repo.issues.close_tab" .NumClosedIssues}}
						</span>
					</div>
					{{if $.IsRepositoryAdmin}}
					<div class="ui right operate">
						<a href="{{$.RepoLink}}/milestones/{{.Index}}/edit" data-id={{.ID}} data-title={{.Name}}><i class="octicon octicon-pencil"></i> {{$.i18n.Tr "repo.issues.label_edit"}}</a>
						{{if .IsClosed}}
						<a href="{{$.RepoLink}}/milestones/{{.Index}}/open" data-id={{.ID}} data-title={{.Name}}><i class="octicon octicon-check"></i> {{$.i18n.Tr "repo.milestones.open"}}</a>
						{{else}}
						<a href="{{$.RepoLink}}/milestones/{{.Index}}/close" data-id={{.ID}} data-title={{.Name}}><i class="octicon octicon-x"></i> {{$.i18n.Tr "repo.milestones.close"}}</a>
						{{end}}
						<a class="delete-milestone-button" href="#" data-url="{{$.RepoLink}}/milestone/delete" data-id="{{.ID}}"><i class="octicon octicon-trashcan"></i> {{$.i18n.Tr "repo.issues.label_delete"}}</a>
					</div>
					{{if .Content}}
					<div class="content">
						{{.RenderedContent|Str2html}}
					</div>
					{{end}}
					{{end}}
				</li>
				{{end}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}