<form class="ui comment form grid" action="{{.Link}}" method="post">
  {{.CsrfTokenHtml}}
  {{if .Flash}}
	<div class="sixteen wide column">
  	{{template "base/alert" .}}
  </div>
  {{end}}
  <div class="twelve wide column">
		<div class="ui comments">
		  <div class="comment">
		    <a class="avatar" href="{{.SignedUser.HomeLink}}">
		      <img src="{{.SignedUser.AvatarLink}}">
		    </a>
		    <div class="ui segment content">
		      <div class="field">
		      	<input name="title" placeholder="{{.i18n.Tr "repo.milestones.title"}}" value="{{.title}}" autofocus required>
		      </div>
		      <div class="field">
			      <div class="ui top attached tabular menu">
			          <a class="active item" data-tab="write">{{.i18n.Tr "repo.release.write"}}</a>
			          <a class="item" data-tab="preview" data-url="/api/v1/markdown" data-context="{{.RepoLink}}">{{.i18n.Tr "repo.release.preview"}}</a>
			      </div>
			      <div class="ui bottom attached active tab segment" data-tab="write">
		          <textarea name="content"></textarea>
		        </div>
			      <div class="ui bottom attached tab segment markdown" data-tab="preview">
			         {{.i18n.Tr "repo.release.loading"}}
			      </div>
		      </div>
		      <div class="text right">
						<button class="ui green button">
							{{.i18n.Tr "repo.issues.create"}}
						</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>

	{{if .IsRepositoryAdmin}}
	<div class="four wide column">
		<div class="ui segment metas">
			<input id="label_ids" name="label_ids" type="hidden" value="{{.label_ids}}">
			<div class="ui {{if not .Labels}}disabled{{end}} jump select-label dropdown">
				<span class="text">
					<strong>{{.i18n.Tr "repo.issues.new.labels"}}</strong>
					<span class="octicon octicon-gear"></span>
				</span>
        <div class="filter menu" data-id="#label_ids">
        	<div class="no-select item">{{.i18n.Tr "repo.issues.new.clear_labels"}}</div>
        	{{range .Labels}}
        	<a class="{{if .IsChecked}}checked{{end}} item" href="#" data-id="{{.ID}}" data-id-selector="#label_{{.ID}}"><span class="octicon {{if .IsChecked}}octicon-check{{end}}"></span><span class="label color" style="background-color: {{.Color}}"></span> {{.Name}}</a>
          {{end}}
				</div>
			</div>
			<div class="ui labels list">
				<span class="no-select item {{if .HasSelectedLabel}}hide{{end}}">{{.i18n.Tr "repo.issues.new.no_label"}}</span>
      	{{range .Labels}}
      	<a class="{{if not .IsChecked}}hide{{end}} item" id="label_{{.ID}}" href="{{$.RepoLink}}/issues?labels={{.ID}}"><span class="label color" style="background-color: {{.Color}}"></span> <span class="text">{{.Name}}</span></a>
        {{end}}
			</div>

			<div class="ui divider"></div>

			<input id="milestone_id" name="milestone_id" type="hidden" value="{{.milestone_id}}">
			<div class="ui {{if not (or .OpenMilestones .ClosedMilestones)}}disabled{{end}} jump select-milestone dropdown">
				<span class="text">
					<strong>{{.i18n.Tr "repo.issues.new.milestone"}}</strong>
					<span class="octicon octicon-gear"></span>
				</span>
        <div class="menu">
        	<div class="no-select item">{{.i18n.Tr "repo.issues.new.clear_milestone"}}</div>
        	{{if .OpenMilestones}}
        	<div class="divider"></div>
        	<div class="header">
    	      <i class="octicon octicon-milestone"></i>
    	      {{.i18n.Tr "repo.issues.new.open_milestone"}}
    	    </div>
        	{{range .OpenMilestones}}
        	<div class="item" data-id="{{.ID}}" data-href="{{$.RepoLink}}/issues?milestone={{.ID}}"> {{.Name}}</div>
          {{end}}
    	    {{end}}
    	    {{if .ClosedMilestones}}
        	<div class="divider"></div>
        	<div class="header">
    	      <i class="octicon octicon-milestone"></i>
    	      {{.i18n.Tr "repo.issues.new.closed_milestone"}}
    	    </div>
        	{{range .ClosedMilestones}}
        	<a class="item" data-id="{{.ID}}" data-href="{{$.RepoLink}}/issues?milestone={{.ID}}"> {{.Name}}</a>
          {{end}}
        	{{end}}
				</div>
			</div>
			<div class="ui select-milestone list">
				<span class="no-select item {{if .Milestone}}hide{{end}}">{{.i18n.Tr "repo.issues.new.no_milestone"}}</span>
				<div class="selected">
					{{if .Milestone}}
					<a class="item" href="{{.RepoLink}}/issues?milestone={{.Milestone.ID}}"> {{.Milestone.Name}}</a>
					{{end}}
				</div>
			</div>

			<!-- <div class="ui divider"></div>

			<div class="ui {{if not .Assignees}}disabled{{end}} dropdown jump item">
				<span class="text">
					<strong>{{.i18n.Tr "repo.issues.new.assignee"}}</strong>
					<span class="octicon octicon-gear"></span>
				</span>
        <div class="menu">
        	<div class="item">{{.i18n.Tr "repo.issues.new.clear_assignee"}}</a>
        	{{range .Assignees}}
        	<a class="item" href="#"><span class="octicon {{if eq .ID $.AssigneeID}}octicon-check{{end}}"></span> {{.Name}}</a>
          {{end}}
				</div>
			</div>
			<div class="ui list">
				<span class="item">filter_label_no_select</span>
			</div> -->
		</div>
	</div>
	{{end}}
</form>