{{template "base/head" .}}
{{template "base/navbar" .}}
{{template "repo/nav" .}}
{{template "repo/toolbar" .}}
<div id="body" class="container">
    <div id="issue" data-id="{{.Issue.Id}}">
        <div id="issue-{{.Issue.Id}}" class="issue-whole issue-is-opening">
            <div class="issue-wrap col-md-10">
                <div class="issue-head clearfix">
                    <div class="number pull-right">#{{.Issue.Index}}</div>
                    <a class="author pull-left" href="/user/{{.Issue.Poster.Name}}"><img class="avatar" src="{{.Issue.Poster.AvatarLink}}" alt="" width="30"/></a>
                    <h1 class="title pull-left">{{.Issue.Name}}</h1>
                    <input id="issue-edit-title" class="form-control input-lg pull-left hidden" type="text" value="{{.Issue.Name}}" data-ajax-rel="issue-edit-save" data-ajax-val="val" data-ajax-field="title"/>
                    <input type="hidden" value="{{.Issue.Id}}" data-ajax-rel="issue-edit-save" data-ajax-val="val" data-ajax-field="issue_id"/>
                    <p class="info pull-left">
                        {{if .IsIssueOwner}}<a class="btn btn-default pull-right issue-edit" href="#" id="issue-edit-btn">Edit</a>
                        <a class="btn btn-danger pull-right issue-edit-cancel hidden" href="#">Cancel</a>
                        <a class="btn btn-primary pull-right issue-edit-save hidden" href="#" data-ajax="{{.RepoLink}}/issues/{{.Issue.Index}}" data-ajax-name="issue-edit-save" data-ajax-method="post">Save</a>{{end}}
                        <span class="status label label-{{if .Issue.IsClosed}}danger{{else}}success{{end}}">{{if .Issue.IsClosed}}Closed{{else}}Open{{end}}</span>
                        <a href="/user/{{.Issue.Poster.Name}}" class="author"><strong>{{.Issue.Poster.Name}}</strong></a> opened this issue
                        <span class="time">{{TimeSince .Issue.Created}}</span> · {{.Issue.NumComments}} comments
                    </p>
                </div>
                <div class="issue-main">
                    <div class="panel panel-default issue-content">
                        <div class="panel-body">
                            <div class="content markdown">
                                {{str2html .Issue.RenderedContent}}
                            </div>
                            <div class="issue-edit-content hidden">
                                <div class="form-group">
                                    <div class="md-help pull-right">Content with <a href="https://help.github.com/articles/markdown-basics">Markdown</a>
                                    </div>
                                    <ul class="nav nav-tabs" data-init="tabs">
                                        <li class="issue-write active"><a href="#issue-edit-textarea" data-toggle="tab">Write</a></li>
                                        <li class="issue-preview"><a href="#issue-edit-preview" data-toggle="tab" data-ajax="/api/v1/markdown" data-ajax-name="issue-edit-preview" data-ajax-context="{{.RepoLink}}" data-ajax-method="post" data-preview="#issue-edit-preview">Preview</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="issue-edit-textarea">
                                            <div class="form-group">
                                                <input type="hidden" value="1" name="issueIndex">
                                                <textarea class="form-control" name="content" id="issue-edit-content" rows="10" placeholder="Write some content" data-ajax-rel="issue-edit-preview" data-ajax-val="val" data-ajax-field="text">{{.Issue.Content}}</textarea>
                                            </div>
                                        </div>
                                        <div class="tab-pane issue-preview-content" id="issue-edit-preview">Loading...</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{range .Comments}}
                    {{if eq .Type 0}}
                    <div class="issue-child" id="issue-comment-{{.Id}}">
                        <a class="user pull-left" href="/user/{{.Poster.Name}}"><img class="avatar" src="{{.Poster.AvatarLink}}" alt=""/></a>
                        <div class="issue-content panel panel-default">
                            <div class="panel-heading">
                                <a href="/user/{{.Poster.Name}}" class="user">{{.Poster.Name}}</a> commented <span class="time">{{TimeSince .Created}}</span>
                                <!-- <a class="issue-comment-del pull-right issue-action" href="#" title="Edit Comment"><i class="fa fa-times-circle"></i></a>
                                <a class="issue-comment-edit pull-right issue-action" href="#" title="Remove Comment" data-url="{remove-link}"><i class="fa fa-edit"></i></a> -->
                                <span class="role label label-default pull-right">Owner</span>
                            </div>
                            <div class="panel-body markdown">
                                {{str2html .Content}}
                            </div>
                        </div>
                    </div>
                    {{else if eq .Type 1}}
                    <div class="issue-child issue-opened">
                        <a class="user pull-left" href="/user/{{.Poster.Name}}"><img class="avatar" src="{{.Poster.AvatarLink}}" alt="" /></a>
                        <div class="issue-content">
                            <a class="user pull-left" href="/user/{{.Poster.Name}}">{{.Poster.Name}}</a> <span class="label label-success">Reopened</span> this issue <span class="time">{{TimeSince .Created}}</span>
                        </div>
                    </div>
                    {{else if eq .Type 2}}
                    <div class="issue-child issue-closed">
                        <a class="user pull-left" href="/user/{{.Poster.Name}}"><img class="avatar" src="{{.Poster.AvatarLink}}" alt=""/></a>
                        <div class="issue-content">
                            <a class="user pull-left" href="/user/{{.Poster.Name}}">{{.Poster.Name}}</a> <span class="label label-danger">Closed</span> this issue <span class="time">{{TimeSince .Created}}</span>
                        </div>
                    </div>
                    {{end}}
                    {{end}}
                    <hr class="issue-line"/>
                    {{if .SignedUser}}<div class="issue-child issue-reply">
                    <a class="user pull-left" href="/user/{{.SignedUser.Name}}"><img class="avatar" src="{{.SignedUser.AvatarLink}}" alt=""/></a>
                    <form class="panel panel-default issue-content" action="{{.RepoLink}}/comment/new" method="post">
                        {{.CsrfTokenHtml}}
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="md-help pull-right">Content with <a href="https://help.github.com/articles/markdown-basics">Markdown</a>
                                </div>
                                <ul class="nav nav-tabs" data-init="tabs">
                                    <li class="active issue-write"><a href="#issue-textarea" data-toggle="tab">Write</a></li>
                                    <li class="issue-preview"><a href="#issue-preview" data-toggle="tab" data-ajax="/api/v1/markdown" data-ajax-name="issue-preview"  data-ajax-context="{{.RepoLink}}" data-ajax-method="post" data-preview="#issue-preview">Preview</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" id="issue-textarea">
                                        <div class="form-group">
                                            <input type="hidden" value="{{.Issue.Index}}" name="issueIndex"/>
                                            <textarea class="form-control" name="content" id="issue-reply-content" rows="10" placeholder="Write some content" data-ajax-rel="issue-preview" data-ajax-val="val" data-ajax-field="text">{{.content}}</textarea>
                                        </div>
                                    </div>
                                    <div class="tab-pane issue-preview-content" id="issue-preview">Loading...</div>
                                </div>
                            </div>
                            <div class="text-right">
                                <div class="form-group">
                                    {{if .IsIssueOwner}}{{if .Issue.IsClosed}}
                                    <input type="submit" class="btn-default btn issue-open" id="issue-open-btn" data-origin="Reopen" data-text="Reopen & Comment" name="change_status" value="Reopen"/>{{else}}
                                    <input type="submit" class="btn-default btn issue-close" id="issue-close-btn" data-origin="Close" data-text="Close & Comment" name="change_status" value="Close"/>{{end}}{{end}}&nbsp;&nbsp;
                                    <button class="btn-success btn" id="issue-reply-btn">Comment</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>{{else}}<div class="alert alert-warning"><a class="btn btn-success btn-lg" href="/user/sign_up">Sign up for free</a> to join this conversation. Already have an account? <a href="/user/login">Sign in to comment</a></div>{{end}}
                </div>
            </div>

            <div class="issue-bar col-md-2">
                <div class="labels" data-ajax="{{.Issue.Index}}/label">
                    {{if .IsRepositoryOwner}}
                    <div class="pull-right action">
                        <button class="btn btn-default btn-sm" data-toggle="dropdown">
                            <i class="fa fa-tags"></i>
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right no">
                            <ul class="list-unstyled">
                                {{range .Labels}}
                                <li class="{{if not .IsChecked}}no-{{end}}checked" data-id="{{.Id}}">
                                    {{if .IsChecked}}<span class="check pull-left"><i class="fa fa-check"></i></span>{{end}}
                                    <span class="color" style="background-color: {{.Color}}"></span>
                                    <span class="name">{{.Name}}</span>
                                </li>
                                {{end}}
                            </ul>
                        </div>
                    </div>
                    {{end}}
                    <h4>Labels</h4>
                    {{if .Issue.Labels}}
                    {{range .Issue.Labels}}
                    <p id="label-{{.Id}}" class="label-item label-white" style="background-color: {{.Color}}"><strong>{{.Name}}</strong></p>
                    {{end}}
                    {{else}}
                    <p>None yet</p>
                    {{end}}
                </div>
                <div class="milestone" data-milestone="{{.Milestone.Id}}" data-ajax="{{.Issue.Index}}/milestone">
                    <div class="pull-right action">
                        {{if .IsRepositoryOwner}}
                        <button class="btn btn-default btn-sm" data-toggle="dropdown">
                            <i class="fa fa-check-square-o"></i>
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="list-unstyled">
                                <li data-id="0" class="clear-milestone milestone-item  hidden"><i class="fa fa-times-circle-o"></i> Clear milestone </li>
                                <li class="milestone-list">
                                    <ul class="nav nav-tabs" data-init="tabs">
                                        <li class="active"><a href="#milestone-open" data-toggle="tab">Open</a></li>
                                        <li><a href="#milestone-close" data-toggle="tab">Closed</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="milestone-open">
                                            {{if not .OpenMilestones}}
                                            <p class="milestone-item">Nothing to show</p>
                                            {{else}}
                                            <ul class="list-unstyled">
                                                {{range .OpenMilestones}}
                                                <li class="milestone-item" data-id="{{.Id}}">
                                                    <p><strong>{{.Name}}</strong></p>
                                                    <!-- <p>due to 3 days later</p> -->
                                                </li>
                                                {{end}}
                                            </ul>
                                            {{end}}
                                        </div>

                                        <div class="tab-pane" id="milestone-close">
                                            {{if not .ClosedMilestones}}
                                            <p class="milestone-item">Nothing to show</p>
                                            {{else}}
                                            <ul class="list-unstyled">
                                                {{range .ClosedMilestones}}
                                                <li class="milestone-item" data-id="{{.Id}}">
                                                    <p><strong>{{.Name}}</strong></p>
                                                    <p>Closed {{TimeSince .ClosedDate}}</p>
                                                </li>
                                                {{end}}
                                            </ul>
                                            {{end}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {{end}}
                    </div>
                    <h4>Milestone</h4>
                    {{if .Milestone}}
                    <p class="completion{{if eq .Milestone.Completeness 0}} hidden{{end}}"><span style="width:{{.Milestone.Completeness}}%">&nbsp;</span></p>
                    <p class="name"><strong><a href="{{$.RepoLink}}/issues?milestone={{.Milestone.Index}}{{if $.Issue.IsClosed}}&state=closed{{end}}">{{.Milestone.Name}}</a></strong></p>
                    {{else}}
                    <p class="name">No milestone</p>
                    {{end}}
                </div>

                <div class="assignee" data-assigned="{{if .Issue.Assignee}}{{.Issue.Assignee.Id}}{{else}}0{{end}}" data-ajax="{{.Issue.Index}}/assignee">{{if .IsRepositoryOwner}}
                    <div class="pull-right action">
                        <button type="button" class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown">
                            <i class="fa fa-group"></i>
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="list-unstyled">
                                <li data-uid="0" class="clear-assignee hidden"><i class="fa fa-times-circle-o"></i> Clear assignee</li>
                                {{range .Collaborators}}
                                <li data-uid="{{.Id}}"><img src="{{.AvatarLink}}"><strong>{{.Name}}</strong></li>
                                {{end}}
                            </ul>
                        </div>
                    </div>{{end}}
                    <h4>Assignee</h4>
                    <p>{{if .Issue.Assignee}}<img src="{{.Issue.Assignee.AvatarLink}}"><strong>{{.Issue.Assignee.Name}}</strong>{{else}}No one assigned{{end}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "base/footer" .}}
