{{template "base/head" .}}
<div class="repository view issue">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="navbar">
			{{template "repo/issue/navbar" .}}
			<div class="ui right">
				<a class="ui green button" href="{{$.RepoLink}}/issues/new">{{.i18n.Tr "repo.issues.new"}}</a>
			</div>
		</div>
		<div class="ui divider"></div>
		{{template "repo/issue/view_content" .}}
	</div>
</div>
{{template "base/footer" .}}