{{template "base/head" .}}
<div class="repository file editor upload">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<form class="ui comment form" method="post">
			{{.CSRFTokenHTML}}
			<div class="ui secondary menu">
				<div class="item fitted treepath">
					<div class="ui breadcrumb field {{if .Err_TreePath}}error{{end}}">
						<a class="section" href="{{EscapePound $.BranchLink}}">{{.Repository.Name}}</a>
						{{ $n := len .TreeNames}}
						{{ $l := Subtract $n 1}}
						{{range $i, $v := .TreeNames}}
							<div class="divider"> / </div>
							{{if eq $i $l}}
								<input type="text" id="file-name" value="{{$v}}" placeholder="{{$.i18n.Tr "repo.editor.add_subdir"}}" autofocus>
								<span class="octicon octicon-info poping up" data-content="{{$.i18n.Tr "repo.editor.filename_help"}}" data-position="bottom center" data-variation="tiny inverted"></span>
							{{else}}
								<span class="section"><a href="{{EscapePound $.BranchLink}}/{{index $.TreePaths $i | EscapePound}}">{{$v}}</a></span>
							{{end}}
						{{end}}
						<span>{{.i18n.Tr "repo.editor.or"}} <a href="{{EscapePound $.BranchLink}}{{if not .IsNewFile}}/{{EscapePound .TreePath}}{{end}}">{{.i18n.Tr "repo.editor.cancel_lower"}}</a></span>
						<input type="hidden" id="tree_path" name="tree_path" value="{{.TreePath}}" required>
					</div>
				</div>
			</div>
			<div class="field">
				<div class="files"></div>
				<div class="ui basic button dropzone" id="dropzone" data-upload-url="{{.RepoLink}}/upload-file" data-remove-url="{{.RepoLink}}/upload-remove" data-csrf="{{.CSRFToken}}" data-accepts="{{.UploadAllowedTypes}}" data-max-file="{{.UploadMaxFiles}}" data-max-size="{{.UploadMaxSize}}" data-default-message="{{.i18n.Tr "dropzone.default_message"}}" data-invalid-input-type="{{.i18n.Tr "dropzone.invalid_input_type"}}" data-file-too-big="{{.i18n.Tr "dropzone.file_too_big"}}" data-remove-file="{{.i18n.Tr "dropzone.remove_file"}}"></div>
			</div>
			{{template "repo/editor/commit_form" .}}
		</form>
	</div>
</div>
{{template "base/footer" .}}
