{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="repo-wrapper">
    {{template "repo/header_old" .}}
    <div class="issue-main container repo-wide-wrapper">
        <ul id="issue-list-nav" class="menu menu-line">
            <li><a href="#">Issue</a></li>
            <li class="current"><a href="#">Pull Request</a></li>
            <li><a href="#">Labels</a></li>
            <li><a href="#">Milestones</a></li>
            <li class="right" id="issue-new"><a href="#"><button id="issue-new-btn" class="btn btn-green text-bold">New Pull Request</button></a></li>
            <li class="right"><a href="#">Filter</a></li>
        </ul>
        <div id="issue-list-container">
            <div id="issue-list-menu">
                <div class="left">
                    <span class="mark open hover"><a href="#">
                        <i class="octicon octicon-git-pull-request"></i> 88 Open
                    </a></span>
                    <span class="mark close"><a href="">
                        <i class="octicon octicon-issue-closed"></i> 12 Close
                    </a></span>
                </div>
                <div class="clear"></div>
            </div>
            <ul id="pull-list" class="list-no-style">
                <li class="item" id="pr-id">
                    <a class="comment" href="#">
                        <i class="octicon octicon-comment"></i> 7
                    </a>
                    <p class="title text-bold">
                        <i class="octicon octicon-git-pull-request"></i>
                        <a href="#" class="title-text">Delete account text and/or translations missing</a>
                    </p>
                    <p class="desc">opened 7 days ago by <a href="#">marcuspoehls</a></p>
                </li>
            </ul>
            <div id="issue-list-pager" class="pager text-center">
                <a class="prev invalid" href="#">Prev</a>
                <a class="page" href="#">1</a>
                <a class="page hover" href="#">2</a>
                <a class="page" href="#">3</a>
                <a class="next" href="#">Next</a>
            </div>
        </div>
    </div>
</div>
{{template "ng/base/footer" .}}