{{template "base/head" .}}
<div class="admin user">
	<div class="ui container">
		<div class="ui grid">
			{{template "admin/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "admin.orgs.org_manage_panel"}} ({{.i18n.Tr "admin.total" .Total}})
				</h4>
				<div class="ui attached segment">
					{{template "admin/base/search" .}}
				</div>
				<div class="ui attached table segment">
					<table class="ui very basic striped table">
						<thead>
							<tr>
								<th>ID</th>
								<th>{{.i18n.Tr "admin.orgs.name"}}</th>
								<th>{{.i18n.Tr "admin.orgs.teams"}}</th>
								<th>{{.i18n.Tr "admin.orgs.members"}}</th>
								<th>{{.i18n.Tr "admin.users.repos"}}</th>
								<th>{{.i18n.Tr "admin.users.created"}}</th>
								<th>{{.i18n.Tr "admin.users.edit"}}</th>
							</tr>
						</thead>
						<tbody>
							{{range .Users}}
								<tr>
									<td>{{.ID}}</td>
									<td><a href="{{.HomeLink}}">{{.Name}}</a></td>
									<td>{{.NumTeams}}</td>
									<td>{{.NumMembers}}</td>
									<td>{{.NumRepos}}</td>
									<td><span title="{{DateFmtLong .Created}}">{{DateFmtShort .Created}}</span></td>
									<td><a href="{{AppSubURL}}/org/{{.Name}}/settings"><i class="fa fa-pencil-square-o"></i></a></td>
								</tr>
							{{end}}
						</tbody>
					</table>
				</div>

				{{template "admin/base/page" .}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
