{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div class="org-header" id="org-home-header">
	<div class="container clear">
		<img class="avatar-100 left" src="{{.Org.AvatarLink}}?s=140"/>
		<div id="org-home-header-info">
			<h2>
				{{.Org.FullName}}
				{{if .IsOrganizationOwner}}<a class="text-grey" href="{{.OrgLink}}/settings"><span class="octicon octicon-gear"></span></a>{{end}}
			</h2>
			{{if .Org.Description}}<p>{{.Org.Description}}</p>{{end}}
      <ul class="text-grey">
        {{if .Org.Location}}<li><span class="octicon octicon-location"></span> <span>{{.Org.Location}}</span></li>{{end}}
        {{if .Org.Website}}<li><span class="octicon octicon-link"></span> <a target="_blank" href="{{.Org.Website}}">{{.Org.Website}}</a></li>{{end}}
        {{if and .Org.Email .IsSigned}}<li><span class="octicon octicon-mail"></span> <a href="mailto:{{.Org.Email}}">{{.Org.Email}}</a></li>{{end}}
      </ul>
		</div>
	</div>
</div>
<div class="container">
	{{$isMember := .Org.IsOrgMember $.SignedUser.Id}}
  <div id="org-home-repo-list" class="left grid-2-3">
    <div class="clear">
	  	{{if .IsOrganizationOwner}}
	     <a class="btn btn-green btn-large btn-link btn-radius right" href="{{AppSubUrl}}/repo/create?org={{.Org.Id}}"><i class="octicon octicon-repo-create"></i> {{.i18n.Tr "new_repo"}}</a>
	  	{{end}}
    </div>
    <div id="org-repo-list">
		{{range .Repos}}
			{{if or (not .IsPrivate) (.HasAccess $.SignedUser)}}
			<div class="org-repo-item">
        <ul class="org-repo-status right">
          <li><i class="octicon octicon-star"></i> {{.NumStars}}</li>
          <li><i class="octicon octicon-git-branch"></i> {{.NumForks}}</li>
        </ul>
				<h2><a href="{{AppSubUrl}}/{{$.Org.Name}}/{{.Name}}">{{.Name}}</a></h2>
				<p class="org-repo-description">{{.Description}}</p>
				<p class="org-repo-updated">{{$.i18n.Tr "org.repo_updated"}} {{TimeSince .Updated $.i18n.Lang}}</p>
			</div>
			{{end}}
		{{end}}
    </div>
  </div>
  <div class="grid-1-3 right">
  	<div class="org-sidebar">
    	<div class="panel panel-radius">
    		<div class="panel-header">
    			{{if $isMember}}
    			<a class="text-grey right" href="{{AppSubUrl}}/org/{{.Org.LowerName}}/members"><strong>{{.Org.NumMembers}}</strong><span class="octicon octicon-chevron-right"></span></a>
    			{{end}}
    			<strong>{{.i18n.Tr "org.people"}}</strong>
    		</div>
    		<div class="panel-body member-avatar-group">
    			{{range .Members}}
						{{if or $isMember (.IsPublicMember $.Org.Id)}}
	    			<a href="{{AppSubUrl}}/{{.Name}}" title="{{.Name}}"><img src="{{.AvatarLink}}"></a>
	    			{{end}}
    			{{end}}
    		</div>
    		{{if .IsOrganizationOwner}}
    		<div class="panel-footer">
    			<a class="btn btn-medium btn-blue btn-link btn-radius" href="{{AppSubUrl}}/org/{{.Org.LowerName}}/invitations/new">{{.i18n.Tr "org.invite_someone"}}</a>
    		</div>
    		{{end}}
    	</div>
    	{{if $isMember}}
    	<br>
    	<div class="panel panel-radius">
    		<div class="panel-header">
    			<a class="text-grey right" href="{{AppSubUrl}}/org/{{.Org.LowerName}}/teams"><strong>{{.Org.NumTeams}}</strong><span class="octicon octicon-chevron-right"></span></a>
    			<strong>{{.i18n.Tr "org.teams"}}</strong>
    		</div>
    		<div class="panel-body" id="org-home-team-list">
    			<ul>
	    			{{range .Teams}}
    				<li>
    					<a class="text-black" href="{{AppSubUrl}}/org/{{$.Org.LowerName}}/teams/{{.LowerName}}"><strong class="team-name">{{.Name}}</strong></a>
    					<p class="team-meta">{{.NumMembers}} {{$.i18n.Tr "org.lower_members"}} · {{.NumRepos}} {{$.i18n.Tr "org.lower_repositories"}}</p>
    				</li>
	    			{{end}}
    			</ul>
    		</div>
    		{{if .IsOrganizationOwner}}
    		<div class="panel-footer">
    			<a class="btn btn-medium btn-blue btn-link btn-radius" href="{{AppSubUrl}}/org/{{$.Org.LowerName}}/teams/new">{{.i18n.Tr "org.create_new_team"}}</a>
    		</div>
    		{{end}}
    	</div>
    	{{end}}
  	</div>
  </div>
</div>
{{template "ng/base/footer" .}}