{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="body-nav" class="org-nav org-nav-auto">
    <div class="container clearfix">
        <div id="org-nav-wrapper">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="#"><i class="fa fa-users"></i>Members
                    <span class="label label-default">5</span></a>
                </li>
                <li><a href="#"><i class="fa fa-tags"></i>Teams
                    <span class="label label-default">2</span></a>
                </li>
            </ul>
            <img class="pull-left org-small-logo" src="https://avatars3.githubusercontent.com/u/6656686?s=140" alt="" width="60"/>
            <div id="org-nav-info">
                <h2 class="org-name">Organization Name</h2>
            </div>
        </div>

    </div>
</div>
<div id="body" class="container">
    <div id="org">
        <div id="org-members">
            <div class="member">&nbsp;
                <div class="avatar col-md-1">
                    <img src="https://avatars3.githubusercontent.com/u/2142787?s=140" alt=""/>
                </div>
                <div class="name col-md-4">
                    <a href="#"><strong>fuxiaohei</strong><span class="nick">傅小黑</span></a>
                </div>
                <div class="role col-md-2 pull-right">
                    <strong>Member</strong>
                </div>
                <div class="status col-md-1 pull-right">
                    <strong>Public</strong>
                </div>
            </div>
            <div class="member">&nbsp;
                <div class="avatar col-md-1">
                    <img src="https://avatars3.githubusercontent.com/u/2142787?s=140" alt=""/>
                </div>
                <div class="name col-md-4">
                    <a href="#"><strong>fuxiaohei</strong><span class="nick">傅小黑</span></a>
                </div>
                <div class="role col-md-2 pull-right">
                    <strong><i class="fa fa-user"></i>Owner</strong>
                </div>
                <div class="status col-md-1 pull-right">
                    <i class="fa fa-lock"></i>Private
                </div>
            </div>
        </div>
    </div>
</div>
{{template "base/footer" .}}
