{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="body-nav" class="org-nav org-nav-auto">
    <div class="container clearfix">
        <div id="org-nav-wrapper">
            <ul class="nav nav-pills pull-right">
                <li><a href="#"><i class="fa fa-users"></i>Members
                    <span class="label label-default">5</span></a>
                </li>
                <li class="active"><a href="#"><i class="fa fa-tags"></i>Teams
                    <span class="label label-default">2</span></a>
                </li>
            </ul>
            <img class="pull-left org-small-logo" src="https://avatars3.githubusercontent.com/u/6656686?s=140" alt="" width="60"/>
            <div id="org-nav-info">
                <h2 class="org-name">Organization Name</h2>
            </div>
        </div>
    </div>
</div>
<div id="body" class="container">
    <div id="org">
        <div id="org-team">
            <div id="org-team-card" class="col-md-3">
                <h3 class="title">Team name</h3>
                <p class="desc">team description</p>
                <hr/>
                <div class="meta">
                    <div class="col-md-6">
                        <a href="#"><span class="num"><strong>1</strong></span>
                            <br/>Member</a>
                    </div>
                    <div class="col-md-6">
                        <a href="#"><span class="num"><strong>1</strong></span>
                            <br/>Repository</a>
                    </div>
                </div>
                <hr style="width: 100%"/>
                <div class="action">
                    <a href="#">
                        <button class="btn btn-danger">Leave</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-success">Edit</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-default">Setting</button>
                    </a>
                </div>
                <hr/>
                <p>This team grants <strong>Push, Read & Clone</strong> access: members can read from and push to the team's repositories.</p>
            </div>
            <div id="org-team-content" class="col-md-9">
                <div class="header">
                    <div class="header-tab col-md-4">
                        <div class="btn-group">
                            <a class="btn btn-primary" href="#">Members</a>
                            <a class="btn btn-default" href="#">Repositories</a>
                        </div>
                    </div>
                    <form id="org-team-add-user-form" action="url" class="col-md-4 pull-right open" method="post">
                        <input type="text" class="form-control" name="user" placeholder="add user to teams" id="org-team-add-user"/>
                        <div class="dropdown-menu">
                            <ul class="list-unstyled"></ul>
                        </div>
                        <input type="hidden" name="team" value="team-id"/>
                    </form>
                </div>
                <div class="content" id="org-team-members">
                    <div class="member">&nbsp;
                        <div class="avatar col-md-1">
                            <img src="https://avatars3.githubusercontent.com/u/2142787?s=140" alt="">
                        </div>
                        <div class="name col-md-4">
                            <a href="#"><strong>fuxiaohei</strong><span class="nick">傅小黑</span></a>
                        </div>
                        <a class="remove btn btn-danger pull-right" href="#">Remove</a>
                    </div>
                </div>
                <!---------------------- for ?member or ?repo ---------->
                <div class="header">
                    <div class="header-tab col-md-4">
                        <div class="btn-group">
                            <a class="btn btn-default" href="#">Members</a>
                            <a class="btn btn-primary" href="#">Repositories</a>
                        </div>
                    </div>
                    <form id="org-team-add-repo-form" action="url" class="col-md-4 pull-right open" method="post">
                        <input type="text" class="form-control" name="repo" placeholder="add repository to teams" id="org-team-add-repo"/>
                        <div class="dropdown-menu">
                            <ul class="list-unstyled"></ul>
                        </div>
                        <input type="hidden" name="team" value="team-id"/>
                    </form>
                </div>
                <div class="content" id="org-team-repos">
                    <div class="repo">
                        <a href="#" class="repo-name"><i class="fa fa-book"></i> repo-name</a>
                        <a class="remove btn btn-danger pull-right" href="#">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "base/footer" .}}
