{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="body-nav" class="org-nav org-nav-auto">
    <div class="container clearfix">
        <div id="org-nav-wrapper">
            <ul class="nav nav-pills pull-right">
                <li><a href="/org/{{.Org.Name}}/members"><i class="fa fa-users"></i>Members
                    <span class="label label-default">{{.Org.NumMembers}}</span></a>
                </li>
                <li class="active"><a href="/org/{{.Org.Name}}/teams"><i class="fa fa-tags"></i>Teams
                    <span class="label label-default">{{.Org.NumTeams}}</span></a>
                </li>
            </ul>
            <img class="pull-left org-small-logo" src="{{.Org.AvatarLink}}?s=140" alt="" width="60"/>
            <div id="org-nav-info">
                <h2 class="org-name">{{.Org.FullName}}</h2>
            </div>
        </div>
    </div>
</div>

<div id="body" class="container">
    <div id="org">
        <form action="/org/{{.Org.Name}}/teams/new" method="post" id="org-teams-create" class="form-horizontal card">
            {{.CsrfTokenHtml}}
            <h3>Create new team</h3>
            {{template "base/alert" .}}
            <div class="form-group{{if .Err_TeamName}} has-error has-feedback{{end}}">
                <label class="col-md-2 control-label">Team Name<strong class="text-danger">*</strong></label>
                <div class="col-md-8">
                    <input name="name" type="text" class="form-control" placeholder="Type your team name" value="{{.name}}" required="required">
                    <span class="help-block">You'll use this name to mention this team in conversations.</span>
                </div>
            </div>

            <div class="form-group{{if .Err_Description}} has-error has-feedback{{end}}">
                <label class="col-md-2 control-label">Description</label>
                <div class="col-md-8">
                    <input name="desc" type="text" class="form-control" placeholder="Type your team description (optional)" value="{{.desc}}">
                </div>
            </div>

            <div class="form-group{{if .Err_Permission}} has-error has-feedback{{end}}">
                <label class="col-md-2 control-label">Permission</label>
                <div class="col-md-8">
                    <div class="radio">
                        <label>
                            <input type="radio" name="permission" value="read" checked="">
                            <strong>Read Access</strong>
                        </label>
                        <p>This team will be able to view and clone its repositories.</p>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="permission" value="write">
                            <strong>Write Access</strong>
                        </label>
                        <p>This team will be able to read its repositories, as well as push to them.</p>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="permission" value="admin">
                            <strong>Admin Access</strong>
                        </label>
                        <p>This team will be able to push/pull to its repositories, as well as add other collaborators to them.</p>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <label class="col-md-2">&nbsp;</label>
                <div class="col-md-8">
                    <button class="btn btn-primary">Create team</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{template "base/footer" .}}
