{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="body" class="container" data-page="user">
    {{template "user/setting_nav" .}}
    <div id="repo-setting-container" class="col-md-10">
        {{template "base/alert" .}}
        <div class="panel panel-warning">
            <div class="panel-heading">
                Delete Account
            </div>

            <div class="panel-body">
                {{if not .Flash.ErrorMsg}}<p class="alert alert-danger">The operation will delete your account permanently. Sorry to see you go, but we know you'll back soon.</p>{{end}}
                <div class="form-group">
                    <button type="submit" class="btn btn-danger btn-lg" href="#delete-account-modal" id="delete-account" data-toggle="modal">Delete Account</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="/user/delete" method="post" class="modal-content" id="user-delete">
                {{.CsrfTokenHtml}}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Delete Account</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Make sure your are owner of this account. Please enter your password.<strong class="text-danger">*</strong></label>
                        <input name="password" class="form-control" type="password" placeholder="Type your account password" required="required">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{template "base/footer" .}}