{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="gogs-body" class="container">
    <div id="gogs-user-setting-nav" class="col-md-3">
        <h4>Account Setting</h4>
        <ul class="list-group">
            <li class="list-group-item"><a href="/user/setting">Account Profile</a></li>
            <li class="list-group-item list-group-item-success"><a href="/user/setting/email_password">Emails and Password</a></li>
            <li class="list-group-item"><a href="/user/setting/notification">Notifications</a></li>
            <li class="list-group-item"><a href="/user/setting/ssh/">SSH Keys</a></li>
            <li class="list-group-item"><a href="/user/setting/security">Security</a></li>
            <li class="list-group-item"><a href="/user/delete">Delete Account</a></li>
        </ul>
    </div>
    <div id="gogs-user-setting-container" class="col-md-9">
        <div id="gogs-setting-email">
            <h4>Email</h4>
            <p><strong>Your Primary Email</strong> will be used for Account related notifications as well as any web based operations, such as edits and merges made via the web.</p>
            <p>// TODO</p><br/>
        </div>
        <div id="gogs-setting-pwd">
            <h4>Password</h4>
            <form class="form-horizontal" id="gogs-password-form" method="post" action="/user/setting/update_passwd">{{if .IsPwdSuccess}}
                <p class="alert alert-success">Password is changed successfully. You can sign in via new password.</p>{{end}}
                <div class="form-group">
                    <label class="col-md-2 control-label">Old Password<strong class="text-danger">*</strong></label>
                    <div class="col-md-8">
                        <input type="password" name="oldpasswd" class="form-control" placeholder="Type your current password" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">New Password<strong class="text-danger">*</strong></label>
                    <div class="col-md-8">
                        <input type="password" name="newpasswd" class="form-control" placeholder="Type your new password" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Re-Type<strong class="text-danger">*</strong></label>
                    <div class="col-md-8">
                        <input type="password" name="re-type" class="form-control" placeholder="Re-type your new password" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button type="submit" class="btn btn-primary">Change Password</button>&nbsp;&nbsp;
                        <a href="/forget-password/">Forget Password ?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{template "base/footer" .}}