{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="body-nav">
    <div class="container">
        <ul class="nav nav-pills pull-right">
            <li><a href="/">News Feed</a></li>
            <li class="active"><a href="/issues">Issues</a></li>
            <!-- <li><a href="/pulls">Pull Requests</a></li>
            <li><a href="/stars">Stars</a></li> -->
        </ul>
        <h3>Your Issues</h3>
    </div>
</div>

<div id="body" class="container" data-page="user">
    {{if .HasInfo}}<div class="alert alert-info">{{.InfoMsg}}</div>{{end}}
    <div id="issue">
        <div class="col-md-3 filter-list">
            <ul class="list-unstyled">
                <li><a href="/issues?state={{.State}}&repoid={{.RepoId}}"{{if eq .ViewType "all"}} class="active"{{end}}>In your repositories <strong class="pull-right">{{.IssueStats.AllCount}}</strong></a></li>
                <li><a href="/issues?type=assigned&repoid={{.RepoId}}&state={{.State}}"{{if eq .ViewType "assigned"}} class="active"{{end}}>Assigned to you <strong class="pull-right">{{.IssueStats.AssignCount}}</strong></a></li>
                <li><a href="/issues?type=created_by&repoid={{.RepoId}}&state={{.State}}"{{if eq .ViewType "created_by"}} class="active"{{end}}>Created by you <strong class="pull-right">{{.IssueStats.CreateCount}}</strong></a></li>
                <li><hr/></li>
                {{range .Repos}}
                <li><a href="/issues?type={{$.ViewType}}{{if eq $.RepoId .Id}}{{else}}&repoid={{.Id}}{{end}}&state={{$.State}}" class="sm{{if eq $.RepoId .Id}} active{{end}}">{{$.SignedUser.Name}}/{{.Name}} <strong class="pull-right">{{if $.IsShowClosed}}{{.NumClosedIssues}}{{else}}{{.NumOpenIssues}}{{end}}</strong></a></li>
                {{end}}
            </ul>
        </div>
        <div class="col-md-9">
            <div class="filter-option">
                <div class="btn-group">
                    <a class="btn btn-default issue-open{{if not .IsShowClosed}} active{{end}}" href="/issues?type={{.ViewType}}&repoid={{.RepoId}}">Open</a>
                    <a class="btn btn-default issue-close{{if .IsShowClosed}} active{{end}}" href="/issues?type={{.ViewType}}&repoid={{.RepoId}}&state=closed">Closed</a>
                </div>
            </div>
            <div class="issues list-group">
                {{range .Issues}}{{if .}}
                <div class="list-group-item issue-item" id="issue-{{.Id}}">
                    <span class="number pull-right">#{{.Index}}</span>
                    <h5 class="title"><a href="/{{.Repo.Owner.Name}}/{{.Repo.Name}}/issues/{{.Index}}">{{.Name}}</a></h5>
                    <p class="info">
                        <span class="author"><img class="avatar" src="{{.Poster.AvatarLink}}" alt="" width="20"/>
                        <a href="/user/{{.Poster.Name}}">{{.Poster.Name}}</a></span>
                        <span class="time">{{TimeSince .Created}}</span>
                        <span class="comment"><i class="fa fa-comments"></i> {{.NumComments}}</span>
                    </p>
                </div>
                {{end}}{{end}}
            </div>
        </div>
    </div>
</div>
{{template "base/footer" .}}