{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
{{template "user/dashboard/nav" .}}
<div id="dashboard-wrapper">
	<div id="dashboard" class="container" data-page="user">
		{{if .HasInfo}}<div class="alert alert-info">{{.InfoMsg}}</div>{{end}}
		<div id="issue">
		    <div class="left grid-1-5 filter-list">
		        <ul class="list-unstyled menu menu-vertical">
		            <li><a href="{{AppSubUrl}}/issues?state={{.State}}&repoid={{.RepoId}}" class="radius{{if eq .ViewType "all"}} active{{end}}" >In your repositories <strong class="pull-right">{{.IssueStats.AllCount}}</strong></a></li>
		            <li><a href="{{AppSubUrl}}/issues?type=assigned&repoid={{.RepoId}}&state={{.State}}" class="radius{{if eq .ViewType "assigned"}} active{{end}}">Assigned to you <strong class="pull-right">{{.IssueStats.AssignCount}}</strong></a></li>
		            <li><a href="{{AppSubUrl}}/issues?type=created_by&repoid={{.RepoId}}&state={{.State}}" class="radius{{if eq .ViewType "created_by"}} active{{end}}">Created by you <strong class="pull-right">{{.IssueStats.CreateCount}}</strong></a></li>
		            <li><hr/></li>
		            {{range .Repos}}
		            <li><a href="{{AppSubUrl}}/issues?type={{$.ViewType}}{{if eq $.RepoId .ID}}{{else}}&repoid={{.ID}}{{end}}&state={{$.State}}" class="radius{{if eq $.RepoId .ID}} active{{end}}">{{$.SignedUser.Name}}/{{.Name}} <strong class="pull-right">{{if $.IsShowClosed}}{{.NumClosedIssues}}{{else}}{{.NumOpenIssues}}{{end}}</strong></a></li>
		            {{end}}
		        </ul>
		    </div>
		    <div class="right grid-3-4">
		        <div class="filter-option">
		            <div class="btn-group">
		                <a class="btn btn-white btn-small issue-open{{if not .IsShowClosed}} active{{end}}" href="{{AppSubUrl}}/issues?type={{.ViewType}}&repoid={{.RepoId}}">Open</a>
		                <a class="btn btn-white btn-small issue-close{{if .IsShowClosed}} active{{end}}" href="{{AppSubUrl}}/issues?type={{.ViewType}}&repoid={{.RepoId}}&state=closed">Closed</a>
		            </div>
		        </div>
		        <div class="issues list-group">
		            {{range .Issues}}{{if .}}
		            <div class="list-group-item issue-item" id="issue-{{.ID}}" onclick="window.location.href='{{AppSubUrl}}/{{.Repo.Owner.Name}}/{{.Repo.Name}}/issues/{{.Index}}'">
		                <span class="number pull-right">#{{.Index}}</span>
		                <h5 class="title"><a href="{{AppSubUrl}}/{{.Repo.Owner.Name}}/{{.Repo.Name}}/issues/{{.Index}}">{{.Name}}</a></h5>
		                <p class="info">
		                    <span class="author"><img class="avatar" src="{{.Poster.AvatarLink}}" alt="" width="20"/>
		                    <a href="{{AppSubUrl}}/{{.Poster.Name}}">{{.Poster.Name}}</a></span>
		                    <span class="time">{{TimeSince .Created $.Lang}}</span>
		                    <span class="comment"><i class="fa fa-comments"></i> {{.NumComments}}</span>
		                </p>
		            </div>
		            {{end}}{{end}}
		        </div>
		    </div>
		</div>
	</div>
</div>
{{template "ng/base/footer" .}}
