{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="body" class="container" data-page="user">
    {{template "user/setting_nav" .}}
    <div id="user-setting-container" class="col-md-9">
        <h4>Notification</h4>
    </div>
</div>
{{template "base/footer" .}}