{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="body" class="container" data-page="user">
    {{template "user/setting_nav" .}}
    <div id="user-setting-container" class="col-md-9">
        <div id="setting-pwd">
            <h4>Password</h4>
            <form class="form-horizontal" id="password-form" method="post" action="/user/setting/password">
                {{.CsrfTokenHtml}}
                {{template "base/alert" .}}
                <div class="form-group">
                    <label class="col-md-3 control-label">Old Password<strong class="text-danger">*</strong></label>
                    <div class="col-md-7">
                        <input type="password" name="oldpasswd" class="form-control" placeholder="Type your current password" required="required">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">New Password<strong class="text-danger">*</strong></label>
                    <div class="col-md-7">
                        <input type="password" name="newpasswd" class="form-control" placeholder="Type your new password" required="required">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Re-Type<strong class="text-danger">*</strong></label>
                    <div class="col-md-7">
                        <input type="password" name="retypepasswd" class="form-control" placeholder="Re-type your new password" required="required">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-7">
                        <button type="submit" class="btn btn-primary">Change Password</button>&nbsp;&nbsp;
                        <a href="/user/forget_password/">Forgot your password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{template "base/footer" .}}