{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="body" class="container" data-page="user">
    {{template "user/setting_nav" .}}
    <div id="user-setting-container" class="col-md-9">
        <div id="setting-pwd">
            <h4>Account Profile</h4>
            <form class="form-horizontal" id="password-form" method="post" action="/user/setting">
                {{.CsrfTokenHtml}}
                {{template "base/alert" .}}
                <p>Your Email address is public and will be used for any account related notifications, and any web based operations made via the site.</p>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="user-setting-username">Username<strong class="text-danger">*</strong></label>
                    <div class="col-md-8">
                        <input name="username" class="form-control" placeholder="Type your user name" required="required" value="{{.SignedUser.Name}}" title="{{.SignedUser.Name}}" id="user-setting-username">
                        <p class="help-block hidden"><span class="text-danger">Cautious : </span>your username is changing !</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Email<strong class="text-danger">*</strong></label>
                    <div class="col-md-8">
                        <input name="email" class="form-control" placeholder="Type your e-mail address" required="required" value="{{.SignedUser.Email}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Website</label>
                    <div class="col-md-8">
                        <input name="website" class="form-control" placeholder="Type your website URL" value="{{.SignedUser.Website}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Location</label>
                    <div class="col-md-8">
                        <input name="location" class="form-control" placeholder="Type your current location" value="{{.SignedUser.Location}}">
                    </div>
                </div>

                <div class="form-group {{if .Err_Avatar}}has-error has-feedback{{end}}">
                    <label class="col-md-2 control-label">Gravatar Email<strong class="text-danger">*</strong></label>
                    <div class="col-md-8">
                        <input name="avatar" class="form-control" placeholder="Type your Gravatar e-mail address" required="required" value="{{.SignedUser.AvatarEmail}}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button type="submit" class="btn btn-primary">Update Profile</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{template "base/footer" .}}
