{{template "base/head" .}}
{{template "base/navbar" .}}
<div id="gogs-body" class="container" data-page="user">
    {{template "user/setting_nav" .}}
    <div id="gogs-user-setting-container" class="col-md-9">
        <div id="gogs-setting-pwd">
            <h4>Account Profile</h4>
            <form class="form-horizontal" id="gogs-password-form" method="post" action="/user/setting">{{if .IsSuccess}}
                <p class="alert alert-success">Your profile has been successfully updated.</p>{{else if .HasError}}<p class="alert alert-danger form-error">{{.ErrorMsg}}</p>{{end}}
                <p>Your Email will be public and used for Account related notifications and any web based operations made via the web.</p>
                <div class="form-group">
                    <label class="col-md-2 control-label">Email</label>
                    <div class="col-md-8">
                        <input type="text" name="email" class="form-control" placeholder="Type your e-mail address" value="{{.Owner.Email}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Website</label>
                    <div class="col-md-8">
                        <input type="text" name="website" class="form-control" placeholder="Type your website URL" value="{{.Owner.Website}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Location</label>
                    <div class="col-md-8">
                        <input type="text" name="location" class="form-control" placeholder="Type your current location" value="{{.Owner.Location}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Gravatar Email<strong class="text-danger">*</strong></label>
                    <div class="col-md-8">
                        <input type="text" name="avatar" class="form-control" placeholder="Type your Gravatar e-mail address" required="required" value="{{.Owner.AvatarEmail}}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button type="submit" class="btn btn-primary">Update Profile</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{template "base/footer" .}}