{{template "base/head" .}}
{{template "base/navbar" .}}
<div class="container" id="body">
	<form action="/user/sign_up" method="post" class="form-horizontal card" id="login-card">
		{{.CsrfTokenHtml}}
		{{if .DisableRegistration}}
		Sorry, registration has been disabled. Please contact the site administrator.
		{{else}}
		{{if .IsSocialLogin}}
		<h3>Social login: 2nd step <small>complete information</small></h3>
		{{else}}
		<h3>Sign Up</h3>
		{{end}}
	    {{template "base/alert" .}}
		<div class="form-group {{if .Err_UserName}}has-error has-feedback{{end}}">
			<label class="col-md-4 control-label">Username: </label>
			<div class="col-md-6">
				<input name="username" class="form-control" placeholder="Type your username" value="{{.username}}" required="required">
			</div>
		</div>
		<div class="form-group {{if .Err_Email}}has-error has-feedback{{end}}">
			<label class="col-md-4 control-label">Email: </label>
			<div class="col-md-6">
				<input name="email" class="form-control" placeholder="Type your e-mail address" value="{{.email}}" required="required">
			</div>
		</div>

		<div class="form-group {{if .Err_Password}}has-error has-feedback{{end}}">
			<label class="col-md-4 control-label">Password: </label>
			<div class="col-md-6">
				<input name="passwd" type="password" class="form-control" placeholder="Type your password" required="required">
			</div>
		</div>

		<div class="form-group {{if .Err_RetypePasswd}}has-error has-feedback{{end}}">
			<label class="col-md-4 control-label">Re-type: </label>
			<div class="col-md-6">
				<input name="retypepasswd" type="password" class="form-control" placeholder="Re-type your password" required="required">
			</div>
		</div>

		<div class="form-group">
		    <div class="col-md-offset-4 col-md-6">
		    	<button type="submit" class="btn btn-lg btn-primary">Create an account</button>
		    </div>
		</div>
		
	    <div class="form-group">
            <div class="col-md-offset-4 col-md-6">
			{{if .IsSocialLogin}}
                <a href="/user/login">Already have an account? Bind now!</a>
			{{else}}
                <a href="/user/login">Already have an account? Sign in now!</a>
			{{end}}
            </div>
	    </div>
	    {{end}}
	</form>
</div>
{{template "base/footer" .}}
