{{template "base/head" .}}
<div class="repository compare pull diff">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="sixteen wide column page grid">
			<h2 class="ui header">
				{{.i18n.Tr "repo.pulls.compare_changes"}}
				<div class="sub header">{{.i18n.Tr "repo.pulls.compare_changes_desc"}}</div>
			</h2>
			<div class="ui segment choose branch">
				<span class="octicon octicon-git-compare"></span>
				<div class="ui floating filter dropdown" data-no-results="{{.i18n.Tr "repo.pulls.no_results"}}">
					<div class="ui basic small button">
						<span class="text">{{.i18n.Tr "repo.pulls.compare_base"}}: {{$.BaseBranch}}</span>
						<i class="dropdown icon"></i>
					</div>
					<div class="menu">
						<div class="ui icon search input">
							<i class="filter icon"></i>
							<input name="search" placeholder="{{.i18n.Tr "repo.pulls.filter_branch"}}...">
						</div>
						<div class="scrolling menu">
							{{range .Branches}}
								<div class="item {{if eq $.BaseBranch .}}selected{{end}}" data-url="{{$.RepoLink}}/compare/{{EscapePound .}}...{{if not $.PullRequestCtx.SameRepo}}{{$.HeadUser.Name}}:{{end}}{{EscapePound $.HeadBranch}}">{{.}}</div>
							{{end}}
						</div>
					</div>
				</div>
				...
				<div class="ui floating filter dropdown">
					<div class="ui basic small button">
						<span class="text">{{.i18n.Tr "repo.pulls.compare_compare"}}: {{$.HeadBranch}}</span>
						<i class="dropdown icon"></i>
					</div>
					<div class="menu">
						<div class="ui icon search input">
							<i class="filter icon"></i>
							<input name="search" placeholder="{{.i18n.Tr "repo.pulls.filter_branch"}}...">
						</div>
						<div class="scrolling menu">
							{{range .HeadBranches}}
								<div class="{{if eq $.HeadBranch .}}selected{{end}} item" data-url="{{$.RepoLink}}/compare/{{EscapePound $.BaseBranch}}...{{if not $.PullRequestCtx.SameRepo}}{{$.HeadUser.Name}}:{{end}}{{EscapePound .}}">{{.}}</div>
							{{end}}
						</div>
					</div>
				</div>
			</div>

			{{if .IsNothingToCompare}}
				<div class="ui segment">
					{{.i18n.Tr "repo.pulls.nothing_to_compare"}}
				</div>
			{{else if .IsNoMergeBase}}
				<div class="ui segment">
					{{.i18n.Tr "repo.pulls.nothing_merge_base"}}
				</div>
			{{else if .HasPullRequest}}
				<div class="ui segment">
					{{.i18n.Tr "repo.pulls.has_pull_request" $.RepoLink $.RepoRelPath .PullRequest.Index | Safe}}
				</div>
			{{else}}
				{{template "repo/issue/new_form" .}}
				{{template "repo/commits_table" .}}
				{{template "repo/diff/box" .}}
			{{end}}
		</div>

	</div>
</div>
{{template "base/footer" .}}
