{{template "base/head" .}}
<div class="repository view issue pull files diff">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="navbar">
			{{template "repo/issue/navbar" .}}
			<div class="ui right">
				<a class="ui green button {{if not .PullRequestCtx.Allowed}}disabled{{end}}" href="{{.RepoLink}}/compare/{{.BranchName}}...{{.PullRequestCtx.HeadInfo}}">{{.i18n.Tr "repo.pulls.new"}}</a>
			</div>
		</div>
		<div class="ui divider"></div>
		{{template "repo/issue/view_title" .}}
		{{template "repo/pulls/tab_menu" .}}
		<div class="ui bottom attached tab pull segment active">
			{{template "repo/diff/box" .}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
