{{template "base/head" .}}
<div class="repository new fork">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form" action="{{.Link}}" method="post">
				{{.CSRFTokenHTML}}
				<h3 class="ui top attached header">
					{{.i18n.Tr "new_fork"}}
				</h3>
				<div class="ui attached segment">
					{{template "base/alert" .}}
					<div class="inline required field {{if .Err_Owner}}error{{end}}">
						<label>{{.i18n.Tr "repo.owner"}}</label>
						<div class="ui selection owner dropdown">
							<input type="hidden" id="user_id" name="user_id" value="{{.ContextUser.ID}}" required>
							<span class="text">
								<img class="ui mini image" src="{{.ContextUser.RelAvatarLink}}">
								{{.ContextUser.ShortName 20}}
							</span>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" data-value="{{.LoggedUser.ID}}">
									<img class="ui mini image" src="{{.LoggedUser.RelAvatarLink}}">
									{{.LoggedUser.ShortName 20}}
								</div>
								{{range .Orgs}}
									{{if .IsOwnedBy $.LoggedUser.ID}}
										<div class="item" data-value="{{.ID}}">
											<img class="ui mini image" src="{{.RelAvatarLink}}">
											{{.ShortName 20}}
										</div>
									{{end}}
								{{end}}
							</div>
						</div>
					</div>

					<div class="inline field">
						<label>{{.i18n.Tr "repo.fork_from"}}</label>
						<a href="{{AppSubURL}}/{{.ForkFrom}}">{{.ForkFrom}}</a>
					</div>
					<div class="inline required field {{if .Err_RepoName}}error{{end}}">
						<label for="repo_name">{{.i18n.Tr "repo.repo_name"}}</label>
						<input id="repo_name" name="repo_name" value="{{.repo_name}}" required>
					</div>
					<div class="inline field">
						<label>{{.i18n.Tr "repo.visibility"}}</label>
						<div class="ui read-only checkbox">
							<input type="checkbox" {{if .IsPrivate}}checked{{end}}>
							<label>{{.i18n.Tr "repo.visiblity_helper" | Safe}}</label>
						</div>
						<span class="help">{{.i18n.Tr "repo.fork_visiblity_helper"}}</span>
					</div>
					<div class="inline field {{if .Err_Description}}error{{end}}">
						<label for="description">{{.i18n.Tr "repo.repo_desc"}}</label>
						<textarea id="description" name="description">{{.description}}</textarea>
					</div>

					<div class="inline field">
						<label></label>
						<button class="ui green button">
							{{.i18n.Tr "repo.fork_repo"}}
						</button>
						<a class="ui button" href="{{AppSubURL}}/{{.ForkFrom}}">{{.i18n.Tr "cancel"}}</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
