{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
{{template "org/base/header" .}}
<div id="repo-wrapper">
    <form id="team-create-form" class="form form-align panel panel-radius" action="{{if .PageIsOrgTeamsNew}}{{.OrgLink}}/teams/new{{else}}{{.OrgLink}}/teams/{{.Team.LowerName}}/edit{{end}}" data-delete-url="{{.OrgLink}}/teams/{{.Team.LowerName}}/delete" method="post">
        {{.CsrfTokenHtml}}
        <div class="panel-header">
            <h2>
                {{if .PageIsOrgTeamsNew}}{{.i18n.Tr "org.create_new_team"}}{{else}}{{.i18n.Tr "org.teams.settings"}}{{end}}
            </h2>
        </div>
        <div class="panel-content">
            {{template "ng/base/alert" .}}
            <div class="field">
                <label class="req" for="team-name">{{.i18n.Tr "org.team_name"}}</label>
                {{if eq .Team.LowerName "owners"}}
                <input type="hidden" name="team_name" value="{{.team_name}}">
                {{end}}
                <input class="ipt ipt-large ipt-radius {{if .Err_TeamName}}ipt-error{{end}}" id="team-name" name="team_name" value="{{.team_name}}" required {{if eq .Team.LowerName "owners"}}disabled{{end}} />
                <span class="form-label"></span>
                <span class="help">{{.i18n.Tr "org.team_name_helper"}}</span>
            </div>
            <div class="field">
                <label for="desc">{{.i18n.Tr "org.team_desc"}}</label>
                <input class="ipt ipt-large ipt-radius {{if .Err_Description}}ipt-error{{end}}" id="desc" name="desc" value="{{.desc}}" />
                <span class="form-label"></span>
                <span class="help">{{.i18n.Tr "org.team_desc_helper"}}</span>
            </div>
            {{if not (eq .Team.LowerName "owners")}}
            <div class="field">
                <h4 class="text-center">{{.i18n.Tr "org.team_permission_desc"}}</h4>
                <label></label>
                <input name="permission" type="radio" value="read" {{if or .PageIsOrgTeamsNew (eq .Team.Authorize 1)}}checked{{end}}> {{.i18n.Tr "org.teams.read_access"}}
                <label></label>
                <p class="text-grey note">{{.i18n.Tr "org.teams.read_access_helper"}}</p>
                <label></label>
                <input name="permission" type="radio" value="write" {{if eq .Team.Authorize 2}}checked{{end}}> {{.i18n.Tr "org.teams.write_access"}}
                <label></label>
                <p class="text-grey note">{{.i18n.Tr "org.teams.write_access_helper"}}</p>
                <label></label>
                <input name="permission" type="radio" value="admin" {{if eq .Team.Authorize 3}}checked{{end}}> {{.i18n.Tr "org.teams.admin_access"}}
                <label></label>
                <p class="text-grey note">{{.i18n.Tr "org.teams.admin_access_helper"}}</p>
            </div>
            <hr>
            {{end}}
            <div class="field">
                <label></label>
                {{if .PageIsOrgTeamsNew}}
                    <button class="btn btn-large btn-blue btn-radius">{{.i18n.Tr "org.create_new_team"}}</button>
                    <a class="btn btn-small btn-gray btn-radius" id="repo-create-cancel" href="{{.OrgLink}}/teams"><strong>{{.i18n.Tr "cancel"}}</strong></a>
                {{else}}
                    <button class="btn btn-large btn-green btn-radius">{{.i18n.Tr "org.teams.update_settings"}}</button>
                    {{if not (eq .Team.LowerName "owners")}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-large btn-red btn-radius" id="org-team-delete" href="#delete-team-modal">{{.i18n.Tr "org.teams.delete_team"}}</button>
                    <div class="white-popup-block mfp-hide" id="delete-team-modal">
                        <h1 class="text-red">{{.i18n.Tr "org.teams.delete_team_title"}}</h1>
                        <p>{{.i18n.Tr "org.teams.delete_team_desc"}}</p>
                        <br>
                        <button class="btn btn-red btn-large btn-radius" id="delete-team-submit">{{.i18n.Tr "settings.continue"}}</button>
                        <button class="btn btn-large btn-radius popup-modal-dismiss">{{.i18n.Tr "settings.cancel"}}</button>
                    </div>
                    {{end}}
                {{end}}
            </div>
        </div>
    </form>
</div>
{{template "ng/base/footer" .}}