{{template "base/head" .}}
<div class="organization teams">
	{{template "org/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<div class="ui grid">
			{{template "org/team/sidebar" .}}
			<div class="ui ten wide column">
				<div class="ui top attached header">
					{{.i18n.Tr "org.teams.repositories"}}
				</div>
				<div class="ui attached table segment repositories">
					{{$canAddRemove := and $.IsOrganizationOwner (not (eq $.Team.LowerName "owners"))}}
					{{range .Team.Repos}}
						<div class="item">
							{{if $canAddRemove}}
								<a class="ui red small button right" href="{{$.OrgLink}}/teams/{{$.Team.LowerName}}/action/repo/remove?repoid={{.ID}}">{{$.i18n.Tr "org.teams.remove_repo"}}</a>
							{{end}}
							<a class="member" href="{{AppSubURL}}/{{$.Org.Name}}/{{.Name}}">
								<i class="octicon octicon-{{if .IsPrivate}}lock{{else if .IsFork}}repo-forked{{else if .IsMirror}}repo-clone{{else}}repo{{end}}"></i>
								<strong>{{$.Org.Name}}/{{.Name}}</strong>
							</a>
						</div>
					{{end}}
				</div>
				{{if $canAddRemove}}
					<div class="ui bottom attached segment">
						<form class="ui form" id="add-repo-form" action="{{$.OrgLink}}/teams/{{$.Team.LowerName}}/action/repo/add" method="post">
							{{.CSRFTokenHTML}}
							<div class="inline field ui left">
								<div id="search-repo-box" data-uid="{{.Org.ID}}">
									<div class="ui input">
										<input class="prompt" name="repo_name" placeholder="{{.i18n.Tr "org.teams.search_repo_placeholder"}}" autocomplete="off" required>
									</div>
									<div class="ui segment results hide"></div>
								</div>
							</div>
							<button class="ui green button">{{.i18n.Tr "org.teams.add_team_repository"}}</button>
						</form>
					</div>
				{{end}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
