{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
{{template "org/base/header" .}}
<div id="setting-wrapper" class="main-wrapper">
    <div id="team-members-list" class="container clear">
		{{template "ng/base/alert" .}}
		{{template "org/team/sidebar" .}}
		<div class="grid-2-3 left">
			<div class="setting-content">
				<div class="panel panel-radius">
					<div class="panel-header">
						{{.i18n.Tr "org.teams.repositories"}}
					</div>
					{{$canAddRemove := and $.IsOrganizationOwner (not (eq $.Team.LowerName "owners"))}}
                    <ul class="panel-body setting-list" id="team-repositories-list">
                    	{{if $canAddRemove}}
						<li class="search">
			                <form class="form form-align" action="{{$.OrgLink}}/teams/{{$.Team.LowerName}}/action/repo/add" id="repo-collab-form">
			                    {{.CsrfTokenHtml}}
                                <input class="ipt ipt-large ipt-radius" id="org-team-repositories-add" name="repo-name" autocomplete="off" data-uid="{{.Org.Id}}" required />
                                <button class="btn btn-blue btn-large btn-radius">{{.i18n.Tr "org.teams.add_team_repository"}}</button>
								<div class="repo-user-list-block">
									<ul class="menu-down-show menu-vertical menu-radius switching-list user-list" id="org-team-repositories-list"></ul>
								</div>
			                </form>
						</li>
						{{end}}
                		{{range .Team.Repos}}
                		<li class="collab">
                			{{if $canAddRemove}}
							<a class="btn btn-small btn-red btn-radius right" href="{{$.OrgLink}}/teams/{{$.Team.LowerName}}/action/repo/remove?repoid={{.ID}}">{{$.i18n.Tr "org.teams.remove_repo"}}</a>
							{{end}}
							<a class="member" href="{{AppSubUrl}}/{{$.Org.Name}}/{{.Name}}">
                                <i class="octicon octicon-{{if .IsPrivate}}lock{{else if .IsFork}}repo-forked{{else if .IsMirror}}repo-clone{{else}}repo{{end}}"></i>
							    <strong>{{$.Org.Name}}/{{.Name}}</strong>
							</a>
                		</li>
                		{{end}}
                    </ul>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "ng/base/footer" .}}