<div class="ui six wide column">
	<h4 class="ui top attached header">
		<strong>{{.Team.Name}}</strong>
		<div class="ui right">
			{{if .Team.IsMember $.LoggedUser.ID}}
				<a class="ui red tiny button" href="{{.OrgLink}}/teams/{{.Team.LowerName}}/action/leave?uid={{$.LoggedUser.ID}}&page=team">{{$.i18n.Tr "org.teams.leave"}}</a>
			{{else if .IsOrganizationOwner}}
				<a class="ui blue tiny button" href="{{.OrgLink}}/teams/{{.Team.LowerName}}/action/join?uid={{$.LoggedUser.ID}}&page=team">{{$.i18n.Tr "org.teams.join"}}</a>
			{{end}}
		</div>
	</h4>
	<div class="ui attached table segment detail">
		<div class="item">
			{{if .Team.Description}}
				{{.Team.Description}}
			{{else}}
				<span class="text grey italic">{{.i18n.Tr "org.teams.no_desc"}}</span>
			{{end}}
		</div>
		<div class="item">
			<a href="{{.OrgLink}}/teams/{{.Team.LowerName}}"><span class="octicon octicon-person"></span> <strong>{{.Team.NumMembers}}</strong> {{$.i18n.Tr "org.lower_members"}}</a> ·
			<a href="{{.OrgLink}}/teams/{{.Team.LowerName}}/repositories"><span class="octicon octicon-repo"></span> <strong>{{.Team.NumRepos}}</strong> {{$.i18n.Tr "org.lower_repositories"}}</a>
		</div>
		<div class="item">
			{{if eq .Team.LowerName "owners"}}
				{{.i18n.Tr "org.teams.owners_permission_desc" | Str2html}}
			{{else if (eq .Team.Authorize 1)}}
				{{.i18n.Tr "org.teams.read_permission_desc" | Str2html}}
			{{else if (eq .Team.Authorize 2)}}
				{{.i18n.Tr "org.teams.write_permission_desc" | Str2html}}
			{{else if (eq .Team.Authorize 3)}}
				{{.i18n.Tr "org.teams.admin_permission_desc" | Str2html}}
			{{end}}
		</div>
	</div>
	{{if .IsOrganizationOwner}}
		<div class="ui bottom attached segment">
			<a class="ui teal small button" href="{{.OrgLink}}/teams/{{.Team.LowerName}}/edit"><span class="octicon octicon-gear"></span> {{$.i18n.Tr "org.teams.settings"}}</a>
		</div>
	{{end}}
</div>
