{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
{{template "org/base/header" .}}
<div class="container">
	<div class="org-header-alert">
		{{template "ng/base/alert" .}}
	</div>
	<div class="org-toolbar clear">
		{{if .IsOrganizationOwner}}
        <a class="btn btn-green btn-large btn-link btn-radius right" href="{{.OrgLink}}/teams/new"><i class="octicon octicon-repo-create"></i> {{.i18n.Tr "org.create_new_team"}}</a>
		{{end}}
	</div>
	<div class="org-team-list">
		{{range .Teams}}
		<div class="org-team-list-item">
			<div class="panel panel-radius">
				<div class="panel-header">
					{{if .IsMember $.SignedUser.Id}}
                    <a class="btn btn-small btn-red btn-header btn-radius right" href="{{$.OrgLink}}/teams/{{.LowerName}}/action/leave?uid={{$.SignedUser.Id}}">{{$.i18n.Tr "org.teams.leave"}}</a>
                    {{else if $.IsOrganizationOwner}}
                    <a class="btn btn-small btn-blue btn-header btn-radius right" href="{{$.OrgLink}}/teams/{{.LowerName}}/action/join?uid={{$.SignedUser.Id}}">{{$.i18n.Tr "org.teams.join"}}</a>
                    {{end}}
                    <a class="text-black" href="{{$.OrgLink}}/teams/{{.LowerName}}"><strong>{{.Name}}</strong></a>
				</div>
				{{if .NumMembers}}
				<div class="panel-body member-avatar-group">
					{{range .Members}}
					<a href="{{AppSubUrl}}/{{.Name}}" title="{{.Name}}">
						<img src="{{.AvatarLink}}">
					</a>
					{{end}}
				</div>
				{{end}}
				<div class="panel-footer">
	    			<p class="team-meta">{{.NumMembers}} {{$.i18n.Tr "org.lower_members"}} · {{.NumRepos}} {{$.i18n.Tr "org.lower_repositories"}}</p>
				</div>
			</div>
		</div>
		{{end}}
	</div>
</div>
{{template "ng/base/footer" .}}