{{template "base/head" .}}
<div class="organization teams">
	{{template "org/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		{{if .IsOrganizationOwner}}
			<div class="text right">
				<a class="ui green button" href="{{.OrgLink}}/teams/new"><i class="octicon octicon-repo-create"></i> {{.i18n.Tr "org.create_new_team"}}</a>
			</div>
			<div class="ui divider"></div>
		{{end}}

		<div class="ui two column grid">
			{{range .Teams}}
				<div class="column">
					<div class="ui top attached header">
						<a class="text black" href="{{$.OrgLink}}/teams/{{.LowerName}}"><strong>{{.Name}}</strong></a>
						<div class="ui right">
							{{if .IsMember $.LoggedUser.ID}}
								<a class="ui red small button" href="{{$.OrgLink}}/teams/{{.LowerName}}/action/leave?uid={{$.LoggedUser.ID}}">{{$.i18n.Tr "org.teams.leave"}}</a>
							{{else if $.IsOrganizationOwner}}
								<a class="ui blue small button" href="{{$.OrgLink}}/teams/{{.LowerName}}/action/join?uid={{$.LoggedUser.ID}}">{{$.i18n.Tr "org.teams.join"}}</a>
							{{end}}
						</div>
					</div>
					<div class="ui attached segment members">
						{{range .Members}}
							<a href="{{.HomeLink}}" title="{{.Name}}">
								<img class="ui avatar image" src="{{.RelAvatarLink}}">
							</a>
						{{end}}
					</div>
					<div class="ui bottom attached header">
						<p class="team-meta">{{.NumMembers}} {{$.i18n.Tr "org.lower_members"}} · {{.NumRepos}} {{$.i18n.Tr "org.lower_repositories"}}</p>
					</div>
				</div>
			{{end}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
