<div class="four wide column">
	<div class="ui vertical menu">
		<div class="header item">{{.i18n.Tr "explore"}}</div>
		<a class="{{if .PageIsExploreRepositories}}active{{end}} item" href="{{AppSubUrl}}/explore">
			{{.i18n.Tr "explore.repos"}}
		</a>
	</div>
</div>