<div class="ui repository list">
	{{range .Repos}}
		<div class="item">
			<div class="ui header">
				<a class="name" href="{{AppSubURL}}/{{if .Owner}}{{.Owner.Name}}{{else if $.Org}}{{$.Org.Name}}{{else}}{{$.Owner.Name}}{{end}}/{{.Name}}">{{if $.PageIsExplore}}{{.Owner.Name}} / {{end}}{{.Name}}</a>
				{{if .IsPrivate}}
					<span class="text gold"><i class="octicon octicon-lock"></i></span>
				{{else if .IsFork}}
					<span><i class="octicon octicon-repo-forked"></i></span>
				{{else if .IsMirror}}
					<span><i class="octicon octicon-repo-clone"></i></span>
				{{end}}

				<div class="ui right metas">
					<span class="text grey"><i class="octicon octicon-star"></i> {{.NumStars}}</span>
					<span class="text grey"><i class="octicon octicon-git-branch"></i> {{.NumForks}}</span>
				</div>
			</div>
			{{if .Description}}<p class="has-emoji">{{.Description | Str2html}}</p>{{end}}
			<p class="time">{{$.i18n.Tr "org.repo_updated"}} {{TimeSince .Updated $.i18n.Lang}}</p>
		</div>
	{{end}}
</div>
