{{template "base/head" .}}
<div class="explore">
	<div class="ui container">
		<div class="ui grid">
			{{template "explore/nav" .}}
			<div class="twelve wide column content">
				<h4 class="ui top attached header">
					Repositories
				</h4>
				<div class="ui attached segment">
					{{range $i, $v := .Repos}}
						<div class="item">
							<div class="ui right">
								<span class="text grey right"><i class="octicon octicon-star"></i> {{.NumStars}}</li> </span>
								<span class="text grey right"><i class="octicon octicon-git-branch"></i> {{.NumForks}}</li></span>
							</div>
							<h2>
								<a href="{{AppSubUrl}}/{{.Owner.Name}}/{{.Name}}">{{.Owner.Name}} / {{.Name}}</a>
							</h2>
							<p class="org-repo-description">{{.Description}}</p>
							<p class="org-repo-updated">{{$.i18n.Tr "org.repo_updated"}} {{TimeSince .Updated $.i18n.Lang}}</p>
						</div>
						{{if not (eq 1 (len $.Repos))}}
							{{if not $i}}
								<div class="ui divider"></div>
							{{end}}
						{{end}}
					{{end}}
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
